<div class="row d-flex justify-content-around">
    <div class="card mt-2" style="width: 25rem;">
        <img  src="images/25.jpg.webp" class="card-img-top mt-2" alt="...">
        <div class="card-body mt-3">
            <span
                style=" padding: 8px 12px; background-color:rgb(175, 32, 34); color: white; border-radius: 12px;">
                Business Spotlight
            </span>
            <h5 class="card-title mt-3">Optimizing Sales</h5>
            <p class="card-text">
                Are you looking to recruit top-tier FinTech developers for your startup
            </p>
            <div class="d-flex">
                <div><img width="50px" height="42px" class="img-fluid" src="images/logo2.png" alt="">
                </div>
                <div style="margin-left: 12px;">
                    <div style="font-size: 16px; font-weight: 700;">Jane Martin</div>
                    <div style="color: #555659 !important;">Aug 4 2023</div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-2" style="width: 25rem;">
        <img src="images/15-1.jpg.webp" class="card-img-top mt-2" alt="...">
        <div class="card-body mt-3">
            <span
                style="padding: 8px 12px; background-color:rgb(175, 32, 34); color: white; border-radius: 12px;">Retails/Products</span>
            <h5 class="card-title mt-3">Driving Business</h5>
            <p class="card-text">
                Ready to unleash your business's growth potential? Salesforce Solution is the key
            </p>
            <div class="d-flex">
                <div><img width="50px" height="42px" class="img-fluid" src="images/logo2.png" alt="">
                </div>
                <div style="margin-left: 12px;">
                    <div style="font-size: 16px; font-weight: 700;">Gilbert Adam</div>
                    <div style="color: #555659 !important;">July 27 2023</div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-2" style="width: 25rem;">
        <img src="images/19.jpg.webp" class="card-img-top mt-2" alt="...">
        <div class="card-body mt-3">
            <span
                style="padding: 8px 12px; background-color:rgb(175, 32, 34); color: white; border-radius: 12px;">Company
                Updates</span>
            <h5 class="card-title mt-3">Dev's Community</h5>
            <p class="card-text">
                Seeking to elevate your project's achievements and attain optimal outcomes?
            </p>
            <div class="d-flex">
                <div><img width="50px" height="42px" class="img-fluid" src="images/logo2.png" alt="">
                </div>
                <div style="margin-left: 12px;">
                    <div style="font-size: 16px; font-weight: 700;">Emily Johnson</div>
                    <div style="color: #555659 !important;">Aug 4 2023</div>
                </div>
            </div>
        </div>
    </div>
</div>