<div class="row justify-content-center mt-5 mb-5" id="BEST">
    <div class="col-lg-7 col-md-7 col-sm-10 text-center">
        <!-- <img class="img-fluid" src="images/Newsletter_img.png" alt=""> -->
        <H1 style="margin-top:18% ; color: white;">
            <heading> SSL SOLUTIONS is the best place to build your tech team.</heading>
        </H1>
        <!-- ---------------------input field------------------------- -->
        <!--  -->
    </div>

    <div class="row justify-content-center">

        <div class="col-lg-5 col-sm-11" id="MAIN">
            <div class="input-container">
                <i class="fas fa-envelope">&nbsp;&nbsp;&nbsp;&nbsp; </i> <input id="INNER" type="text"
                    placeholder="Enter your Email" name="email">
            </div>
        </div>


        <!-- <div class="col-lg-5 col-sm-8"> <input type="" class="HH" name=""
                placeholder="&#xF32C;   Your Email"></div> -->

        <div id="COM" class="col-lg-2 col-md-3 col-sm-5 ">Send</div>
    </div>

</div>