
<div class="container-fluid bg-dark pt-3 pb-3">
    <a class="navbar-brand text-white" href="#"><img width="200px" height="110px" class="img-fluid"
            src="images/Logo updeted.png" alt=""></a>
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" href="#" id="GETNOWNAV">
                    <i class="bi bi-file-check-fill"></i> <span>Get Hired Now!</span>
                </a>
            </li>
            <li class="nav-item col-">
                <a class="nav-link  text-light" href="#" id="GETNOWNAV">
                    <i class="bi bi-file-earmark-fill"></i>Add Personal Info
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  text-light" href="#" id="GETNOWNAV">
                    <i class="bi bi-book-fill"></i> <span>Ready, Set, Join!</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  text-light" href="#" id="GETNOWNAV">
                    <div class="col-12 text-center justify-content-center">Valued By:</div>
                    <div class="col-12  mt-2" id="IFLEXNAV">
                        <!-- <span>
                  <img class="img-fluid" width="60px" height="60px" src="images/2.png" alt="" />
              </span>
              <span>
                  <img src="images/4.png" width="60px" height="60px" alt="" />
              </span>
              <span>
                  <img src="images/3.png" width="60px" height="60px" alt="" />
              </span> -->
                        <div><img width="100px" height="72px" class="img-fluid" src="images/SSL Group logo3.png"
                                alt=""></div>
                        <!-- <img width="200px" height="145px" class="img-fluid" src="images/SSL Group logo3.png" alt=""> -->
                    </div>

                </a>
            </li>

        </ul>

    </div>
</div>


<div class="row">
    <div class="col-lg-3" id="h">
        <div class="row justify-content-around">
            <div class="col-12 mt-3">
                <img class="img-fluid" width="200px" height="38px" src="images/Logo updeted.png"
                    alt="" />
            </div>
            <div class="col-12 mt-5" id="GETNOW">
                <img src="images/tick_white-.svg" alt="" /> Get Hired Now!
            </div>
            <div class="col-12" id="GETNOW">
                <img src="images/tick_white-.svg" alt="" /> Add Personal Info
            </div>
            <div class="col-12" id="GETNOW">
                <img src="images/ready_white.svg" alt="" /> Ready, Set, Join!
            </div>
            <div id="MAR"></div>
            <div class="col-12 text-center" id="GETNOW">Valued By:</div>
            <div class="col-10" id="IFLEX">
                <img width="200px" height="145px" class="img-fluid" src="images/SSL Group logo2.png"
                    alt="">
            </div>
        </div>
    </div>
</div>