<div class="container-fluid m-2">
    <div class="row p-0 mt-2 ">
        <div class="col-md-12 col-lg-12 col-12">
            <div class="row  justify-content-evenly" >
                <div class="col-lg-2 col-md-4 col-6">
                    <a href="#">
                        <img class="img-fluid " src="images/Logo updeted.png" alt="#">
                    </a>
                </div>
                <div class="col-lg-4 col-md-12 col-10 col-sm-12 my-lg-0 my-4">
                    <div class="row justify-content-evenly" id="SOCIAL-ICONS">
                        <div class="col-lg-2 col-md-1 col-2 col-sm-2 p-1 ">
                            <a  style="color: white; font-size: 20px;" target="new" href="https://www.facebook.com/sslsolution.net"><i class="bi bi-facebook"></i></a>
                        </div>
                        <div class="col-lg-2 col-md-1 col-2 col-sm-2 p-1 ">
                            <a  style="color: white; font-size: 20px;" target="new" href="https://www.linkedin.com/in/ssl-solutions-72374621b/"><i class="bi bi-linkedin"></i></a>
                        </div>
                        <div class="col-lg-2 col-md-1 col-2 col-sm-2 p-1 ">
                            <a  style="color: white; font-size: 20px;" target="new" href="skype:live:.cid.8ff99dafcd6e61c4"><i class="bi bi-skype"></i></a>
                        </div>
                        <div class="col-lg-2 col-md-1 col-2 col-sm-2 p-1 ">
                            <a  style="color: white; font-size: 20px;" target="new" href="https://www.instagram.com/sslsolutions22/"><i class="bi bi-instagram"></i></a>
                        </div>
                        <div class="col-lg-2 col-md-1 col-2 col-sm-2 p-1 ">
                            <a  style="color: white; font-size: 20px;" target="new"  href="https://api.whatsapp.com/send?phone=923444997389"><i class="bi bi-whatsapp"></i></a>
                        </div>
                    </div>
                    <!-- 
                         <div class="col-lg-2 col-md-1 col-2 col-sm-2 p-1 ">
                            <a  style="color: white; font-size: 20px;" target="new" href="https://www.facebook.com/sslsolution.net"><i class="bi bi-facebook"></i></a>
                        </div>
                         <div class="col-lg-2 col-md-1 col-2 col-sm-2 p-1 ">
                            <a  style="color: white; font-size: 20px;" target="new" href="https://www.facebook.com/sslsolution.net"><i class="bi bi-linkedin"></i></a>
                        </div>
                        <div class="col-lg-2 col-md-1 col-2 col-sm-2 p-1 ">
                            <a  style="color: white; font-size: 20px;" target="new" href="https://www.facebook.com/sslsolution.net"><i class="bi bi-facebook"></i></a>
                        </div>
                        <div class="col-lg-2 col-md-1 col-2 col-sm-2 p-1 ">
                            <a  style="color: white; font-size: 20px;" target="new" href="https://www.facebook.com/sslsolution.net"><i class="bi bi-instagram"></i></a>
                        </div>
                         <div class="col-lg-2 col-md-1 col-2 col-sm-2 p-1 ">
                            <a  style="color: white; font-size: 20px;" target="new" href="https://www.facebook.com/sslsolution.net"><i class="bi bi-whatsapp"></i></a>
                        </div>
                     -->
                </div>
                <div class="col-lg-6  col-md-12  text-white ">
                    <div class="row justify-content-lg-end justify-content-md-evenly">
                        <div class="col-lg-2 col-md-2 col-2 mt-2 p-0">
                            <div class="small-box ">Trusted by: </div>
                        </div>
                        <div class="col-md-2 col-2 p-0">
                            <a href="#" target="_blank" class="text-decoration-none">
                                <div class="small-box">
                                    <img class="img-fluid" style="height: 50px;" src="images/SSL Group logo white.png">
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-4 mt-2 ">
                            <a href="#" target="_blank" class="text-decoration-none">
                                <div class="small-box">
                                    <img class="img-fluid" width="40px" height="37px" src="images/Digital Explorers.png">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="horizontal-line"></div>
    <div class="row">
        <div class="col-lg-2 col-md-6 col-sm-6 text-start text-white">
            <h4 class="mb-3 font-weight-bolder">Company </h4>
            <a href="/news" class="link-light text-decoration-none position-relative">
                Newsletter
                <div class="animation-line"></div>
            </a><br>
            <a href="/internship" class="mb-3 link-light text-decoration-none position-relative">
                Global Internship Program
                <div class="animation-line"></div>
            </a><br>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                Technical RecruiterProgram
                <div class="animation-line"></div>
            </a><br>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                Referral Program
                <div class="animation-line"></div>
            </a><br>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                Affiliate Program
                <div class="animation-line"></div>
            </a><br>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                Events
                <div class="animation-line"></div>
            </a><br>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                Specialized Services
                <div class="animation-line"></div>
            </a><br><br><br>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 text-start text-white">
            <h5 class="mb-3">On Demand Talent</h5>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                Hire a Developer
                <div class="animation-line"></div>
            </a><br>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                Hire a Designer
                <div class="animation-line"></div>
            </a><br>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                Hire a Marketer
                <div class="animation-line"></div>
            </a><br>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                Hire a Project Manager
                <div class="animation-line"></div>
            </a><br>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                Hire a Product Manager
                <div class="animation-line"></div>
            </a><br>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                Hire a Project Consultant
                <div class="animation-line"></div>
            </a><br>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                Hire a Team
                <div class="animation-line"></div>
            </a>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 text-start text-white">
            <h5 class="mb-3">About</h5>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                Pricing
                <div class="animation-line"></div>
            </a><br>
            <a href="#" class="mb-3 link-light text-decoration-none text-decoration-none position-relative">
                Blogs
                <div class="animation-line"></div>
            </a><br>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                About Us
                <div class="animation-line"></div>
            </a><br>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                Careers
                <div class="animation-line"></div>
            </a><br>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                Apply as Talent
                <div class="animation-line"></div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 text-start text-white">
            <h5 class="mb-3">Technology Services</h5>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                Salesforce Consulting
                <div class="animation-line"></div>
            </a><br>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                AI and ML
                <div class="animation-line"></div>
            </a><br>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                DevOps
                <div class="animation-line"></div>
            </a><br>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                IoT
                <div class="animation-line"></div>
            </a><br>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                Data Science
                <div class="animation-line"></div>
            </a><br>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                Cloud Computing
                <div class="animation-line"></div>
            </a><br>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                Blockchain
                <div class="animation-line"></div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 text-start text-white">
            <h5 class="mb-3">Contact</h5>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                Contact Us
                <div class="animation-line"></div>
            </a><br>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                Help Center
                <div class="animation-line"></div>
            </a><br>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                Developer support
                <div class="animation-line"></div>
            </a><br>
            <a href="#" class="mb-3 link-light text-decoration-none position-relative">
                Customer support
                <div class="animation-line"></div>
            </a>
        </div>
    </div>
    <div class="horizontal-line"></div>
    <div class="row text-start">
        <div class="col-lg-4 justify-content-start align-items-start col-md-6 col-sm-6 text-white">
            <p> © 2023 SSL Solutions. All rights reserved.</p>
        </div>
        <div class="col-lg-5"></div>
        <div class="col-lg-3 col-mg-6 col-sm-12">
            <a href="#" class="text-decoration-none p-2 link-light text-white ">
                <span>
                    Site Map
                </span>
            </a>
            <a href="#" class="text-decoration-none p-2 link-light text-white">
                <span>
                    Privecy Policy
                </span>
            </a>
        </div>
    </div>
</div>