     <div class="started-container">
      <h1>How to Get Started with SSL Solutions</h1>
      <p>
        Our simple process get you working with the right resource quickly and
        seamlessly
      </p>
      <div class="started-steps">
        <div class="startedStepsCont">
          <span class="step-1">1</span> <br> <br> 
          <h4>Consult our Industry Expert Resource</h4>
          <p>
            We will assign you an expert to work according to the set pattern of
            your goals, technical needs and dynamics.
          </p>
        </div>
        <div class="startedStepsCont">
          <span class="step-2">2</span> <br> <br> 
          <h4>Start working with Right Talent</h4>
          <p>
            Within hours, we will schedule a meeting to deliver you the right
            talent for your project. An average time of 24 hours is required.
          </p>
        </div>
        <div class="startedStepsCont">
          <span class="step-3">3</span> <br> <br> 
          <h4>Lead your Project Successfully</h4>
          <p>
            Start your project with a new talent according to set terms and
            conditions. We ensure the right fit for your investment.
          </p>
        </div>
      </div>
    </div>
    