<div class="container-fluid">
  <a class="navbar-brand text-white" href="/"
  ><img class="img-fluid" width="200px" height="110px" src="images/Logo updeted.png"
/></a>
  <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse bg-dark" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link bg-dark text-light mx-1" href="pricing">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  bg-dark text-light mx-1" href="jobs">Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  bg-dark text-light mx-1" href="blogs">Blogs</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link bg-dark text-light mx-1" href="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bg-dark text-light mx-1" href="contact-us">Contact Us</a>
      </li>
     
      
    </ul>
    <form class="d-flex" role="search" action="/" method="get">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item mx-3">
        <a class="nav-link bg-dark text-light" href="signup"><button type="button" name="roles" class="btn" value="Buyer" id="BUTTON1"><b>Buyer</b></button></a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link bg-dark text-light" href="signup"><button type="button" class="btn"  name="roles"  value="Seller" id="BUTTON2"><b>Seller</b></button></a>
      </li> 
    </ul>
    </form>
  </div>
</div>