<nav class="nav-mine container-mine">
   <div class="nav__data-mine">
      <a href="/" class="nav__logo">
         <img id="IMG1" width="260px" height="50px" src="images/Logo updeted.png" />
      </a>
      <a href="/" class="nav__logo">
         <img id="IMG2" width="160px" height="30px" src="images/Logo updeted.png" />
      </a>

      <div class="nav__togglemine" id="nav-togglemine">
         <i class="ri-menu-line nav__burger"></i>
         <i class="ri-close-line nav__close"></i>
      </div>
   </div>

   <!--=============== NAV MENU ===============-->
   <div class="nav__menu" id="nav-menu">
      <ul class="nav__listmine">
         <li><a href="/about" class="nav__linkmine">About</a></li>

         <li><a href="/jobs" class="nav__linkmine">Jobs</a></li>

         <li><a href="/pricing" class="nav__linkmine">Pricing</a></li>

         <li><a href="/blogs" class="nav__linkmine">Blogs</a></li>

         <li><a href="/Contact-Us" class="nav__linkmine" id="CONTACT">Contact Us</a></li>

         <li><a href="/signup" class="nav__linkmine">Apply as Talent</a></li> 
         <li><a href="/login" class="nav__linkmine">Login</a></li>

         <!--=============== DROPDOWN 2 ===============-->
   
         <li><a href="/signup" class="nav__linkmine">
               <div id="BUTTONMINE">Hire Talent</div>
            </a></li>

      </ul>
   </div>
   
</nav>