<!-- 










<div class="container-fluid">
  <a class="navbar-brand text-white" href="/"
  ><img class="img-fluid" width="200px" height="110px" src="images/Logo updeted.png"
/></a>
  <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse bg-dark" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link bg-dark text-light mx-1" href="pricing">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  bg-dark text-light mx-1" href="jobs">Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  bg-dark text-light mx-1" href="blogs">Blogs</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link bg-dark text-light mx-1" href="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bg-dark text-light mx-1" href="contact-us">Contact Us</a>
      </li>
       
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown
        </a>
        <ul class="dropdown-menu bg-dark text-light" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item text-light" href="#">Action</a></li>
          <li><a class="dropdown-item text-light" href="#">Another action</a></li>
          <li><hr class="dropdown-divider text-light">dwdqqw</li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
      
     
      
    </ul>
    <form class="d-flex" role="search">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item mx-3">
        <a class="nav-link bg-dark text-light" href="signup"><button type="button" class="btn" id="BUTTON1"><b>Buyer</b></button></a>
        
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link bg-dark text-light" href="signup"><button type="button" class="btn" id="BUTTON2"><b>Seller</b></button></a>
      </li>
    </ul>
    </form>
  </div>
</div> -->

<nav class="nav container">
  <div class="nav__data">
     <a href="#" class="nav__logo">
        <img id="IMG1" width="260px" height="50px" src="images/Logo updeted.png"/>
      </a>
      <a href="#" class="nav__logo">
        <img  id="IMG2" width="160px" height="30px" src="images/Logo updeted.png"/>
      </a>
     
     <div class="nav__toggle" id="nav-toggle">
        <i class="ri-menu-line nav__burger"></i>
        <i class="ri-close-line nav__close"></i>
     </div>
  </div>

  <!--=============== NAV MENU ===============-->
  <div class="nav__menu" id="nav-menu">
     <ul class="nav__list">
        <li><a href="#" class="nav__link">About</a></li>

        <li><a href="#" class="nav__link">Jobs</a></li>

        <li><a href="#" class="nav__link">Pricing</a></li>

        <li><a href="#" class="nav__link">Blogs</a></li>

        <li><a href="#" class="nav__link" id="CONTACT">Contact Us</a></li>

        <li><a href="#" class="nav__link">Apply as Talent</a></li>

         <!--=============== DROPDOWN 2 ===============-->
         <li class="dropdown__item">
           <div class="nav__link">
              Login <i class="ri-arrow-down-s-line dropdown__arrow"></i>
           </div>

           <ul class="dropdown__menu">
              <li>
                 <a href="#" class="dropdown__link">
                    <!-- <i class="ri-user-line"></i> Profiles -->
                    <span><img class="img-fluid" height="25px" width="25px" src="images/icon-01.png" alt=""></span>
                    <span style="color: rgb(175, 32, 34);"> Apply as Talent</span>
                 </a>                          
              </li>

              <li>
                 <a href="#" class="dropdown__link">
                    Login<span style="visibility: hidden;">fchfgchfchfg</span>
                 </a>
              </li>

              <li>
                 <a href="#" class="dropdown__link">
                    <!-- <i class="ri-message-3-line"></i> Create an account -->
                    Create account
                 </a>
              </li>
              <li>
                 <a href="#" class="dropdown__link">
                    <!-- <i class="ri-user-line"></i> Profiles -->
                    <span><img class="img-fluid" height="25px" width="25px" src="images/5111453-200-01.png" alt=""></span>
                    <span style="color: rgb(175, 32, 34);"> Hire Talent</span>
                 </a>                          
              </li>

              <li>
                 <a href="#" class="dropdown__link">
                    Login<span style="visibility: hidden;">fchfgchfchfg</span>
                 </a>
              </li>

              <li>
                 <a href="#" class="dropdown__link">
                    <!-- <i class="ri-message-3-line"></i> Create an account -->
                    Create account
                 </a>
              </li>
           </ul>
        </li>

        <li><a href="#" class="nav__link" >
           <div id="BUTTON">Hire Talent</div>
        </a></li>


        
        

       

       
     </ul>
  </div>
</nav>