
    <nav class="nav-mine container-mine">
       <div class="nav__data-mine">
          <a href="/" class="nav__logo">
             <img id="IMG1" width="260px" height="50px" src="images/Logo updeted 2.png"/>
           </a>
           <a href="/" class="nav__logo">
             <img  id="IMG2" width="160px" height="30px" src="images/Logo updeted.png"/>
           </a>
          
          <div class="nav__togglemine" id="nav-togglemine">
             <i class="ri-menu-line nav__burger"></i>
             <i class="ri-close-line nav__close"></i>
          </div>
       </div>

       <!--=============== NAV MENU ===============-->
       <div class="nav__menu" id="nav-menu">
          <ul class="nav__listmine">
             <li><a href="/about" class="nav__linkmine">About</a></li>

             <li><a href="/jobs" class="nav__linkmine">Jobs</a></li>

             <li><a href="/pricing" class="nav__linkmine">Pricing</a></li>

             <li><a href="/Blogs" class="nav__linkmine">Blogs of haris</a></li>

             <li><a href="/contact_us" class="nav__linkmine" id="CONTACT">Contact Us</a></li>

             <li><a href="/signup" class="nav__linkmine">Apply as Talent</a></li>

              <!--=============== DROPDOWN 2 ===============-->
              <li class="dropdown__itemmine">
                <div class="nav__linkmine">
                   Login <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                </div>

                <ul class="dropdown__menumine">
                   <li>
                      <a href="#" class="dropdown__linkmine">
                         <!-- <i class="ri-user-line"></i> Profiles -->
                         <span><img class="img-fluid" height="25px" width="25px" src="images/icon-01.png" alt=""></span>
                         <span style="color: rgb(175, 32, 34);"> Apply as Talent</span>
                      </a>                          
                   </li>

                   <li>
                      <a href="#" class="dropdown__linkmine">
                         Login<span style="visibility: hidden;"></span>
                      </a>
                   </li>

                   <li>
                      <a href="#" class="dropdown__linkmine">
                         <!-- <i class="ri-message-3-line"></i> Create an account -->
                         Create account
                      </a>
                   </li>
                   <li>
                      <a href="#" class="dropdown__linkmine">
                         <!-- <i class="ri-user-line"></i> Profiles -->
                         <span><img class="img-fluid" height="25px" width="25px" src="images/5111453-200-01.png" alt=""></span>
                         <span style="color: rgb(175, 32, 34);"> Hire Talent</span>
                      </a>                          
                   </li>

                   <li>
                      <a href="/login" class="dropdown__linkmine">
                         Login<span style="visibility: hidden;">fchfHgchfchfg</span>
                      </a>
                   </li>

                   <li>
                      <a href="/signup" class="dropdown__linkmine">
                         <!-- <i class="ri-message-3-line"></i> Create an account -->
                         Create account
                      </a>
                   </li>
                </ul>
             </li>

             <li><a href="#" class="nav__linkmine" >
                <div id="BUTTONMINE">Hire Talent</div>
             </a></li>


             
             

            

            
          </ul>
       </div>
    </nav>
