<li class="dropdown__itemmine">
    <div class="nav__linkmine">
       Login <i class="ri-arrow-down-s-line dropdown__arrow"></i>
    </div>
    <ul class="dropdown__menumine">
       <li>
          <a href="signup"  class="dropdown__linkmine">
             <!-- <i class="ri-user-line"></i> Profiles -->
             <span><img class="img-fluid" height="25px" width="25px" src="images/icon-01.png" alt=""></span>
             <span style="color: rgb(175, 32, 34);"> Apply as Talent</span>
          </a>
       </li>
       <li>
          <a href="login" class="dropdown__linkmine">
             Login<span style="visibility: hidden;">fchfgchfchfg</span>
          </a>
       </li>

       <li>
          <a href="signup" class="dropdown__linkmine">
             <!-- <i class="ri-message-3-line"></i> Create an account -->
             Create account
          </a>
       </li>

       
       <li>
          <a href="signup" id="sigup"  aria-valuetext="Buyer" class="dropdown__linkmine">
             <!-- <i class="ri-user-line"></i> Profiles -->
             <span><img class="img-fluid" height="25px" width="25px" src="images/5111453-200-01.png"
                   alt=""></span>
             <span style="color: rgb(175, 32, 34);"> Hire Talent</span>
          </a>
       </li>
       <li>
          <form action="/" method="post">
             <a href="login" class="dropdown__linkmine">
                Login<span style="visibility: hidden;">fchfHgchfchfg</span>
             </a>
          </form>
         
       </li>
       <li>
          <a href="signup" class="dropdown__linkmine">
             <!-- <i class="ri-message-3-line"></i> Create an account -->
             Create account
          </a>
       </li>
    </ul>
 </li>