<!-- <div class="slide-content">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                        <img src="images/16971731837780.png"
                            alt="" class="card-img">
                    </div>
                </div>
                <div class="card-content">
                    <h4 class="name">Sheikh Shoaib Liaqat</h4>
                    <p class="description">
                        <b style="color: red;">
                            
                        </b> Founder & CEO
                    </p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                        <img src="images/169717318377800.png"
                        alt="" class="card-img">
                </div>
            </div>
            <div class="card-content">
                <h4 class="name">Shumaila Riaz</h4>
                <p class="description">
                    <b style="color: red;">
                        <>
                    </b>
                   Managment
                </p>
                </div>
            </div> -->
            <!--  -->
          
            <!--  -->
            <!-- <div class="swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                        <img src="images/1697173271091.png"
                            alt="" class="card-img">
                    </div>
                </div>
                <div class="card-content">
                    <h4 class="name">M Haris</h4>
                    <p class="description">
                        <b style="color: red;">
                            <>
                        </b>
                       Front-End Developer
                    </p>
                </div>
            </div> -->
           
            
           
            <!--  -->
            <!-- <div class="swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                        <img src="images/1697193567862.png"
                            alt="" class="card-img">
                    </div>
                </div>
                <div class="card-content">
                    <h4 class="name">Mughira Khalid</h4>
                    <p class="description">
                        <b style="color: red;">
                            <>
                        </b>
                        Laravel Developer
                    </p>
                </div>
            </div> -->
             <!--  -->
          
            <!--  -->
            <!-- <div class="swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                        <img src="images/1697173107163.png " alt="" class="card-img">
                    </div>
                </div>
                <div class="card-content">
                    <h4 class="name">Ghulam Qadir</h4>
                    <p class="description">
                        <b style="color: red;">
                            <>
                        </b>
                        Shopify Developer
                    </p>
                </div>
            </div> -->
<!--             
        </div>
    </div>
    <div class="swiper-button-next swiper-navBtn"></div>
    <div class="swiper-button-prev swiper-navBtn"></div>
    <div class="swiper-pagination"></div>
</div> -->