<div class="slide-content">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                        <img src="https://letsremotify.com/wp-content/uploads/2023/09/Profile_01.png.webp"
                            alt="" class="card-img">
                    </div>
                </div>
                <div class="card-content">
                    <h4 class="name">sukhmandeep kuar</h4>
                    <p class="description">
                        <b style="color: red;">
                            <>
                        </b>
                        DevOps Engineer
                    </p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                        <img src="https://letsremotify.com/wp-content/uploads/2023/09/Profile_02-480x480.png.webp"
                            alt="" class="card-img">
                    </div>
                </div>
                <div class="card-content">
                    <h4 class="name">Roman Dozal</h4>
                    <p class="description">
                        <b style="color: red;">
                            <>
                        </b>
                        React.js Developer
                    </p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                        <img src="https://letsremotify.com/wp-content/uploads/2023/09/Profile_06-480x480.png.webp"
                            alt="" class="card-img">
                    </div>
                </div>
                <div class="card-content">
                    <h4 class="name">Bahaa Tenjor</h4>
                    <p class="description">
                        <b style="color: red;">
                            <>
                        </b>
                        Front-End Developer
                    </p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                        <img src="https://letsremotify.com/wp-content/uploads/2023/09/Profile_08-480x480.png.webp"
                            alt="" class="card-img">
                    </div>
                </div>
                <div class="card-content">
                    <h4 class="name">Cahah Mongol</h4>
                    <p class="description">
                        <b style="color: red;">
                            <>
                        </b>
                        Senior Software Engineer
                    </p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                        <img src="	https://letsremotify.com/wp-content/uploads/2023/09/Profile_05-480x480.png.webp"
                            alt="" class="card-img">
                    </div>
                </div>
                <div class="card-content">
                    <h4 class="name">Ahmed Lababi</h4>
                    <p class="description">
                        <b style="color: red;">
                            <>
                        </b>
                        Software Engineer
                    </p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                        <img src="https://letsremotify.com/wp-content/uploads/2023/09/Profile_03-480x480.png.webp"
                            alt="" class="card-img">
                    </div>
                </div>
                <div class="card-content">
                    <h4 class="name">Tobba Quifuiu</h4>
                    <p class="description">
                        <> UI/UX Degigner
                    </p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                        <img src="https://letsremotify.com/wp-content/uploads/2023/09/Profile_04-480x480.png.webp
                            " alt="" class="card-img">
                    </div>
                </div>
                <div class="card-content">
                    <h4 class="name">lazyy Ubilaginn</h4>
                    <p class="description">
                        <b style="color: red;">
                            <>
                        </b>
                        Data Analysts
                    </p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                        <img src="https://letsremotify.com/wp-content/uploads/2023/09/Profile_07-480x480.png.webp"
                            alt="" class="card-img">
                    </div>
                </div>
                <div class="card-content">
                    <h4 class="name">Akash Wanni</h4>
                    <p class="description">
                        <b style="color: red;">
                            
                        </b> .Net Develpor
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button-next swiper-navBtn"></div>
    <div class="swiper-button-prev swiper-navBtn"></div>
    <div class="swiper-pagination"></div>
</div>