<div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <h1>What Our Clients Have to Say</h1>
    <div class="carousel-item active">
      <!-- Testimonial 1 Content -->
      <img
        src="https://i.ibb.co/8x9xK4H/team.jpg"
        class="img-circle img-responsive"
        alt="Testimonial 1"
      />
      <p>
        I've been working with SSL Solutions for a few months now and couldn't
        be happier. They've saved me hours of work with their highly skilled
        remote developers, who are always available to quickly respond to my
        requests. The team has enabled me to create a web application that meets
        all of my needs. They've provided clear communication throughout the
        entire process and have gone above and beyond in helping me get the most
        out of my project.
      </p>
      <h4>Trevor Layon</h4>
    </div>
    <div class="carousel-item">
      <!-- Testimonial 2 Content -->
      <img
        src="https://randomuser.me/api/portraits/men/31.jpg"
        class="img-circle img-responsive"
        alt="Testimonial 2"
      />
      <p>
        I've been a client of SSL Solutions for the past year, and I'm extremely
        pleased with the results. The team has been able to quickly understand
        my business objectives and provide top-notch talent to help us reach our
        goals. Communication was smooth throughout the process, and their remote
        setup allows them to scale quickly when needed. On top of that, I've
        found their customer support team to be very responsive. Thanks!
      </p>
      <h4>Shokunbi Marda</h4>
    </div>
    <div class="carousel-item">
      <!-- Testimonial 3 Content -->
      <img
        src="https://randomuser.me/api/portraits/men/67.jpg"
        class="img-circle img-responsive"
        alt="Testimonial 3"
      />
      <p>
        I've been a client of SSL Solutions for the past year and I'm extremely
        pleased with the results. The team has been able to quickly understand
        my business objectives and provide top-notch talent to help us reach our
        goals. Communication was smooth throughout the process, and their remote
        setup allows them to scale quickly when needed. On top of that, I've
        found their customer support team to be very responsive. Thanks!
      </p>
      <h4>Kinan Mehmood</h4>
    </div>
    <!-- Add more carousel items as needed -->
  </div>
</div>
