<div class="row">
    <div class="col-lg-3" id="h">
        <div class="row justify-content-around">
            <div class="col-12 mt-3 justify-content-center">
                <img width="240px" height="53px" class="img-fluid" src="/images/logo.png" alt="" />
                <!--   -->
            </div>
            <a href="/talent/overview" style="text-decoration: none;">
                <div class="col-11 rounded mt-5" id="GETNOW">
                    <i class="bi bi-boxes"></i> <span>Overview</span>
                </div>
            </a>
            <a href="/talent/skilltest" style="text-decoration: none;">
                <div class="col-11 rounded" id="GETNOW">
                    <i class="fa-solid fa-network-wired"></i> <span>Skill Test</span>
                </div>
            </a>
            <div class="col-11 rounded" id="GETNOW-DISABLE">
                <i class="fa-solid fa-laptop"></i> Video Screening
            </div>
            <div class="col-11 rounded" id="GETNOW-DISABLE">
                <i class="fa-solid fa-square-check"></i>
                <span>Final Interview</span>
            </div>
            <div class="col-11 rounded" id="GETNOW-DISABLE">
                <i class="fa-solid fa-people-group"></i>
                <span>Network</span>
            </div>
            <div id="MAR"></div>
            <div class="col-12 text-center mb-3" id="VALUE-TEXT"><span class="LARGE">Valued By:</span></div>
            <div class="col-10" id="IFLEX">
                <img width="110px" height="79px" class="img-fluid" src="/images/SSL Group logo2.png"
                    alt="">
            </div>
        </div>
    </div>
</div>