<div class="container-fluid bg-dark pt-3 pb-3">
    <a class="navbar-brand text-white" href="#"><img  width="220px" height="42px" class="img-fluid"
            src="/images/logo.png" alt=""></a>
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" id="HEADING">
                <a class="nav-link active rounded" aria-current="page" href="/talent/profile" id="GETNOWNAV">
                    <i class="bi bi-boxes"></i> <span>Overview</span>
                </a>
            </li>
            <li class="nav-item col-">
                <a class="nav-link rounded" href="/skill" id="GETNOWNAV">
                    <i class="fa-solid fa-network-wired"></i> Skill Test
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded" href="#" id="GETNOWNAV-DISABLED">
                    <i class="fa-solid fa-laptop"></i> Video Screening
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded" href="#" id="GETNOWNAV-DISABLED">
                    <i class="fa-solid fa-square-check"></i> Final Interview
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded" href="#" id="GETNOWNAV-DISABLED">
                    <i class="fa-solid fa-people-group"></i>
                    Network
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link  text-light" href="#" id="GETNOWNAV-TEXT">
                    <div class="col-12 text-center justify-content-center">Valued By:</div>
                    <div class="col-12  mt-2" id="IFLEXNAV">

                        <div><img width="100px" height="72px" class="img-fluid" src="/images/SSL Group logo3.png"
                                alt=""></div>
                        <!-- <img width="200px" height="145px" class="img-fluid" src="images/SSL Group logo3.png" alt=""> -->
                    </div>

                </a>
            </li>

        </ul>

    </div>
</div>