<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>
    <!-- FOR  LOCAL  -->
    <!-- <link href="detail.css" rel="stylesheet" type="text/css" /> -->
    <link href="css/details.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
     integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" /> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- ----------------   CHATGPT     ----------- -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <!--------------------------    CHATGPT------------- -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>

<body>
    <!--  -->
    <!--  -->
    <nav class="navbar navbar-expand-lg bg-dark" id="NAV">
        <div class="container-fluid bg-dark pt-3 pb-3">
            <a class="navbar-brand text-white" href="#"><img width="200px" height="110px" class="img-fluid"
                    src="images/Logo updeted.png" alt=""></a>
            <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="#" id="GETNOWNAV">
                            <i class="bi bi-file-check-fill"></i> <span>Get Hired Now!</span>
                        </a>
                    </li>
                    <li class="nav-item col-">
                        <a class="nav-link  text-light" href="#" id="GETNOWNAV">
                            <i class="bi bi-file-earmark-fill"></i>Add Personal Info
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-light" href="#" id="GETNOWNAV">
                            <i class="bi bi-book-fill"></i> <span>Ready, Set, Join!</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-light" href="#" id="GETNOWNAV">
                            <div class="col-12 text-center justify-content-center">Valued By:</div>
                            <div class="col-12  mt-2" id="IFLEXNAV">
                                <div>
                                    <img width="100px" height="72px" class="img-fluid" src="images/SSL Group logo3.png"
                                        alt="">
                                </div>
                                <!-- <img width="200px" height="145px" class="img-fluid" src="images/SSL Group logo3.png" alt=""> -->
                            </div>

                        </a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>

    <!-- ----------------------------       bottom   ------------------- -->
    <div class="container-fluid" id="HAR">
        <div class="row justify-content-around">
            <div class="col-lg-3" id="HIDDEN">
                <div class="row">
                    <div class="col-lg-3" id="h">
                        <div class="row justify-content-around">
                            <div class="col-12 mt-3">
                                <img class="img-fluid" width="200px" height="38px" src="images/Logo updeted.png"
                                    alt="" />
                            </div>
                            <div class="col-12 mt-5" id="GETNOW">
                                <img src="images/tick_white-.svg" alt="" /> Get Hired Now!
                            </div>
                            <div class="col-12" id="GETNOW">
                                <img src="images/tick_white-.svg" alt="" /> Add Personal Info
                            </div>
                            <div class="col-12" id="GETNOW">
                                <img src="images/ready_white.svg" alt="" /> Ready, Set, Join!
                            </div>
                            <div id="MAR"></div>
                            <div class="col-12 text-center" id="GETNOW">Valued By:</div>
                            <div class="col-10" id="IFLEX">
                                <img width="200px" height="145px" class="img-fluid" src="images/SSL Group logo2.png"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---------------------------- RIGHT  ONE  ----------------------  -->
            <div class="col-lg-8  col-sm-11">
                <div class="row">
                    <div class="col-lg-12 col-11" id="j">
                        <!----------------------------  PART 2----------------------  -->
                        <div class="row mt-5" id="PART1">
                            <div class="col-lg-10">
                                <h2 id="HEAD"><b>Complete Your Sign Up: Stand Out!</b></h2>
                            </div>
<<<<<<< HEAD
                            <!----------------------------  PART 3----------------------  -->
                            <div class="col-12 mt-5 justify-content-center" id="PART2">
                                <div class="row justify-content-center">
                                    <div class="col-11 mt-3 mb-3 ml-2" id="PLZ">
                                        <h6><i class="bi bi-bell-fill text-center"></i> Please note that the selected
                                            category cannot be changed after completing the sign-up process.</h6>
                                    </div>
                                    <div class="col-sm-11 my-2">
                                        <h3 id="HEAD2">Choose Your Role:</h3>
                                    </div>
                                    <!-- -------------------------------    SECOND ROW     PART 4 ------------------------ -->


                                    <div class="row justify-content-evenly" id="radio-container">
                                        <div class="col-3 mb-4 text-center">

                                            <label  id="ICON-BOXES">
                                            <input type="radio" name="color" value="SOFTWAREDEVELOPER">
                                            <div><img class="img-fluid mb-2" src="images/soft.png" alt=""></div>
                                            <div>&nbsp; <b>SOFTWARE DEVELOPER</b></div>
                                        </label>
                                        </div>
                                        
                                        <div class="col-3 mb-4 text-center">

                                            <label  id="ICON-BOXES">
                                            <input type="radio" name="color" value="UI/UX DESIGNER">
                                            <div><img class="img-fluid mb-2" src="images/uidesigner.png" alt=""></div>
                                            <div>&nbsp; <b>UI/UX DESIGNER</b></div>
                                        </label>
                                        </div>
                                        <div class="col-3 mb-4 text-center">

                                            <label  id="ICON-BOXES">
                                            <input type="radio" name="color" value="MARKETING SPECIALIST">
                                            <div><img class="img-fluid mb-2" src="images/marketing.png" alt=""></div>
                                            <div>&nbsp; <b>MARKETING SPECIALIST</b></div>
                                        </label>
                                        </div>
                                        <div class="col-3 mb-4 text-center">

                                            <label  id="ICON-BOXES">
                                            <input type="radio" name="color" value="Other">
                                            <div><img class="img-fluid mb-2" src="images/other.png" alt=""></div>
                                            <div>&nbsp; <b>Other</b></div>
                                        </label>
                                        </div>


                                        <!-- <label class="col-3 mb-4 text-center" id="ICON-BOXES">
                                            <input type="radio" name="color" value="blue">
                                            <div><img class="img-fluid mb-2" src="images/uidesigner.png" alt=""></div>
                                                <div>&nbsp; <b>OTHER</b></div>
                                        </label> -->
                                    </div>

                                  


                                    <!-- <label class="col-3 mb-4 text-center" id="ICON-BOXES">
                                                <input type="radio" name="" >
                                                <div><img class="img-fluid mb-2" src="images/uidesigner.png" alt=""></div>
                                                <div>&nbsp; <b>SOFTWARE
                                                    DEVELOPER</b></div>
                                            </label>
                                       
                                        


                                        </div> -->
                                    <!-- <div class="col-sm-3 mb-4 text-center">
                                            <div id="ICON-BOXES">
                                                <img class="img-fluid mb-2" src="images/uidesigner.png" alt=""><BR>
                                                <P><b>UI/UX DESIGNER</b></P>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 mb-4 text-center">
                                            <div id="ICON-BOXES">
                                                <img class="img-fluid mb-2" src="images/marketing.png" alt=""><BR>
                                                <p id="Maketing" name="Role" aria-valuetext="Maketing Specialist" nam>
                                                    <b>MARKETING
                                                        SPECIALIST</b></p>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 mb-3 text-center">
                                            <div id="ICON-BOXES">
                                                <img class="img-fluid mb-2" src="images/other.png" alt=""><BR>
                                                <P><b>OTHER</b></P>
                                            </div>
                                        </div>  -->



=======
                            <div class="col-lg-12" id="PARA">
                                Craft your perfect profile with essential details, showcasing your expertise for the
                                best opportunities.
                            </div>
                        </div>
                        <!----------------------------  PART 3----------------------  -->

                        <div class="col-12 mt-5 justify-content-center" id="PART2">

                            <div class="row justify-content-center">
                                <div class="col-11 mt-3 mb-3 ml-2" id="PLZ">
                                    <h6><i class="bi bi-bell-fill text-center"></i> Please note that the
                                        selected
                                        category cannot be changed after completing the sign-up process.</h6>
                                </div>
                                <div class="col-sm-11 my-2">
                                    <h3 id="HEAD2">Choose Your Role:</h3>
                                </div>
                                <!-- -------------------------------    SECOND ROW     PART 4 ------------------------ -->
                                <div class="row justify-content-evenly">

                                    <div class="col-sm-3 mb-4 text-center">
                                        <div id="ICON-BOXES">
                                            <img class="img-fluid mb-2" src="images/soft.png" alt=""><BR>
                                            <p id="Role" aria-valuetext="Software Developer">
                                                <b>SOFTWARE
                                                    DEVELOPER</b>
                                            </P>
                                        </div>
                                    </div>


                                    <div class="col-sm-3 mb-4 text-center">
                                        <div id="ICON-BOXES">
                                            <img class="img-fluid mb-2" src="images/uidesigner.png" alt=""><BR>
                                            <option value="UI/UX DESIGNER" class=" text-decoration-none">UI/UX
                                                DESIGNER</option>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 mb-4 text-center">
                                        <div id="ICON-BOXES">
                                            <img class="img-fluid mb-2" src="images/marketing.png" alt=""><BR>
                                            <p id="Maketing" name="Role" aria-valuetext="Maketing Specialist" nam>
                                                <b>MARKETING
                                                    SPECIALIST</b>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 mb-3 text-center">
                                        <div id="ICON-BOXES">
                                            <img class="img-fluid mb-2" src="images/other.png" alt=""><BR>
                                            <P><b>OTHER</b></P>
                                        </div>
                                    </div>
                                </div>
                            </div>

<<<<<<< HEAD
                        </div>

                        <div class="row mt-321`1    " id="PART1">
                            <div class="col-lg-10 col-11 mb-4">
                                <h2 id="HEAD">Please Upload your Updated Resume</h2>
=======
>>>>>>> 52eacf2c59e54d503b10fe8dd804ae76ec70a726
                                </div>

                            </div> <!----------------------------  PART 5  FORM  ----------------------  -->


<<<<<<< HEAD

                            <div class="row mt-5" id="PART1">
                                <div class="col-lg-10 col-11 mb-4">
                                    <h2 id="HEAD">Please Upload your Updated Resume</h2>
=======
                                <!----------------------------  PART 5  FORM  ----------------------  -->

>>>>>>> 4dee660ab318828df3e4b0eda17201b30995c935
>>>>>>> ad92b5a8b3f7d5def135fd49faee3d16f97f94b2
                            </div>
                            <div class="col-md-12 mb-2">
                                <div class="fullscreen-container" id="container">
                                    <label for="file-upload" class="cloud-icon">&#9729;</label>
                                    <input type="file" name="Resume" id="file-upload" accept="application/pdf" required>
                                    <i class="checkmark">&#10004;</i>
                                    <span>
                                        <p>Drag and drop a PDF file here</p>
                                    </span>
                                    <span>
                                        <p class="file-name"></p>
                                    </span>
>>>>>>> 52eacf2c59e54d503b10fe8dd804ae76ec70a726
                                </div>
                            </div>
                            <div>Supports .pdf with max file size of 8mb</div>
                        </div>
                        <!----------------------------------------  PART 6  FORM  EXP ------------------------------------  -->
                        <form action="/readytojoin" method="post">
                            <div class="row mt-5" id="PART1">
                                <div class="col-lg-10">
                                    <h2 id="HEAD2">Mention your Fieldwork Experience?</h2>
                                </div>
                                <div class="col-sm-9 mt-5 mb-3">
                                    <div id="MAIN-FIELD">
                                        &nbsp;&nbsp;&nbsp;<i style="font-size: 25px;"
                                            class="fas fa-wrench"></i>&nbsp;&nbsp;
                                        <select name="Experiences" id="Experiences" required>
                                            <option>Enter your Experience</option>
                                            <option value=" Less than 1 year">Less than 1 year</option>
                                            <option value="Between 1 and 2 years">Between 1 and 2 years</option>
                                            <option value="Between 2 and 3 years">Between 2 and 3 years</option>
                                            <option value="Between 3 and 4 years">Between 3 and 4 years</option>
                                            <option value="Between 4 and 5 years">Between 4 and 5 years</option>
                                            <option value="More than years">More than years</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-lg-12 mt-5">
                                    <h2 id="HEAD2">How Would You Rate Your English Communication Skills?</h2>
                                </div>
                                <div class="col-12 mt-3">



                                    <div class="row justify-content-evenly" id="radio-container-2">
                                        <label class="col-md-3" id="EXP1">
                                            <input type="radio" name="shape" value="basic">
                                            <div><img class="img-fluid" src="images/airplane.png" alt=""></div>
                                            <div> &nbsp; Basis</div>
                                        </label>
                                        <label class="col-md-3" id="EXP1">
                                            <input type="radio" name="shape" value="advanced"> 
                                            <div><img class="img-fluid" src="images/plane.png" alt=""></div>
                                            <div>&nbsp; Advanced</div>
                                        </label>
                                        <label class="col-md-3" id="EXP1">
                                            <input type="radio" name="shape" value="native"> 
                                            <div><img class="img-fluid" src="images/rocket.png" alt=""></div>
                                            <div>&nbsp; Native</div>
                                        </label>
                                    </div>


                                    <!-- <label class="col-md-3" id="EXP1">
                                            <input type="radio" name="color" value="basic" required>
                                            <div><img class="img-fluid" src="images/airplane.png" alt=""></div>
                                            <div> &nbsp; Basis</div>
                                        </label>

                                        <label class="col-md-3" id="EXP1">
                                            <input type="radio" name="color" value="advanced" required>
                                            <div><img class="img-fluid" src="images/plane.png" alt=""></div>
                                            <div>&nbsp; Advanced</div>
                                        </label>

                                        <label class="col-md-3" id="EXP1">
                                            <input type="radio" name="color" value="native" required>
                                            <div><img class="img-fluid" src="images/rocket.png" alt=""></div>
                                            <div>&nbsp; Native</div>
                                        </label> -->










                                    <div class="col-lg-10 mt-5">
                                        <h2 id="HEAD2">What led you to discover our platform?</h2>
                                    </div>
                                    <div class="col-sm-9 mt-5 mb-3">
                                        <div id="MAIN-FIELD">
                                            &nbsp;&nbsp;&nbsp;<i style="font-size: 25px;" class="fas fa-share-alt"></i>
                                            &nbsp;&nbsp;
                                            <select name="" id="SELECT" required>
                                                <option selected="">Enter your Experience</option>
                                                <option value="YouTube">YouTube</option>
                                                <option value="Facebook">Facebook</option>
                                                <option value="Twitter">Twitter</option>
                                                <option value="">Instagram</option>
                                                <option value="">Linkdin</option>
                                                <option value="">Podcast</option>
                                                <option value="">Tv</option>
                                                <option value="">Newspaper Ads</option>
                                                <option value="">Online Ads</option>
                                                <option value="">3D Party Websites</option>
                                                <option value="">Confrence</option>
                                                <option value="">Others</option>
                                            </select>
                                        </div>

                                    </div>

                                </div>

                                <!----------------------------  PART  ADDITION SKILLS AND BUTTON----------------------  -->
                                <div class="row mt-5" id="PART1">
                                    <div class="col-lg-10 mt-3 mb-4">
                                        <h2 id="HEAD2">What are your salary expectations?</h2>
                                    </div>
                                    <div>Expected Salary per month (in USD)</div>
                                    <div class="col-sm-10 mt-1 mb-3">
                                        <div id="MAIN-FIELD">
                                            &nbsp;&nbsp;&nbsp;<i style="font-size: 22px;"
                                                class="fas fa-dollar-sign"></i>
                                            &nbsp;&nbsp;
                                            <input type="number" name="SalaryExpetations"
                                                placeholder="Enter Expected Salary" required>
                                        </div>
                                    </div>
                                </div>
<<<<<<< HEAD

                                <!-- <div class="col-3 my-3" >
                                <button type="submit" class="btn btn-danger">Sign in</button>
                            </div> -->
                                <div class=" col-10" id="BOR">
                                    <button id="NEXT" type="submit" value="submit" class="btn btn-primary mt-4 mb-5 "
                                        style="background-color: rgb(231, 27, 61);">Submit</button>
                                </div>
                            </div>
                        </div>
                </form>
=======
                                <div class="col-lg-10 mt-5">
                                    <h2 id="HEAD2">What led you to discover our platform?</h2>
                                </div>
                                <div class="col-sm-9 mt-5 mb-3">
                                    <div id="MAIN-FIELD">
                                        &nbsp;&nbsp;&nbsp;<i style="font-size: 25px;" class="fas fa-share-alt"></i>
                                        &nbsp;&nbsp;

                                        <select name="Role" id="Role">
                                            <option selected="">Enter your Experience</option>
                                            <option value="YouTube">YouTube</option>
                                            <option value="Facebook">Facebook</option>
                                            <option value="Twitter">Twitter</option>
                                            <option value="">Instagram</option>
                                            <option value="">Linkdin</option>
                                            <option value="">Podcast</option>
                                            <option value="">Tv</option>
                                            <option value="">Newspaper Ads</option>
                                            <option value="">Online Ads</option>
                                            <option value="">3D Party Websites</option>
                                            <option value="">Confrence</option>
                                            <option value="">Others</option>
                                        </select>
                                    </div>

                                </div>

                            </div>

                            <!----------------------------  PART  ADDITION SKILLS AND BUTTON----------------------  -->


                            <div class="row mt-5" id="PART1">
                                <div class="col-lg-10 mt-3 mb-4">
                                    <h2 id="HEAD2">What are your salary expectations?</h2>
                                </div>
                                <div>Expected Salary per month (in USD)</div>
                                <div class="col-sm-10 mt-1 mb-3">
                                    <div id="MAIN-FIELD">
                                        &nbsp;&nbsp;&nbsp;<i style="font-size: 22px;" class="fas fa-dollar-sign"></i>
                                        &nbsp;&nbsp;
                                        <input type="number" name="SalaryExpetations"
                                            placeholder="Enter Expected Salary" required>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-10" id="BOR">
                                <button id="NEXT" type="submit" class="btn btn-primary mt-4 mb-5 "
                                    style="background-color: rgb(231, 27, 61);">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
>>>>>>> 52eacf2c59e54d503b10fe8dd804ae76ec70a726
            </div>
        </div> <!-- this SECOND MAIN ROW -->
    </div>



    <!-- rrrrrrrrrr -->








    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <script>

        // ----------------------------  SELECT ONE FIELD OUT OF THREE  -----------------------------
        function handleRadioSelection(containerClass, resultClass) {
    const container = document.querySelector('#' + containerClass);
    const resultDiv = document.querySelector('#' + resultClass);
    const radioInputs = container.querySelectorAll('input[type="radio"]');

    radioInputs.forEach(function (input) {
        input.addEventListener('click', function () {
            radioInputs.forEach(function (input) {
                input.parentNode.style.backgroundColor = '';
                input.parentNode.style.border = '1px solid #ccc';
            });

            if (input.checked) {
                input.parentNode.style.backgroundColor = 'rgb(243, 246, 244)';
                input.parentNode.style.border = '1px solid black';
                resultDiv.textContent = 'Selected value: ' + input.value;
            } else {
                resultDiv.textContent = '';
            }
        });
    });
}

// Call the function for each set of radio buttons
handleRadioSelection('radio-container', 'result-container');
handleRadioSelection('radio-container-2', 'result-container-2');
        // ----------------------       PDF SELECT FILELD  ---------------------

        const container = document.getElementById('container');
        const fileInput = document.getElementById('file-upload');
        const checkmark = document.querySelector('.checkmark');
        const fileNameDisplay = document.querySelector('.file-name');

        container.addEventListener('click', () => {
            fileInput.click();
        });

        container.addEventListener('dragover', (e) => {
            e.preventDefault();
            container.style.border = '2px dashed #e74c3c';
        });

        container.addEventListener('dragleave', () => {
            container.style.border = '2px dashed #3498db';
        });

        container.addEventListener('drop', (e) => {
            e.preventDefault();
            container.style.border = '2px dashed #3498db';

            const droppedFiles = e.dataTransfer.files;
            if (droppedFiles.length === 1 && droppedFiles[0].type === 'application/pdf') {
                fileInput.files = droppedFiles;
                checkmark.style.display = 'inline'; // Show the checkmark
                fileNameDisplay.textContent = droppedFiles[0].name;
                fileNameDisplay.style.display = 'block'; // Show the file name
                // You can also handle the selected file here or submit the form
                console.log('Dropped file:', droppedFiles[0].name);
            } else {
                alert('Please drop a single PDF file.');
            }
        });

        fileInput.addEventListener('change', () => {
            // Do something with the selected file if needed
            console.log('Selected file:', fileInput.files[0].name);
            checkmark.style.display = 'inline'; // Show the checkmark
            fileNameDisplay.textContent = fileInput.files[0].name;
            fileNameDisplay.style.display = 'block'; // Show the file name
        });

        // ========================================      EXPERIENCE BUTTON       ==========================


    </script>
</body>

</html>