<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>event pg</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!-- STYLE -->
  <link rel="stylesheet" href="/css/event.css">
  <!--  LINKS OF FONT FAMILY  -->
  <link rel="stylesheet" href="/css/fontstyle.css">
</head>

<body>
  <!-- NAVBAR ONLY FOR EVENT PG -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img id="IMG1" width="260px" height="50px" src="images/Logo updeted.png" />
      </a>
      <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li> -->

        </ul>
        <span class="navbar-text my-3 ms-3 me-4" id="TEXT-BTN">
          <img width="25px" height="25px" src="/images/slack-logo-icon.png" alt=""> Join Our Community
        </span>
        <div class="navbar-text my-3 ms-3 me-5" id="LIVE-BTN">
          live now
        </div>

      </div>
    </div>
  </nav>
  <!-- CONTAINER NO 1 -->
  <div class="container-fluid">
    <div class="row text-light" style="background-image: url('/images/summit-banner.jpg'); background-size:cover;">
      <div class="col-lg-6 justify-content-center ">
        <div class="ms-4" id="FIRST-CONTAINER">
          <div id="SMALL" class=""><b>13th - 14th October 2023</b></div>
          <div class="HEADING-2">
            <h1<b style="font-size: 60px;">GoRemote Summit:</b></h>
          </div>
          <div class="text-white mb-2 " id="SUBHEAD">Connect . Adapt . Transform</div>
          <div id="SMALL" class="my-3">
            #1 leading conference for remote work, catering to enterprises, SMEs, and remote professionals.
          </div>
          <div class="mt-2"><a href="" id="EVENT-BUTTON" class="SMALL">join the live event</a></div>
        </div>
      </div>
      <div class="col-lg-6 m-0 p-0">
        <img class="img-fluid" src="/images/summit.jpg.webp" alt="">
      </div>
    </div>
  </div>
  <!-- TIMER  CON 2-->
  <div class="container-fluid mt-5">
    <div class="row justify-content-center mt-5">
      <div class="col-11 mt-5">
        <div class="SUBHEAD ">
          GoRemote Summit
        </div>
        <div class="HEADING">
          <h1>Countdown:</h1>
        </div>
        <div class="LARGE">
          Mark your calendar for two days of inspiring sessions and valuable insights.
        </div>
      </div>
    </div>
  </div>
  <!-- timer -->
  <div class="container-fluid mt-3 mb-5">
    <div id="countdown-container" class="row">

      <div class="col-3 d-flex flex-column text-center ">


        <div class="countdown-label" id="LARGE">Day</div>
        <div class="d-flex justify-content-center align-items-center">
          <div class="countdown-card" id="days-ten">
            <div id="days-ten-digit">0</div>
          </div>

          <div class="countdown-card" id="days-unit">
            <div id="days-unit-digit">0</div>
          </div>
          <div>:</div>
        </div>



      </div>



      <div class="col-3 d-flex flex-column text-center">
        <div class="countdown-label" id="LARGE">Hour</div>

        <div class="d-flex justify-content-center align-items-center">
          <div class="countdown-card" id="hours-ten">
            <div id="hours-ten-digit">0</div>
          </div>

          <div class="countdown-card" id="hours-unit">
            <div id="hours-unit-digit">0</div>
          </div>
          <div>:</div>
        </div>




      </div>


      <div class="col-3 d-flex flex-column text-center">

        <div class="countdown-label" id="LARGE">Minute</div>

        <div class="d-flex justify-content-center  align-items-center">
          <div class="countdown-card" id="minutes-ten">
            <div id="minutes-ten-digit">0</div>
          </div>

          <div class="countdown-card" id="minutes-unit">
            <div id="minutes-unit-digit">0</div>
          </div>
          <div>:</div>
        </div>
      </div>

      <div class="col-3 d-flex flex-column text-center justify-content-center">
        <div class="countdown-label" id="LARGE">Second</div>

        <div class="d-flex justify-content-center align-items-center">

          <div class="countdown-card" id="seconds-ten">
            <div id="seconds-ten-digit">0</div>
          </div>

          <div class="countdown-card" id="seconds-unit">
            <div id="seconds-unit-digit">0</div>
          </div>
          <div>:</div>
        </div>


      </div>

    </div>
  </div>
  <!-- Modern Services and Industries  CON 3  -->

  <div class="container-fluid">
    <div class="row justify-content-center" id="MODERN-CONTAINER">
      <div class="col-sm-11 text-white mt-5">
        <div class="mt-5">
          <h4 id="SUBHEAD" class="text-white">Explore Cutting-Edge Horizons at Go Remote Summit:</h4>
        </div>
        <div>
          <h1 class="HEADING text-whte">Modern Services and Industries</h1>
        </div>
        <p id="XSMALL">Join us at the GoRemote Summit to explore the innovative world of modern industries and services.
          Our summit brings together thought leaders to discuss the latest trends in dynamic fields like AI, ML,
          Blockchain, and DevSecOps. Don’t miss this opportunity to stay updated!</p>
      </div>
      <div class="col-sm-11 mt-4">
        <p class="HEADING-SUBH text-white">Discussion Areas</p>
      </div>
      <div class="col-sm-11 ">
        <div class="row justify-content-between">
          <!-- 1 -->
          <div class="col-lg-3 col-sm-5 my-2">
            <div class="col-12 px-3 py-3" id="MODERN-BOX">
              <!-- 44 42 -->
              <div class="py-2"><img id="SVG" class="img-fluid" src="/images/ai.svg" alt=""></div>
              <div class=" py-2 SMALL-HEAD"><b>AI & <br> Machine Learning</b></div>
            </div>
          </div>
          <!-- 2 -->
          <div class="col-lg-3 col-sm-5 my-2">
            <div class="col-12 p-3" id="MODERN-BOX">
              <!-- 46 46 -->
              <div class="py-2"><img id="SVG" class="img-fluid" src="/images/block.svg" alt=""></div>
              <div class=" py-2 SMALL-HEAD"><b>Blockchain & <br>
                  WEB 3.0</b></div>
            </div>
          </div>
          <!-- 3 -->
          <div class="col-lg-3 col-sm-5 my-2">
            <div class="col-12 p-3" id="MODERN-BOX">
              <!-- 49 49 -->
              <div class="py-2"><img id="SVG" class="img-fluid" src="/images/growth-tool.svg" alt=""></div>
              <div class=" py-2 SMALL-HEAD"><b>10x <br>
                  Growth Tools</b></div>
            </div>
          </div>
          <!-- 4 -->
          <div class="col-lg-3 col-sm-5 my-2">
            <div class="col-12 p-3" id="MODERN-BOX">
              <div class="py-2"><img id="SVG" class="img-fluid" src="/images/cyber.svg" alt=""></div>
              <div class=" py-2 SMALL-HEAD"><b>Cyber security <br>
                  & Privacy</b></div>
            </div>
          </div>
          <!-- 5 -->
          <div class="col-lg-3 col-sm-5 my-2">
            <div class="col-12 px-3 py-3" id="MODERN-BOX">
              <div class="py-2"><img id="SVG" class="img-fluid" src="/images/vr.svg" alt=""></div>
              <div class=" py-2 SMALL-HEAD"><b>AR & <br> VR</b></div>
            </div>
          </div>
          <!-- 6 -->
          <div class="col-lg-3 col-sm-5 my-2">
            <div class="col-12 p-3" id="MODERN-BOX">
              <div class="py-2"><img id="SVG" class="img-fluid" src="/images/data-analysis.svg" alt=""></div>
              <div class=" py-2 SMALL-HEAD"><b>Data <br> Analysis
                  Insights</b></div>
            </div>
          </div>
          <!-- 7 -->
          <div class="col-lg-3 col-sm-5 my-2">
            <div class="col-12 p-3" id="MODERN-BOX">
              <div class="py-2"><img id="SVG" class="img-fluid" src="/images/remote.svg" alt=""></div>
              <div class="py-2"><b class="SMALL-HEAD">Remote <br> Hirings</b></div>
            </div>
          </div>
          <!-- 8 -->
          <div class="col-lg-3 col-sm-5 my-2">
            <div class="col-12 p-3" id="MODERN-BOX">
              <div class="py-2"><img id="SVG" class="img-fluid" src="/images/cyber-security.svg" alt=""></div>
              <div class=" py-2 SMALL-HEAD"><b>The Digital <br> Nomad
                  Lifestyle</b></div>
            </div>
          </div>

          <div class="col-sm-11 d-flex justify-content-center my-5">
            <div class="mt-2"><a href="" id="EVENT-BUTTON" class="SMALL">Register Now</a></div>
          </div>


        </div>

      </div>


    </div>
  </div>

  <!-- A Virtual Gathering CON 4 -->

  <div class="container-fluid" style=" background-color: rgb(248, 249, 254);">
    <div class="row my-5 justify-content-center">
      <div class="col-lg-6" >
        <div class="row justify-content-center">
          <div class="col-lg-11">
            <div class="SUBHEAD">
              Introducing Go Remote Summit
            </div>
            <diV>
              <h1 class="HEADING" style="font-family: 'Gordita Regular',Helvetica,Arial,Lucida,sans-serif; font-weight: 600;">
                A Virtual Gathering for Remote Work Enthusiasts!
              </h1>
            </diV>
            <p id="SMALL" class=" my-2" style="line-height: 30px;">In today’s digital age, remote work offers endless
              possibilities, accompanied by a myriad of tools and products designed to enhance productivity. At Go
              Remote Summit, we aim to connect and unite remote professionals from all corners of the globe, providing a
              platform to candidly discuss the challenges we face, including remote team dynamics, reduced visibility,
              and well-being.</p>
            <p id="SMALL" style="line-height: 30px;">Let’s come together, share our experiences, and forge meaningful
              connections to navigate the ever-changing landscape of remote work. It’s time to reconnect, learn, and
              grow together at Go Remote Summit!</p>
            <div class="col-sm-11 d-flex justify-content-center my-5">
              <div class="mt-2"><a href="" id="EVENT-BUTTON" class="SMALL">Get Access</a></div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-6 m-0 p-0" >
        <img class="img-fluid" src="/images/virtual-gathering-980x862.jpg.webp" alt="">
      </div>


    </div>
  </div>

  <!-- ---------What is the event about?--------- -->
  <div class="container-fluid" style="margin-bottom: 200px;">
    <div class="row justify-content-center">
      <div class="col-sm-11 mt-5 justify-content-center">
        <div class="row mt-5">
          <div class="col-sm-12">
            <div class="SUBHEAD">
              Conference format
            </div>
            <div class="HEADING">
              <h1 style="font-family: 'Gordita Regular',Helvetica,Arial,Lucida,sans-serif; font-weight: 700;">What is the event about?</h1>
            </div>
          </div>
          <!-- SECTION NO 1 OF TWO BOXES -->
          <div class="col-sm-12 my-3">
            <div class="row">
              <!-- 1  BOX -->
              <div class="col-lg-8 my-1">
                <div class="row">
                  <div class="col-lg-11" id="BC-IMG">
                    <div class="row p-5">
                      <div class="col-sm-10  HEADING-TEXT text-white">
                        Strategies for Team and Business Growth:
                      </div>
                      <div class="col-sm-10 XSMALL-2 text-white" >
                        Get Actionable Insights and Strategies for Building & Scaling your team
                        and Business.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 2 -->
              <div class="col-lg-4 my-1" id="BC-IMG" >
                <div class="row p-5">
                  <div class="col-sm-11  HEADING-TEXT text-white">
                    Collaboration:
                  </div>
                  <div class="col-sm-10 XSMALL-2 text-white" >
                    Find Partnership Opportunities in
                    Remote Work Sphere
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- SECTION NO 2 OF TWO BOXES -->
          <div class="col-sm-12 my-3">
            <div class="row">
              <!-- 1  BOX -->
              <div class="col-lg-4 my-1" id="BC-IMG" >
                <div class="row p-5">
                  <div class="col-sm-11  HEADING-TEXT text-white" >
                    Remote Work:
                  </div>
                  <div class="col-sm-10 XSMALL-2 text-white">
                    Stay on top of the latest trends in tech
                    & remote work
                  </div>
                </div>
              </div>
              <!-- 2  BOX -->
              <div class="col-lg-8 my-1" >
                <div class="row justify-content-end">
                  <div class="col-lg-11" id="BC-IMG">                    <div class="row p-5">
                      <div class="col-sm-10 HEADING-TEXT text-white" >
                        Thriving in Remote <br> Work:
                      </div>
                      <div class="col-sm-10 XSMALL-2 text-white">
                        Learn how to deal with remote work challenges, maintain a good work-life balance,
                        and live mindfully when working remotely
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ENDS -->
            </div>
          </div>
          <!--  -->
          <div class="col-sm-12 my-3">
            <div class="row">
              <!-- 1 box -->
              <div class="col-lg-4">
                <div class="row">
                  <div class="col-sm-10"  id="BC-IMG" >
                    <div class="row p-5">
                      <div class="col-sm-12  HEADING-TEXT text-white">
                        Empowering 
                      </div>
                      <div class="col-sm-12 XSMALL-2 text-white">
                        Explore new tools to improve myself or
                        my business in distributed work
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <!-- 2 box -->
              <div class="col-lg-4" >
                <div class="row justify-content-center">
                  <div class="col-sm-10"  id="BC-IMG" >
                    <div class="row p-5">
                      <div class="col-sm-12  HEADING-TEXT text-white">
                        Empowering 
                      </div>
                      <div class="col-sm-12 XSMALL-2 text-white">
                        Explore new tools to improve myself or
                        my business in distributed work
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <!-- 3 box -->
              <div class="col-lg-4" >
                <div class="row justify-content-end">
                  <div class="col-sm-10"  id="BC-IMG">
                    <div class="row p-5">
                      <div class="col-sm-12  HEADING-TEXT text-white">
                        Empowering 
                      </div>
                      <div class="col-sm-12 XSMALL-2 text-white" >
                        Explore new tools to improve myself or
                        my business in distributed work
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ---  What is the event about?  -- -->
  <!-- <div class="container-fluid" style="margin-bottom: 200px;">
          <div class="row mt-5">
           
          </div>
        </div> -->

















  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script>
    // Set the target date for the countdown
    var targetDate = new Date('2023-12-31 23:59:59').getTime();

    // Update the countdown every second
    var countdownInterval = setInterval(function () {
      var currentDate = new Date().getTime();
      var timeLeft = targetDate - currentDate;

      if (timeLeft <= 0) {
        clearInterval(countdownInterval);
        for (var i = 0; i < 8; i++) {
          document.getElementById("days-ten-digit").innerHTML = "0";
          document.getElementById("days-unit-digit").innerHTML = "0";
          document.getElementById("hours-ten-digit").innerHTML = "0";
          document.getElementById("hours-unit-digit").innerHTML = "0";
          document.getElementById("minutes-ten-digit").innerHTML = "0";
          document.getElementById("minutes-unit-digit").innerHTML = "0";
          document.getElementById("seconds-ten-digit").innerHTML = "0";
          document.getElementById("seconds-unit-digit").innerHTML = "0";
        }
      } else {
        var days = Math.floor(timeLeft / (1000 * 60 * 60 * 24));
        var hours = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);

        document.getElementById("days-ten-digit").innerHTML = Math.floor(days / 10);
        document.getElementById("days-unit-digit").innerHTML = days % 10;
        document.getElementById("hours-ten-digit").innerHTML = Math.floor(hours / 10);
        document.getElementById("hours-unit-digit").innerHTML = hours % 10;
        document.getElementById("minutes-ten-digit").innerHTML = Math.floor(minutes / 10);
        document.getElementById("minutes-unit-digit").innerHTML = minutes % 10;
        document.getElementById("seconds-ten-digit").innerHTML = Math.floor(seconds / 10);
        document.getElementById("seconds-unit-digit").innerHTML = seconds % 10;
      }
    }, 1000); // Update every 1 second
  </script>
</body>

</html>