<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>hire_talents</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/css/hire_talents.css" rel="stylesheet" type="text/css">
    <!--  LINKS OF FONT FAMILY  -->
    <link rel="stylesheet" href="/css/fontstyle.css">
    <!--------------------------    CHATGPT------------- -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
</head>

<body>


    <div class="container-fluid"
        style="background-image: url(/images/bck.png); background-size: 100% 100%; color: white;">
        <div class="row justify-content-center">

            <!-- ----------------------------------     DIV # 1 ----------------------------------------------- -->

            <div class="col-lg-6   col-md-10 col-sm-11" id="HEI">
                <div style="margin-left: 30px;"><img class="img-fluid mt-5" height="57px" width="300px"
                        src="/images/Logo updeted.png" alt=""></div>

                <h1 style="margin-top: 90px; margin-left: 30px;" class="HEADING">About SSL SOLUTIONS</h1>
                <p style="margin-top: 20px; margin-left: 30px; margin-bottom: 40px;" class="SMALL">SSL SOLUTIONS is a
                    remote career platform with data-driven jobs to assist companies in hiring engineering teams to
                    compete in the market at the single push of a button. We are a talent outsourcing talent acquisition
                    company based in Middletown, Delaware.</p>
                <div class="col-lg-6 col-md-8" id="PARENT">
                    <img class="img-fluid mt-5 mb-5" id="CHILD" src="/images/talent_image.png" alt="">
                </div>
            </div>

            <!--------------------------------------        DIV # 2     --------------------------------------------------------------  -->
            <div class="col-lg-6 col-sm-11">
                <form action="/">
                <div class="row  mt-4 justify-content-center"
                    style="color: black; background-color: white; border-radius: 10px;">

                    <div class="col-lg-10 mt-5">
                        <h3 class="SUBHEAD">What developers are you looking to hire?</h3>
                    </div>
                    <div class="col-lg-10 mt-1 mb-2" id="XSMALL">Please choose your
                        desired skills from the options below:
                    </div>
                    


                        <div class="col-sm-11 d-flex flex-wrap">


                            <label class="DOMAINS">
                                <input type="checkbox" name="checkboxOption" value="">
                                <img src="/images/node.js.png" alt=""> Node.js
                            </label>
                            <label class="DOMAINS">
                                <input type="checkbox" name="checkboxOption" value="">
                                <img src="/images/node.js.png" alt=""> Node.js
                            </label>
                            <label class="DOMAINS">
                                <input type="checkbox" name="checkboxOption" value="">
                                <img src="/images/node.js.png" alt=""> Node.js
                            </label>
                            <label class="DOMAINS">
                                <input type="checkbox" name="checkboxOption" value="">
                                <img src="/images/node.js.png" alt=""> Node.js
                            </label>
                            <label class="DOMAINS">
                                <input type="checkbox" name="checkboxOption" value="">
                                <img src="/images/node.js.png" alt=""> Node.js
                            </label>
                            <label class="DOMAINS">
                                <input type="checkbox" name="checkboxOption" value="">
                                <img src="/images/node.js.png" alt=""> Node.js
                            </label>
                            <label class="DOMAINS">
                                <input type="checkbox" name="checkboxOption" value="">
                                <img src="/images/node.js.png" alt=""> Node.js
                            </label>
                            <label class="DOMAINS">
                                <input type="checkbox" name="checkboxOption" value="">
                                <img src="/images/node.js.png" alt=""> Node.js
                            </label>
                            <label class="DOMAINS">
                                <input type="checkbox" name="checkboxOption" value="">
                                <img src="/images/node.js.png" alt=""> Node.js
                            </label>
                            <label class="DOMAINS">
                                <input type="checkbox" name="checkboxOption" value="">
                                <img src="/images/node.js.png" alt=""> Node.js
                            </label>
                            <label class="DOMAINS">
                                <input type="checkbox" name="checkboxOption" value="">
                                <img src="/images/node.js.png" alt=""> Node.js
                            </label>
                            <label class="DOMAINS">
                                <input type="checkbox" name="checkboxOption" value="">
                                <img src="/images/node.js.png" alt=""> Node.js
                            </label>
                            <label class="DOMAINS">
                                <input type="checkbox" name="checkboxOption" value="">
                                <img src="/images/node.js.png" alt=""> Node.js
                            </label>
                            <label class="DOMAINS">
                                <input type="checkbox" name="checkboxOption" value="">
                                <img src="/images/node.js.png" alt=""> Node.js
                            </label>
                            <label class="DOMAINS">
                                <input type="checkbox" name="checkboxOption" value="">
                                <img src="/images/node.js.png" alt=""> Node.js
                            </label>
                            <label class="DOMAINS">
                                <input type="checkbox" name="checkboxOption" value="">
                                <img src="/images/node.js.png" alt=""> Node.js
                            </label>
                            <label class="DOMAINS">
                                <input type="checkbox" name="checkboxOption" value="">
                                <img src="/images/node.js.png" alt=""> Node.js
                            </label>


                            <!-- <div><span id="DOMAINS"><a href=""><img src="/images/node.js.png" alt=""> Node .js</a></span></div> -->

                        </div>
                        <div class="col-lg-10 mt-5">
                            <h3 class="XLARGE">What developers are you looking to hire?</h3>
                        </div>
                        <div class="col-lg-10 mt-1 mb-2" id="XSMALL">Please choose your
                            desired skills from the options below:</div>
                        <div class="col-sm-11 d-flex flex-wrap">


                            <label class="DOMAINS-PART2">
                                <input type="checkbox" name="checkboxOption" value="">
                                <img height="20px" width="20px" src="/images/bag.svg" alt=""> UI/UX Designer
                            </label>
                            <label class="DOMAINS-PART2">
                                <input type="checkbox" name="checkboxOption" value="">
                                <img height="20px" width="20px" src="/images/bag.svg" alt=""> Product Manager
                            </label>
                            <label class="DOMAINS-PART2">
                                <input type="checkbox" name="checkboxOption" value="">
                                <img height="20px" width="20px" src="/images/bag.svg" alt=""> Digital Marketer
                            </label>
                            <label class="DOMAINS-PART2">
                                <input type="checkbox" name="checkboxOption" value="">
                                <img height="20px" width="20px" src="/images/bag.svg" alt=""> Project Manager
                            </label>
                            <label class="DOMAINS-PART2">
                                <input type="checkbox" name="checkboxOption" value="">
                                <img height="20px" width="20px" src="/images/bag.svg" alt=""> Consulting
                            </label>
                            <label class="DOMAINS-PART2">
                                <input type="checkbox" name="checkboxOption" value="">
                                <img height="20px" width="20px" src="/images/bag.svg" alt=""> Agency
                            </label>





                            <!-- ---------------------------------------------- -->

                            <div class="col-sm-9 mt-5 mb-3">
                                <lable class="mb-3" style="color: black; font-weight: 600;">Select Skill</lable>
                                <form method="post">
                                    <select id="mySelect" name="skills" class="js-example-basic-multiple"
                                        multiple="multiple"
                                        style=" width: 100%; height: 90px; padding: 12px 20px; margin: 8px 0px;display: inline-block;
                        border-radius: 4px;border: 1px solid rgb(233, 233, 233); box-sizing: border-box;cursor: pointer;">
                                        <option value="option1">Selenium</option>
                                        <option value="option2">Ionic</option>
                                        <option value="option3">IThree.js</option>
                                        <option value="option4">Bootstrap</option>
                                        <option value="option5">Html5</option>
                                        <option value="option6">CSS</option>
                                        <option value="option7">JavaScript</option>
                                        <option value="option8">Shopify</option>
                                        <option value="option5">Php</option>
                                        <option value="option6">jQuery</option>
                                        <option value="option7">React .js</option>
                                        <option value="option8">Laravel</option>
                                        <!-- Add more options as needed -->
                                    </select>

                                </form>
                            </div>
                            <div class="col-sm-9 ">
                                <div class="mt-2 mb-2">
                                    <lable style="color: black; font-weight: 600;">Full Name</lable>
                                    <input type="text" class="HH" id="NAME" name="email" placeholder="Enter Your Name">
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="mt-2 mb-4">
                                    <lable style="color: black; font-weight: 600;">Company Name</lable>
                                    <input type="text" class="HH" id="NAME" name="email"
                                        placeholder="Enter Your Company Name">
                                </div>
                            </div>
                            <div class="col-sm-7 mb-5">
                                <input class="mt-1" type="submit" value="Continue">
                            </div>


                        </div>
                    
                </div>
            </form>
            </div>
        </div>



        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
        <script>

            // ----WHAT DEVELOPER ARE TYOU LOOKONG TO HIRE
            const boxes_multi = document.querySelectorAll('.DOMAINS');
            boxes_multi.forEach(box_multi => {
                box_multi.addEventListener('click', () => {
                    const checkBox = box_multi.querySelector('input[type="checkbox"]');
                    if (checkBox.checked) {
                        checkBox.checked = false;
                        box_multi.classList.remove('active');
                        box_multi.style.border = '1px solid lightgray';
                        box_multi.style.backgroundColor = 'transparent';
                    }
                    else {
                        checkBox.checked = true;
                        box_multi.classList.add('active');
                        box_multi.style.border = '1px solid BLACK'
                        box_multi.style.backgroundColor = 'lightgray'
                    }
                });
            })

            // ----WHAT DEVELOPER ARE TYOU LOOKONG TO HIRE
            const boxes = document.querySelectorAll('.DOMAINS-PART2');
            boxes.forEach(box => {
                box.addEventListener('click', () => {
                    const checkBox = box.querySelector('input[type="checkbox"]');
                    if (checkBox.checked) {
                        checkBox.checked = false;
                        box.classList.remove('active');
                        box.style.border = '1px solid lightgray';
                        box.style.backgroundColor = 'transparent';
                    }
                    else {
                        checkBox.checked = true;
                        box.classList.add('active');
                        box.style.border = '1px solid BLACK'
                        box.style.backgroundColor = 'lightgray'
                    }
                });
            })


            // --------------------------------
            $(document).ready(function () {
                $('.js-example-basic-multiple').select2({
                    placeholder: 'Search or select options',
                    closeOnSelect: false,
                    allowClear: true
                });
            });
            $(document).ready(function () {
                // Make an AJAX request to fetch the JSON data
                $.ajax({
                    url: '/url/api',
                    method: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        // Populate the EJS template with data
                        $('#key1').text(data.password);
                        $('#key2').text(data.email);
                        // Populate additional elements as needed
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    },
                });
            });

        </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</body>

</html>