<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>hire_talents</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- STYLE -->
    <link href="/css/hire_talents.css" rel="stylesheet" type="text/css">
    <!--  LINKS OF FONT FAMILY  -->
    <link rel="stylesheet" href="/css/fontstyle.css">
    <!--------------------------    CHATGPT------------- -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
</head>

<body>


    <div class="container-fluid"
        style="background-image: url(/images/bck.png); background-size: 100% 100%; color: white;">
        <div class="row justify-content-center">

            <!-- ----------------------------------     DIV # 1 ----------------------------------------------- -->

            <div class="col-lg-6   col-md-10 col-sm-11" id="HEI">
                <div style="margin-left: 30px;"><img class="img-fluid mt-5" height="57px" width="300px"
                        src="/images/Logo updeted.png" alt=""></div>

                <h1 style="margin-top: 90px; margin-left: 30px;" class="HEADING">About SSL SOLUTIONS</h1>
                <p style="margin-top: 20px; margin-left: 30px; margin-bottom: 40px;" class="SMALL">SSL SOLUTIONS is a
                    remote career platform with data-driven jobs to assist companies in hiring engineering teams to
                    compete in the market at the single push of a button. We are a talent outsourcing talent acquisition
                    company based in Middletown, Delaware.</p>
                <div class="col-lg-6 col-md-8" id="PARENT">
                    <img class="img-fluid mt-5 mb-5" id="CHILD" src="/images/talent_image.png" alt="">
                </div>
            </div>

            <!--------------------------------------        DIV # 2     --------------------------------------------------------------  -->
            <div class="col-lg-6 col-sm-11">
<<<<<<< HEAD
                <form action="/">
                    <div class="row  mt-4 justify-content-center"
                        style="color: black; background-color: white; border-radius: 10px;">
=======

                <div class="row  mt-4 justify-content-center"
                    style="color: black; background-color: white; border-radius: 10px;">
>>>>>>> 0b076ab04ce9cca19ea825f22b2191989fb1e9e6

                    <div class="col-lg-10 mt-5">
                        <h3 class="SUBHEAD">What developers are you looking to hire?</h3>
                    </div>
                    <div class="col-lg-10 mt-1 mb-2" id="XSMALL">Please choose your
                        desired skills from the options below:
                    </div>

                    <form action="/client/hire_talent" method="post">

                        <div class="col-sm-11 d-flex flex-wrap">


                            <label class="DOMAINS">
                                <input type="checkbox" name="desiredSkill" value="Node.js">
                                <img src="/images/node.js.png" alt=""> Node.js
                            </label>
                           

                            <label class="DOMAINS">
                                <input type="checkbox" name="desiredSkill" value="React.js">
                                <img src="/images/react.png" alt=""> React.js
                            </label>
                          
                            <label class="DOMAINS">
                                <input type="checkbox" name="desiredSkill" value="React Native">
                                <img class="img-fluid mx-1" src="/images/react.png" alt=""> React Native
                            </label>
                            <label class="DOMAINS">
<<<<<<< HEAD
                                <input type="checkbox" name="skills" value="Python">
=======
                                <input type="checkbox" name="desiredSkill" value="Python">
>>>>>>> 0b076ab04ce9cca19ea825f22b2191989fb1e9e6
                                <img class="img-fluid mx-1" width="20px" height="20px" src="/images/pythone.png" alt="">
                                Python
                            </label>
                            <label class="DOMAINS">
<<<<<<< HEAD
                                <input type="checkbox" name="checkboxOption" value="">
                                <img width="30px" height="28px" src="/images/angular.png" alt=""> Angular
=======
                                <input type="checkbox" name="desiredSkill" value=" Angular">
                                <img src="/images/angular.png" alt=""> Angular
>>>>>>> 0b076ab04ce9cca19ea825f22b2191989fb1e9e6
                            </label>
                            <label class="DOMAINS">
                                <input type="checkbox" name="desiredSkill" value="PHP">
                                <img class="img-fluid mx-1" width="30px" height="15px" src="/images/php.png" alt=""> PHP
                            </label>
                            <label class="DOMAINS">
<<<<<<< HEAD
                                <input type="checkbox" name="skills" value="JavaScript">
=======
                                <input type="checkbox" name="desiredSkill" value="JavaScript">
>>>>>>> 0b076ab04ce9cca19ea825f22b2191989fb1e9e6
                                <img class="img-fluid mx-1" width="19px" height="18px" src="/images/js.png" alt="">
                                JavaScript
                            </label>
                            <label class="DOMAINS">
<<<<<<< HEAD
                                <input type="checkbox" name="skills" value="TypeScript">
=======
                                <input type="checkbox" name="desiredSkill" value="TypeScript">
>>>>>>> 0b076ab04ce9cca19ea825f22b2191989fb1e9e6
                                <img class="img-fluid mx-1" width="18px" height="22px" src="/images/ts.png" alt="">
                                TypeScript
                            </label>
                            <label class="DOMAINS">
                                <input type="checkbox" name="desiredSkill" value="AWS">
                                <img class="img-fluid mx-1" width="29px" height="28px" src="/images/aws.png" alt=""> AWS
                            </label>
                            <label class="DOMAINS">
<<<<<<< HEAD
                                <input type="checkbox" name="skills" value="PostSQL">
=======
                                <input type="checkbox" name="desiredSkill" value="PostSQL">
>>>>>>> 0b076ab04ce9cca19ea825f22b2191989fb1e9e6
                                <img class="img-fluid mx-1" width="20px" height="20px" src="/images/postsql.png" alt="">
                                PostSQL
                            </label>
                            <label class="DOMAINS">
<<<<<<< HEAD
                                <input type="checkbox" name="skills" value="Java">
                                <img class="img-fluid mx-1" width="26px" height="26px" src="/images/java.png" alt="">
                                Java </label>
                            <label class="DOMAINS">
                                <input type="checkbox" name="skills" value="Laravel">
                                <img class="img-fluid mx-1" width="24px" height="23px" src="/images/laravel.png" alt="">
                                Laravel </label>
                            <label class="DOMAINS">
                                <input type="checkbox" name="skills" value="Java Android">
=======
                                <input type="checkbox" name="desiredSkill" value="Java">
                                <img class="img-fluid mx-1" width="26px" height="26px" src="/images/java.png" alt="">
                                Java </label>
                            <label class="DOMAINS">
                                <input type="checkbox" name="desiredSkill" value="Laravel">
                                <img class="img-fluid mx-1" width="24px" height="23px" src="/images/laravel.png" alt="">
                                Laravel </label>
                            <label class="DOMAINS">
                                <input type="checkbox" name="desiredSkill" value="Java Android">
>>>>>>> 0b076ab04ce9cca19ea825f22b2191989fb1e9e6
                                <img class="img-fluid mx-1" width="" height="" src="/images/java-android.png" alt="">
                                Java Android </label>
                            <label class="DOMAINS">
                                <input type="checkbox" name="desiredSkill" value="Ruby on Rails">
                                <img class="img-fluid mx-1" width="26px" height="26px" src="/images/ruby.png" alt="">
                                Ruby on Rails </label>
                        </div>
                        <div class="col-lg-10 mt-5">
                            <h3 class="XLARGE">What developers are you looking to hire?</h3>
                        </div>
                        <div class="col-lg-10 mt-1 mb-2" id="XSMALL">Please choose your
                            desired Role from the options below:
                        </div>
                        <div class="col-sm-11 d-flex flex-wrap ">
                            <label class="DOMAINS-PART2">
<<<<<<< HEAD
                                <input type="checkbox" name="role" value="UI/UX Designer">
                                <img class="img-fluid mx-1" height="20px" width="20px" src="/images/Senior Engineer.png"
                                    alt="">
                                Software engineer
                            </label>
                            <label class="DOMAINS-PART2">
                                <input type="checkbox" name="role" value="Product Manager">
                                <img class="img-fluid mx-1" height="20px" width="20px"
                                    src="/images/Software Architect-01.png" alt="">
                                Senior Architect
                            </label>
                            <label class="DOMAINS-PART2">
                                <input type="checkbox" name="role" value="Digital Marketer">
                                <img class="img-fluid mx-1" height="20px" width="20px" src="/images/Marketer-01.png"
                                    alt="">
                                Marketer
                            </label>
                            <label class="DOMAINS-PART2">
                                <input type="checkbox" name="role" value="Project Manager">
                                <img class="img-fluid mx-1" height="20px" width="20px"
                                    src="/images/Project Manager-01.png" alt="">
                                Project Manager
                            </label>
                            <label class="DOMAINS-PART2">
                                <input type="checkbox" name="role" value="Consulting">
                                <img class="img-fluid mx-1" height="20px" width="20px"
                                    src="/images/Project Manager-01.png" alt="">
                                Tech Lead Manager
                            </label>
                            <label class="DOMAINS-PART2">
                                <input type="checkbox" name="role" value="Agency">
                                <img class="img-fluid mx-1" height="20px" width="20px"
                                    src="/images/business-analysis-01.png" alt="">
                                Business Analyst
                            </label>
                        </div>


                        <!-- ---------------------------------------------- -->
=======
                                <input type="checkbox" name="desiredRole" value="UI/UX Designer">
                                <img class="img-fluid mx-1" height="20px" width="20px" src="/images/bag.svg" alt="">
                                UI/UX Designer
                            </label>
                            <label class="DOMAINS-PART2">
                                <input type="checkbox" name="desiredRole" value="Product Manager">
                                <img class="img-fluid mx-1" height="20px" width="20px" src="/images/bag.svg" alt="">
                                Product Manager
                            </label>
                            <label class="DOMAINS-PART2">
                                <input type="checkbox" name="desiredRole" value="Digital Marketer">
                                <img class="img-fluid mx-1" height="20px" width="20px" src="/images/bag.svg" alt="">
                                Digital Marketer
                            </label>
                            <label class="DOMAINS-PART2">
                                <input type="checkbox" name="desiredRole" value="Project Manager">
                                <img class="img-fluid mx-1" height="20px" width="20px" src="/images/bag.svg" alt="">
                                Project Manager
                            </label>
                            <label class="DOMAINS-PART2">
                                <input type="checkbox" name="desiredRole" value="Consulting">
                                <img class="img-fluid mx-1" height="20px" width="20px" src="/images/bag.svg" alt="">
                                Consulting
                            </label>
                            <label class="DOMAINS-PART2">
                                <input type="checkbox" name="desiredRole" value="Agency">
                                <img class="img-fluid mx-1" height="20px" width="20px" src="/images/bag.svg" alt="">
                                Agency
                            </label>
                        </div>

                        <!-- ---------------------------------------------- -->

>>>>>>> 0b076ab04ce9cca19ea825f22b2191989fb1e9e6


                        <div class="row justify-content-center">
                            <div class="col-sm-9 mt-5 mb-3">
                                <lable class="mb-3" style="color: black; font-weight: 600;">Select Skill</lable>
<<<<<<< HEAD
                                <form method="post">
                                    <select id="mySelect" name="skills" class="js-example-basic-multiple"
                                        multiple="multiple" style=" width: 100%; height: 90px; padding: 12px 20px; margin: 8px 0px; display: inline-block;  border-radius: 4px; border: 1px solid rgb(233, 233, 233); box-sizing: border-box;  cursor: pointer;
                                    ">




                                        <option value="Selenium">Selenium</option>
                                        <option value="Ionic">Ionic</option>
                                        <option value="IThree.js">IThree.js</option>
                                        <option value="Bootstrap">Bootstrap</option>
                                        <option value="Hadoop">Hadoop</option>
                                        <option value="Kafka">Kafka</option>
                                        <option value=".NET Developer">.NET Developer</option>
                                        <option value="SQL">SQL</option>
                                        <option value="MATLAB">MATLAB</option>
                                        <option value="C++">C++</option>
                                        <option value="Electron">Electron</option>
                                        <option value="MVC">MVC</option>
                                        <option value="Apache Solr">Apache Solr</option>
                                        <option value="Grails">Grails</option>
                                        <option value="Kubernetes">Kubernetes</option>
                                        <option value="Golang">Golang</option>
                                        <option value="Chatbot">Chatbot</option>
                                        <option value="Computer Vision">Computer Vision</option>
                                        <option value="SAP">SAP</option>
                                        <option value="Scala">Scala</option>
                                        <option value="Azure">Azure</option>
                                        <option value="Bash">Bash</option>
                                        <option value="AWS Lambda">AWS Lambda</option>
                                        <option value="NetSuite API">NetSuite API</option>
                                        <option value="WordPress">WordPress</option>
                                        <option value="ELK Stack">ELK Stack</option>
                                        <option value="Redux">Redux</option>
                                        <option value="Power BI">Power BI</option>
                                        <option value="MERN">MERN</option>
                                        <option value="Apache Airflow">Apache Airflow</option>
                                        <option value="AWS CloudWatch">AWS CloudWatch</option>
                                        <option value="Swift">Swift</option>
                                        <option value="Objective-C">Objective-C</option>
                                        <option value="Groovy">Groovy</option>
                                        <option value="RESTfill API">RESTfill API</option>
                                        <option value="Adonis.js">Adonis.js</option>
                                        <option value="Solidity">Solidity</option>
                                        <option value="Big Data">Big Data</option>
                                        <option value="Solutions">Solutions</option>
                                        <option value="Django">Django</option>
                                        <option value="Tailwind CSS">Tailwind CSS</option>
                                        <option value="Umbraco">Umbraco</option>
                                        <option value="SaaS">SaaS</option>
                                        <option value="Codelgniter">Codelgniter</option>
                                        <option value="Ansible">Ansible</option>
                                        <option value="Cassandra">Cassandra</option>
                                        <option value="Salesforce">Salesforce</option>
                                        <option value="Sage">Sage</option>
                                        <option value="Dart">Dart</option>
                                        <option value="Blockchain">Blockchain</option>
                                        <option value="Vue.js">Vue.js</option>
                                        <option value="jQuery">jQuery</option>
                                        <option value="Database">Database</option>
                                        <option value="CSS/Bootstrap">CSS/Bootstrap</option>
                                        <option value="Chrome Extensions">Chrome Extensions</option>
                                        <option value="D3.js">D3.js</option>
                                        <option value="Figma">Figma</option>
                                        <option value="Clojure">Clojure</option>
                                        <option value="Shopify">Shopify</option>
                                        <option value="Flutter">Flutter</option>
                                        <option value="Cordova">Cordova</option>
                                        <option value="ML/CV">ML/CV</option>
                                        <option value="Full Stack Angular">Full Stack Angular</option>
                                        <option value="Full Stack Kotlin">Full Stack Kotlin</option>
                                        <option value="MySQL">MySQL</option>
                                        <option value="iOS">iOS</option>
                                        <option value="GraphQL">GraphQL</option>
                                        <option value="RXJS">RXJS</option>
                                        <option value="Drupal">Drupal</option>
                                        <option value="ML/NLP">ML/NLP</option>
                                        <option value="Go">Go</option>
                                        <option value="R Programming">R Programming</option>
                                        <option value="CI/CD">CI/CD</option>
                                        <option value="Stripe">Stripe</option>
                                        <option value="Ruby">Ruby</option>
                                        <option value="JSON">JSON</option>
                                        <option value="NLP">NLP</option>
                                        <option value="Spring">Spring</option>
                                        <option value="LAMP">LAMP</option>
                                        <option value="Rust">Rust</option>
                                        <option value="BigCommerce">BigCommerce</option>
                                        <option value="Delphi">Delphi</option>
                                        <option value="Backbone.js">Backbone.js</option>
                                        <option value="Database Administrator">Database Administrator</option>
                                        <option value="Ethereum">Ethereum</option>
                                        <option value="C">C</option>
                                        <option value="Perl">Perl</option>
                                        <option value="NextJS">NextJS</option>
                                        <option value="GCP">GCP</option>
                                        <option value="Xamarin">Xamarin</option>
                                        <option value="Gatsby">Gatsby</option>
                                        <option value="Slack">Slack</option>
                                        <option value="Flask">Flask</option>
                                        <option value="ASP.NET">ASP.NET</option>
                                        <option value="VBA">VBA</option>
                                        <option value="XML">XML</option>
                                        <option value="Objective-C">Objective-C</option>
                                        <option value="Ember.js">Ember.js</option>
                                        <option value="Algorithms">Algorithms</option>
                                        <option value="Elasticsearch">Elasticsearch</option>
                                        <option value="VB.NET">VB.NET</option>
                                        <option value="FireBase">FireBase</option>
                                        <option value="Oracle">Oracle</option>
                                        <option value="Hashkell">Hashkell</option>
                                        <option value="Terraform">Terraform</option>
                                        <option value="Redis">Redis</option>
                                        <option value="TensorFlow">TensorFlow</option>
                                        <option value="NoSQL">NoSQL</option>
                                        <option value="ETL Testing">ETL Testing</option>
                                        <option value="Symfony">Symfony</option>
                                        <option value="Business Intelligence">Business Intelligence</option>
                                        <option value="Erlang">Erlang</option>
                                        <option value="Elixir">Elixir</option>
                                        <option value="MongoDB">MongoDB</option>
                                        <option value="Drupal">Drupal</option>
                                        <option value="Linux">Linux</option>
                                        <option value="CSS">CSS</option>
                                        <option value="Data Analytics">Data Analytics</option>
                                        <option value="MEAN">MEAN</option>
                                        <option value="Spark">Spark</option>
                                        <option value="Jenkins">Jenkins</option>
                                        <option value="Docker">Docker</option>
                                        <option value="Spring Boot">Spring Boot</option>
                                        <option value="Microservices">Microservices</option>
                                        <option value="VanillaJS">VanillaJS</option>
                                        <option value="Magento">Magento</option>
                                        <option value="AJAX">AJAX</option>
                                        <option value="Apache Kafka">Apache Kafka</option>
                                        <option value="DevOps">DevOps</option>
                                        <option value="Integrations">Integrations</option>
                                        <option value="Web3">Web3</option>
                                        <option value="Desktop">Desktop</option>
                                        <option value="Infrastructure Security">Infrastructure Security</option>
                                        <option value="Data Operations">Data Operations</option>
                                        <option value="Cloud Security">Cloud Security</option>
                                        <option value="DevOps Cloud Infrastructure">
                                            DevOps Cloud Infrastructure
                                        </option>
                                        <option value="Data Warehouse">Data Warehouse</option>
                                        <option value="Cloud Enterprise Architect">
                                            Cloud Enterprise Architect
                                        </option>
                                        <option value="Test Automation">Test Automation</option>
                                        <option value="Cloud Automation">Cloud Automation</option>
                                        <option value="Deep Learning">Deep Learning</option>
                                        <option value="DevSecOps">DevSecOps</option>
                                        <option value="CMS">CMS</option>
                                        <option value="Straitegic thinking">Straitegic thinking</option>
                                        <option value="Project management">Project management</option>
                                        <option value="Technical expertise">Technical expertise</option>
                                        <option value="Customer service">Customer service</option>
                                        <option value="Branding and identity">Branding and identity</option>
                                        <option value="Creative thinking">Creative thinking</option>
                                        <option value="Marketing and advertising">
                                            Marketing and advertising
                                        </option>
                                        <option value="CRM">CRM</option>
                                        <option value="PPC Ads">PPC Ads</option>
                                        <option value="Social Media">Social Media</option>
                                        <option value="Marketing">Marketing</option>
                                        <option value="Content Writing">Content Writing</option>
                                        <option value="Copy Writing">Copy Writing</option>
                                        <option value="SEO">SEO</option>
                                        <option value="Recruiting sourcing">Recruiting sourcing</option>
                                        <option value="Analytical skills">Analytical skills</option>
                                        <option value="Relationship building">Relationship building</option>
                                        <option value="Attention to details">Attention to details</option>
                                        <option value="Diversity to detail">Diversity to detail</option>
                                        <option value="Strategic thinking">Strategic thinking</option>
                                        <option value="Customer empathy">Customer empathy</option>
                                        <option value="Product development">Product development</option>
                                        <option value="Data analysis">Data analysis</option>
                                        <option value="Analytical skills">Analytical skills</option>
                                        <option value="Problem-solving skills">Problem-solving skills</option>
                                        <option value="Experimentation">Experimentation</option>
                                        <option value="Customer acquisition">Customer acquisition</option>
                                        <option value="User retention">User retention</option>
                                        <option value="Product development">Product development</option>
                                        <option value="Branding and messaging">Branding and messaging</option>
                                        <option value="Technical skills">Technical skills</option>
                                        <option value="Analytical skills">Analytical skills</option>
                                        <option value="communication">Communication</option>
                                        <option value="Process improvement">Process improvement</option>
                                        <option value="Documentation">Documentation</option>
                                        <option value="Time management">Time management</option>
                                        <option value="Writing">Writing</option>
                                        <option value="Editing">Editing</option>
                                        <option value="Research">Research</option>
                                        <option value="Social media">Social media</option>
                                        <option value="Time management">Time management</option>
                                        <option value="Drawing and design">Drawing and design</option>
                                        <option value="Computer skills">Computer skills</option>
                                        <option value="Attention to details">Attention to details</option>
                                        <option value="Storytelling">Storytelling</option>
                                        <option value="Collaboration">Collaboration</option>
                                        <option value="Communication">Communication</option>
                                        <option value="Product knowledge">Product knowledge</option>
                                        <option value="Time management">Time management</option>
                                        <option value="Problem-solving">Problem-solving</option>
                                        <option value="Adaptability">Adaptability</option>
                                        <option value="Relationship building">Relationship building</option>
                                        <option value="Sales process management">Sales process management</option>
                                        <option value="Financial analysis">Financial analysis</option>
                                        <option value="Financial Modeling">Financial Modeling</option>
                                        <option value="Accounting">Accounting</option>
                                        <option value="Investment management">Investment management</option>
                                        <option value="Risk management">Risk management</option>
                                        <option value="Financial planning">Financial planning</option>
                                        <option value="Problem-solving">Problem-solving</option>
                                        <option value="Active listening">Active listening</option>
                                        <option value="Adaptation">Adaptation</option>
                                        <option value="Multitasking">Multitasking</option>
                                        <option value="Attention to detail">Attention to detail</option>
                                        <option value="Product Knowledge">Product Knowledge</option>
                                        <option value="Customer Orientation">Customer Orientation</option>
                                        <option value="Communication">Communication</option>
                                        <option value="Time Management">Time Management</option>
                                        <option value="Organization">Organization</option>
                                        <option value="Technology">Technology</option>
                                        <option value="Customer Service">Customer Service</option>
                                        <option value="Problem-Solving">Problem-Solving</option>
                                        <option value="Sales">Sales</option>
                                        <option value="Networking">Networking</option>
                                        <option value="Strategic Thinking">Strategic Thinking</option>
                                        <option value="Market Research">Market Research</option>
                                        <option value="Financial Analysis">Financial Analysis</option>
                                        <option value="Project Management">Project Management</option>
                                        <option value="Technical expertise">Technical expertise</option>
                                        <option value="Customer service">Customer service</option>
                                        <option value="Branding and identity">Branding and identity</option>
                                        <option value="Creative thinking">Creative thinking</option>
                                        <option value="Marketing and advertising">
                                            Marketing and advertising
                                        </option>
                                        <option value="CRM">CRM</option>
                                        <option value="PPC Ads">PPC Ads</option>
                                        <option value="Social Media">Social Media</option>
                                        <option value="Marketing">Marketing</option>
                                        <option value="Content Writing">Content Writing</option>
                                        <option value="Copy Writing">Copy Writing</option>
                                        <option value="SEO">SEO</option>
                                        <option value="Recruiting sourcing">Recruiting sourcing</option>
                                        <option value="Analytical skills">Analytical skills</option>
                                        <option value="Relationship building">Relationship building</option>
                                        <option value="Attention to details">Attention to details</option>
                                        <option value="Diversity to detail">Diversity to detail</option>
                                        <option value="Strategic thinking">Strategic thinking</option>
                                        <option value="Customer empathy">Customer empathy</option>
                                        <option value="Product development">Product development</option>
                                        <option value="Data analysis">Data analysis</option>
                                        <option value="Problem-solving skills">Problem-solving skills</option>
                                        <option value="Experimentation">Experimentation</option>
                                        <option value="Customer acquisition">Customer acquisition</option>
                                        <option value="User retention">User retention</option>
                                        <option value="Branding and messaging">Branding and messaging</option>
                                        <option value="Technical skills">Technical skills</option>
                                        <option value="communication">Communication</option>
                                        <option value="Process improvement">Process improvement</option>
                                        <option value="Documemtation">Documemtation</option>
                                        <option value="Time managment">Time managment</option>
                                        <option value="Writing">Writing</option>
                                        <option value="Editing">Editing</option>
                                        <option value="Research">Research</option>
                                        <option value="Social media">Social media</option>
                                        <option value="Drawing and design">Drawing and design</option>
                                        <option value="Computer skills">Computer skills</option>
                                        <option value="Storytelling">Storytelling</option>
                                        <option value="Collaboration">Collaboration</option>
                                        <option value="Communication">Communication</option>
                                        <option value="Product knowledge">Product knowledge</option>
                                        <option value="Problem-solving">Problem-solving</option>
                                        <option value="Adaptability">Adaptability</option>
                                        <option value="Sales process managment">Sales process managment</option>
                                        <option value="Financial analysis">Financial analysis</option>
                                        <option value="Financial Modeling">Financial Modeling</option>
                                        <option value="Accounting">Accounting</option>
                                        <option value="Investment managment">Investment managment</option>
                                        <option value="Risk managmet">Risk managmet</option>
                                        <option value="Financial planning">Financial planning</option>
                                        <option value="Active listening">Active listening</option>
                                        <option value="Adaption">Adaption</option>
                                        <option value="Multitasking">Multitasking</option>
                                        <option value="Attention to detail">Attention to detail</option>
                                        <option value="Product Knowledge">Product Knowledge</option>
                                        <option value="Customer Orentation">Customer Orentation</option>
                                        <option value="Communication">Communication</option>
                                        <option value="Time Management">Time Management</option>
                                        <option value="Organization">Organization</option>
                                        <option value="Technology">Technology</option>
                                        <option value="Customer Service">Customer Service</option>
                                        <option value="Problem-Solvinng">Problem-Solvinng</option>
                                        <option value="Sales">Sales</option>
                                        <option value="Networking">Networking</option>
                                        <option value="Strategic Thinking">Strategic Thinking</option>
                                        <option value="Market Research">Market Research</option>
                                        <option value="Financial Analysis">Financial Analysis</option>
                                        <option value="Risk Management">Risk Management</option>
                                        <option value="Budget Management">Budget Management</option>
                                        <option value="Quality Control">Quality Control</option>
                                        <option value="Analytical Skills">Analytical Skills</option>
                                        <option value="Relationship building">Relationship building</option>
                                        <option value="Attention to detail">Attention to detail</option>
                                        <option value="Diversity and inclusion">Diversity and inclusion</option>
                                        <option value="Software Developer">Software Developer</option>
                                        <option value="Marketing Specialist">Marketing Specialist</option>
                                        <option value="technical Recuiter">technical Recuiter</option>
                                        <option value="Business Developer">Business Developer</option>
                                        <option value="Vitual Assistance">Vitual Assistance</option>
                                        <option value="Sales Specialist">Sales Specialist</option>
                                        <option value="Animator">Animator</option>
                                        <option value="Content Specialist">Content Specialist</option>
                                        <option value="Quality Assurance">Quality Assurance</option>
                                        <option value="Growth Specialist">Growth Specialist</option>
                                    </select>
=======
>>>>>>> 0b076ab04ce9cca19ea825f22b2191989fb1e9e6

                                <select id="mySelect" name="desiredRole" class="js-example-basic-multiple"
                                    multiple="multiple"
                                    style=" width: 100%; height: 90px; padding: 12px 20px; margin: 8px 0px;display: inline-block;
                        border-radius: 4px;border: 1px solid rgb(233, 233, 233); box-sizing: border-box;cursor: pointer;">
                                    <option value="Selenium">Selenium</option>
                                    <option value="Ionic">Ionic</option>
                                    <option value="IThree.js">IThree.js</option>
                                    <option value="Bootstrap">Bootstrap</option>
                                    <option value="Hadoop">Hadoop</option>
                                    <option value="Kafka">Kafka</option>
                                    <option value=".NET Developer">.NET Developer</option>
                                    <option value="SQL">SQL</option>
                                    <option value="MATLAB">MATLAB</option>
                                    <option value="C++">C++</option>
                                    <option value="Html5">Electron</option>
                                    <option value="MVC">MVC</option>
                                    <option value="Apache Solr">Apache Solr</option>
                                    <option value="Grails">Grails</option>
                                    <option value="Kubernetes">Kubernetes</option>
                                    <option value="Golang">Golang</option>
                                    <option value="Chatbot">Chatbot</option>
                                    <option value="Computer Vision">Computer Vision</option>
                                    <option value="SAP">SAP</option>
                                    <option value="Scala">Scala</option>
                                    <option value="Azure">Azure</option>
                                    <option value="Scala">Scala</option>
                                    <option value="Bash">Bash</option>
                                    <option value="AWS Lambda">AWS Lambda</option>
                                    <option value="NetSuite API">NetSuite API</option>
                                    <option value="WordPress">WordPress</option>
                                    <option value="ELK Stack">ELK Stack</option>
                                    <option value="Redux">Redux</option>
                                    <option value="Power BI">Power BI</option>
                                    <option value="MERN">MERN</option>
                                    <option value="Apache Airflow">Apache Airflow</option>
                                    <option value="AWS CloudWatck">AWS CloudWatck</option>
                                    <option value="Swift">Swift</option>
                                    <option value="Objective-C">Objective-C</option>
                                    <option value="Groovy">RESTfill API</option>
                                    <option value="Adonis.js">Adonis.js</option>
                                    <option value="Solidity">Solidity</option>
                                    <!-- Add more options as needed -->
                                </select>


                            </div>
                            <div class="col-sm-9 ">
                                <div class="mt-2 mb-2">
                                    <lable style="color: black; font-weight: 600;">Full Name</lable>
                                    <input type="text" class="HH" id="NAME" name="fullName"
                                        placeholder="Enter Your Name">
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="mt-2 mb-4">
                                    <lable style="color: black; font-weight: 600;">Company Name</lable>
                                    <input type="text" class="HH" id="NAME" name="companyName"
                                        placeholder="Enter Your Company Name">
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-7 mb-5">
                            <input class="mt-1" type="submit" value="Continue">
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
<<<<<<< HEAD
        document.getElementById('submitForm').addEventListener('click', async () => {
            const skillData = [];

            const checkboxOptions = document.querySelectorAll('input[name="desiredSkill"]:checked');
            checkboxOptions.forEach((checkbox) => {
                const textValue = checkbox.value;
                const imgSrc = checkbox.previousElementSibling.getAttribute('src');
                skillData.push({ btnname: textValue, img: imgSrc });
            });

            const response = await fetch('/saveSkillData', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ skills: skillData }),
            });

            if (response.ok) {
                console.log('Data saved successfully.');
            } else {
                console.error('Failed to save data.');
            }
        });
    </script>
    <script>
        // ----------SELECT OPTION VALUES
        document.getElementById("mySelect").addEventListener("change", function () {
        var selectedOptions = this.selectedOptions;
        if (selectedOptions.length > 6) {
            alert("You can only select up to 6 values.");
            for (var i = 0; i < this.options.length; i++) {
                this.options[i].disabled = true;
            }
            for (var i = 0; i < selectedOptions.length; i++) {
                selectedOptions[i].disabled = false;
            }
        } else {
            for (var i = 0; i < this.options.length; i++) {
                this.options[i].disabled = false;
            }
        }
    });

        // ----WHAT DEVELOPER ARE TYOU LOOKONG TO HIRE
        const boxes_multi = document.querySelectorAll('.DOMAINS');
        boxes_multi.forEach(box_multi => {
            box_multi.addEventListener('click', () => {
                const checkBox = box_multi.querySelector('input[type="checkbox"]');
                if (checkBox.checked) {
                    checkBox.checked = false;
                    box_multi.classList.remove('active');
                    box_multi.style.border = '1px solid lightgray';
                    box_multi.style.backgroundColor = 'transparent';
                    // box_multi.style.color = 'black';
                }
                else {
                    checkBox.checked = true;
                    box_multi.classList.add('active');
                    box_multi.style.border = '1px solid BLACK';
                    box_multi.style.backgroundColor = 'lightgray';
                    // box_multi.style.color = 'white';
                }
            });
        })

        // ----WHAT DEVELOPER ARE TYOU LOOKONG TO HIRE
        const boxes = document.querySelectorAll('.DOMAINS-PART2');
        boxes.forEach(box => {
            box.addEventListener('click', () => {
                const checkBox = box.querySelector('input[type="checkbox"]');
                if (checkBox.checked) {
                    checkBox.checked = false;
                    box.classList.remove('active');
                    box.style.border = '1px solid lightgray';
                    box.style.backgroundColor = 'transparent';
                }
                else {
                    checkBox.checked = true;
                    box.classList.add('active');
                    box.style.border = '1px solid BLACK'
                    box.style.backgroundColor = 'lightgray'
                }
            });
        })


        // --------------------------------
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2({
                placeholder: 'Search or select options',
                closeOnSelect: false,
                allowClear: true
            });
        });
        $(document).ready(function () {
            // Make an AJAX request to fetch the JSON data
            $.ajax({
                url: '/url/api',
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    // Populate the EJS template with data
                    $('#key1').text(data.password);
                    $('#key2').text(data.email);
                    // Populate additional elements as needed
                },
                error: function (error) {
                    console.error('Error:', error);
                },
            });
        });

=======
        function submitForm() {
            // Get the image source from the img tag
            const nodeJsImageSrc = document.getElementById('nodeJsImage').src;
    
            // Set the value of a hidden input field with the image source
            const hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = 'imageSrc';
            hiddenInput.value = nodeJsImageSrc;
    
            // Append the hidden input field to the form
            const form = document.getElementById('myForm');
            form.appendChild(hiddenInput);
    
            // Submit the form
            form.submit();
        }
    </script>
    <script>

        // ----WHAT DEVELOPER ARE TYOU LOOKONG TO HIRE
        const boxes_multi = document.querySelectorAll('.DOMAINS');
        boxes_multi.forEach(box_multi => {
            box_multi.addEventListener('click', () => {
                const checkBox = box_multi.querySelector('input[type="checkbox"]');
                if (checkBox.checked) {
                    checkBox.checked = false;
                    box_multi.classList.remove('active');
                    box_multi.style.border = '1px solid lightgray';
                    box_multi.style.backgroundColor = 'transparent';
                    // box_multi.style.color = 'black';
                }
                else {
                    checkBox.checked = true;
                    box_multi.classList.add('active');
                    box_multi.style.border = '1px solid BLACK';
                    box_multi.style.backgroundColor = 'lightgray';
                    // box_multi.style.color = 'white';
                }
            });
        })

        // ----WHAT DEVELOPER ARE TYOU LOOKONG TO HIRE
        const boxes = document.querySelectorAll('.DOMAINS-PART2');
        boxes.forEach(box => {
            box.addEventListener('click', () => {
                const checkBox = box.querySelector('input[type="checkbox"]');
                if (checkBox.checked) {
                    checkBox.checked = false;
                    box.classList.remove('active');
                    box.style.border = '1px solid lightgray';
                    box.style.backgroundColor = 'transparent';
                }
                else {
                    checkBox.checked = true;
                    box.classList.add('active');
                    box.style.border = '1px solid BLACK'
                    box.style.backgroundColor = 'lightgray'
                }
            });
        })


        // --------------------------------
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2({
                placeholder: 'Search or select options',
                closeOnSelect: false,
                allowClear: true
            });
        });
        $(document).ready(function () {
            // Make an AJAX request to fetch the JSON data
            $.ajax({
                url: '/url/api',
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    // Populate the EJS template with data
                    $('#key1').text(data.password);
                    $('#key2').text(data.email);
                    // Populate additional elements as needed
                },
                error: function (error) {
                    console.error('Error:', error);
                },
            });
        });

>>>>>>> 0b076ab04ce9cca19ea825f22b2191989fb1e9e6
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>