<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>newsletter</title>
    <style></style>
    <!-- STYLE -->
    <link rel="stylesheet" href="/css/intership.css" />
    <!-- haris STYLE -->
    <link rel="stylesheet" href="/css/haris.css" />
    <!-- NAVBAR LINK -->
    <link rel="stylesheet" href="/css/navbar.css" />
    <!-- FOR BLOG/FOOTER -->
    <link rel="stylesheet" href="css/blog.css" />
    <!--  LINKS OF FONT FAMILY  -->
    <link rel="stylesheet" href="/css/fontstyle.css" />
    <!-- email_section -->
    <link href="/css/components_css/email_section.css" rel="stylesheet" />
    <!-- FOOTER STYLE -->
    <link href="/css/blog.css" rel="stylesheet" type="text/css" />
    <!-- BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- BOOT CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <!-- ----------------   CHATGPT     ----------- -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <!-- REMIX-ICONS -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- NAVBAR  navbar.css+remix icon link navbar.js-->
    <nav class="header"><%- include('Components/navbar'); %></nav>
    <br />

    <div class="container-fluid" id="INTERN-CONTAINER">
      <div class="row justify-content-center text-center text-white">
        <div class="col-sm-12 mt-5">
          <h1 class="HEADING">Global Internship Program</h1>
        </div>
        <div class="col-lg-10 mb-5 SMALL">
          The Global Internship Program helps you advance your career by
          providing life-changing global work and research experiences. The
          global internship builds a bridge between cultures and continents
          through the development of global programs.
        </div>
        <div class="col-lg-5">
          <div class="mb-5" id="JOIN-BTN">
            <a href="/hire_talents">Become an Intern</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt-5" id="INTERN-CONTAINER2">
      <div class="row text-center justify-content-center">
        <div class="col-sm-12">
          <img
            class="img-fluid"
            src="/images/Banner_img02-1280x746.png.webp"
            alt=""
          />
        </div>
        <div class="col-sm-9 HEADING">Global Internship Program</div>
        <div class="col-sm-10 SMALL">
          The Global Internship Program helps you advance your career by
          providing life-changing global work and research experiences. The
          global internship builds a bridge between cultures and continents
          through the development of global programs.
        </div>
        <div class="col-sm-5 mt-2">
          <div class="mb-5" id="JOIN-BTN"><a href="">Become an Intern</a></div>
        </div>
      </div>
    </div>
    <!-- Choose a Career You Love -->
    <div class="container-fluid mb-5">
      <div class="row text-center">
        <div class="col-sm-12 mt-5">
          <h1 class="HEADING">Choose a Career You Love</h1>
        </div>
        <div class="col-sm-12 SMALL">
          Interested in having the experience of a global intern? Explore the
          following internship openings to get a glimpse of life in a new place.
        </div>
        <div class="col-sm-12 mt-5">
          <div class="row justify-content-evenly my-5">
            <!-- BOX 1 -->

            <div class="col-lg-3 col-sm-5 m-2">
              <a
                href="/hire_talents"
                style="text-decoration: none; color: black"
                class="BOX-DIV"
              >
                <div>
                  <img
                    height="60px"
                    width="60px"
                    class="img-fluid"
                    src="/images/Designers-01.png"
                    alt=""
                  />
                </div>
                <h5><B class="LARGE">Designers intern</B></h5>
                <p class="XSMALL">
                  Seeking a motivated and passionate web development intern to
                  join our team
                </p>
              </a>
            </div>
            <!-- BOX 2 -->
            <!-- <a href="/software_engineer" style="text-decoration: none; color: black;"></a> -->
            <div class="col-lg-3 col-sm-5 m-2">
              <a
                href="/hire_talents"
                style="text-decoration: none; color: black"
                class="BOX-DIV"
              >
                <div>
                  <img
                    height="60px"
                    width="60px"
                    class="img-fluid"
                    src="/images/Designers-01.png"
                    alt=""
                  />
                </div>
                <h5><B class="LARGE">Marketing intern</B></h5>
                <p class="XSMALL">
                  looking for a motivated and enthusiastic marketing intern to
                  join our team and help us reach our goals!
                </p></a
              >
            </div>
            <!-- BOX 3 -->
            <!-- <a href="/software_engineer" style="text-decoration: none; color: black;"></a> -->
            <div class="col-lg-3 col-sm-5 m-2">
              <a
                href="/hire_talents"
                style="text-decoration: none; color: black"
                class="BOX-DIV"
              >
                <div>
                  <img
                    height="60px"
                    width="60px"
                    class="img-fluid"
                    src="/images/Designers-01.png"
                    alt=""
                  />
                </div>
                <h5><B class="LARGE">Mobile Development interne </B></h5>
                <p class="XSMALL">
                  Seeking a motivated and passionate web development intern to
                  join our team
                </p>
              </a>
            </div>
            <!-- BOX 4 -->
            <!-- <a href="/software_engineer" style="text-decoration: none; color: black;"></a> -->
            <div class="col-lg-3 col-sm-5 m-2">
              <a
                href="/hire_talents"
                style="text-decoration: none; color: black"
                class="BOX-DIV"
              >
                <div>
                  <img
                    height="60px"
                    width="60px"
                    class="img-fluid"
                    src="/images/Designers-01.png"
                    alt=""
                  />
                </div>
                <h5><B class="LARGE">Sales intern</B></h5>
                <p class="XSMALL">
                  We are currently looking for a motivated Sales Intern to join
                  our team
                </p>
              </a>
            </div>
            <!-- BOX 5 -->
            <!-- <a href="/software_engineer" style="text-decoration: none; color: black;"></a> -->
            <div class="col-lg-3 col-sm-5 m-2">
              <a
                href="/hire_talents"
                style="text-decoration: none; color: black"
                class="BOX-DIV"
              >
                <div>
                  <img
                    height="60px"
                    width="60px"
                    class="img-fluid"
                    src="/images/Designers-01.png"
                    alt=""
                  />
                </div>
                <h5><B class="LARGE">Project Managments intern</B></h5>
                <p class="XSMALL">
                  We are looking for a motivated and organized individual to
                  join our team as a Project Management Intern
                </p>
              </a>
            </div>
            <!-- BOX 6 -->
            <!-- <a href="/software_engineer" style="text-decoration: none; color: black;"></a> -->
            <div class="col-lg-3 col-sm-5 m-2">
              <a
                href="/hire_talents"
                style="text-decoration: none; color: black"
                class="BOX-DIV"
              >
                <div>
                  <img
                    height="60px"
                    width="60px"
                    class="img-fluid"
                    src="/images/Designers-01.png"
                    alt=""
                  />
                </div>
                <h5><B class="LARGE">Project Managments intern</B></h5>
                <p class="XSMALL">
                  We are looking for a motivated and organized individual to
                  join our team as a Project Management Intern
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- DIV TO GINE BACK-GROUND COLOR -->
    <div
      class="container-fluid py-3"
      style="background-color: rgb(246, 249, 255)"
    >
      <!-- Our Partnered Universities -->
      <div
        class="container-fluid my-5"
        style="
          background-image: url('/images/design.png');
          background-size: cover;
        "
      >
        <div class="row text-center text-white">
          <div class="col-sm-12 mt-5">
            <h1 class="HEADING">Our Partnered Universities</h1>
          </div>
          <div class="col-sm-12 SMALL mb-5">
            We have partnered up with a diverse set of global universities
          </div>
          <div class="col-sm-12 my-5">
            <img class="img-fluid" src="/images/uni-1280x560.png.webp" alt="" />
          </div>
        </div>
      </div>

      <!-- Placement Process -->
      <div class="container-fluid">
        <div class="row justify-content-evenly my-5">
          <div class="col-lg-4 text-start">
            <div>
              <h4 class="HEADING">Placement Process</h4>
            </div>
            <div class="SMALL">
              Our Global Internship program combines a comprehensive internship
              with an integrated academic seminar to fulfill professional
              exploration and diverse skill set development. We intend to learn
              to contextualize real-world experience during local business
              culture, professional development, intercultural communication,
              and linkages through local and global industry trends. While
              applying to summer internships abroad, we put effort to do the
              work to match you with the internship opportunity that fulfills
              your needs.
            </div>
            <div class="mt-2">
              <div class="my-5" id="JOIN-BTN">
                <a href="/login">Get Started</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div
              class="row d-flex flex-column justify-content-center align-items-start"
            >
              <!-- box 1 -->
              <div class="col-sm-8 px-4 pt-2 my-3" id="OPT-DIV">
                <div class="d-flex align-items-center">
                  <img
                    height="35x"
                    width="35px"
                    class="img-fluid"
                    src="/images/apply.svg"
                    alt=""
                  />
                  <h5>
                    <B class="LARGE">&nbsp;&nbsp;1. Start an application</B>
                  </h5>
                </div>
                <p class="XSMALL">
                  You’re a step closer to a mesmerizing experience of working in
                  a global culture.
                </p>
              </div>
              <!-- BOX 2 -->
              <div
                class="col-sm-8 px-4 pt-2 my-3 align-self-center"
                id="OPT-DIV"
              >
                <div class="d-flex align-items-center justify-content-center">
                  <img
                    height="35x"
                    width="35px"
                    class="img-fluid"
                    src="/images/interview.svg"
                    alt=""
                  />
                  <h5>
                    <B class="LARGE"
                      >&nbsp;&nbsp;2. Connect with your campus study-abroad
                      office</B
                    >
                  </h5>
                </div>

                <p class="XSMALL">
                  Share your plans and ensure that you’re on track to fulfill
                  all the required steps to go abroad
                </p>
              </div>
              <!-- BOX 3 -->
              <div class="col-sm-8 px-4 pt-2 my-3" id="OPT-DIV">
                <div class="d-flex align-items-center">
                  <img
                    height="35x"
                    width="35px"
                    class="img-fluid"
                    src="/images/apply.svg"
                    alt=""
                  />
                  <h5><B class="LARGE">&nbsp;&nbsp;3. Contact</B></h5>
                </div>

                <p class="XSMALL">
                  Reach us through an email if you still have queries or need
                  information.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ============================================Seamless Talent Solutions===================================================== -->
    <div class="container-fluid mt-5" id="HARIS">
      <div class="row">
        <div class="col-lg-12" style="margin: 35px 0px">
          <div class="row justify-content-around">
            <div class="col-lg-5 col-md-7 col-sm-9">
              <h1 class="HEADING">Our Placement Process</h1>
              <div class="SMALL">
                Our step-by-step placement procedure for interns is quite simple
                and straightforward. We begin by collecting applications from
                prospective interns who wish to join our program.
              </div>
              <div>
                <div class="mb-5" id="JOIN-BTN">
                  <a href="/hire_talents">Become an Intern</a>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-9 col-sm-8">
              <div class="row">
                <div class="col-lg-11">
                  <div style="margin-top: 50px">
                    <H3>Elite Global Opportunities:</H3>
                  </div>
                  <div style="color: #555659 !important">
                    <p class="SMALL">
                      SSL Solutions talent unlock opportunities with leading
                      global firms, securing competitive market salaries on a
                      worldwide scale. Your path to success awaits.
                    </p>
                  </div>
                </div>
                <div class="col-lg-11">
                  <div style="margin-top: 50px">
                    <H3>Accelerate Your Career:</H3>
                  </div>
                  <div id="SMALL" style="color: #555659 !important">
                    <p>
                      Experience rapid growth as you tackle intricate technical
                      and business challenges utilizing our cutting-edge tech
                      stack. Your journey to unprecedented professional
                      development starts here.
                    </p>
                  </div>
                </div>
                <div class="col-lg-11">
                  <div style="margin-top: 50px">
                    <H3>Talent Success Guaranteed</H3>
                  </div>
                  <div style="font-size: 18px; color: #555659 !important">
                    <p>
                      <SP>
                        Your Success, Our Priority: Count on SSL Solutions'
                        dedicated talent success support throughout your
                        journey.
                      </SP>
                    </p>
                  </div>
                </div>
                <div class="col-lg-11">
                  <div style="margin-top: 50px">
                    <H3>100+ In-Demand Skills</H3>
                  </div>
                  <div style="font-size: 18px; color: #555659 !important">
                    <p>
                      <SP>
                        Endless Possibilities: Hire remote web developers
                        proficient in Node, Rails, iOS, Android, DevOps, Java,
                        React, ML, PHP/Laravel, Angular, Python, and more.
                      </SP>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Successful Internships -->
    <div
      class="container-fluid mt-5"
      style="background-color: rgb(246, 249, 255)"
    >
      <div class="row justify-content-center">
        <div class="col-sm-10 mt-5">
          <h1 class="HEADING">Successful Internships</h1>
        </div>
        <div class="col-sm-10 SMALL">
          Our personalized guidance and support help you achieve success
          throughout your internship. With our help, you gain more than just
          experience; you also learn meaningful skills that can last a lifetime.
        </div>
        <div class="col-sm-10">
          <div class="row justify-content-between">
            <!-- icon 1 -->
            <div
              class="col-lg-2 col-md-4 col-5 my-2 d-flex justify-content-center align-items-center"
            >
              <div>
                <img
                  height="25px"
                  width="25px"
                  src="/images/countries.svg"
                  alt=""
                />
              </div>
              &nbsp;&nbsp;
              <div>
                <div class="LARGE"><b>15</b></div>
                <div class="XSMALL">Global Locations</div>
              </div>
            </div>
            <!-- icon 2 -->
            <div
              class="col-lg-2 col-md-3 col-5 my-2 d-flex justify-content-center align-items-center"
            >
              <div>
                <img
                  height="25px"
                  width="25px"
                  src="/images/worldwide.svg"
                  alt=""
                />
              </div>
              &nbsp;&nbsp;
              <div>
                <div class="LARGE"><b>750 +</b></div>
                <div class="XSMALL">Global Interns</div>
              </div>
            </div>
            <!-- icon 3 -->
            <div
              class="col-lg-2 col-md-3 col-5 my-2 d-flex justify-content-center align-items-center"
            >
              <div>
                <img
                  height="25px"
                  width="25px"
                  src="/images/avg_pace.svg"
                  alt=""
                />
              </div>
              &nbsp;&nbsp;
              <div>
                <div class="LARGE"><b>8</b></div>
                <div class="XSMALL">Weeks</div>
              </div>
            </div>
            <!-- icon 4 -->
            <div
              class="col-lg-2 col-md-3 col-5 my-2 d-flex justify-content-center align-items-center"
            >
              <div class="mt-2">
                <div class="my-5" id="JOIN"><a href="">Explore </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5 justify-content-center text-center">
        <div class="col-sm-12">
          <H1 class="HEADING">Join Our Community</H1>
        </div>
        <div class="col-lg-7 col-sm-10 SMALL">
          We invite you to join our community of tech people, who share tips and
          tricks, offer advice, and support each other. Our vibrant online tech
          community is the perfect place to learn more about using our products
          and services.
        </div>
        <div class="col-lg-9 col-sm-11">
          <div class="row justify-content-center">
            <div class="col-lg-9 col-11 my-lg-3 my-4" id="MAIN">
              <div class="input-container">
                <!-- <i class="fas fa-envelope">&nbsp;&nbsp;&nbsp;&nbsp; </i> -->
                <input
                  id="INNER"
                  type="text"
                  placeholder="Enter your Email"
                  name="email"
                />
              </div>
            </div>

            <!-- <div class="col-lg-5 col-sm-8"> <input type="" class="HH" name=""
                            placeholder="&#xF32C;   Your Email"></div> -->

            <div id="COM" class="col-lg-2 col-4 col-sm-5 my-lg-3">Send</div>
          </div>
        </div>
      </div>
      <!-- --------------------------------Explore -------------------- -->
      <div class="container-fluid my-5" style="margin-top: 5px">
        <div class="row justify-content-between" style="margin-left: 5%">
          <div class="col-lg-7 col-md-10 col-sm-12 my-1" id="Ex">
            <h1 class="HEADING">SSL SOLUTIONS</h1>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-8 mt-3 mb-3" id="EXPLORE">
            <a href="">Explore more</a>
          </div>
        </div>
      </div>

      <!-- CARDS -->
      <div class="container-fluid">
        <div class="row d-flex justify-content-around">
          <div class="card mt-2" style="width: 25rem">
            <img src="images/4-400x250.jpg" class="card-img-top" alt="..." />
            <div class="card-body mt-3">
              <span
                style="
                  padding: 8px 12px;
                  background-color: rgb(175, 32, 34);
                  color: white;
                  border-radius: 12px;
                "
                >Company Updates</span
              >
              <h5 class="card-title mt-3">Optimizing Sales</h5>
              <p class="card-text">
                Seeking to enhance your sales pipeline success? Turn to
                Salesforce without hesitation.
              </p>
              <div class="d-flex">
                <div>
                  <img
                    width="50px"
                    height="42px"
                    class="img-fluid"
                    src="images/logo.png"
                    alt=""
                  />
                </div>
                <div style="margin-left: 12px">
                  <div style="font-size: 16px; font-weight: 700">
                    Emily Johnson
                  </div>
                  <div style="color: #555659 !important">Aug 4 2023</div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-2" style="width: 25rem">
            <img src="images/4-400x250.jpg" class="card-img-top" alt="..." />
            <div class="card-body mt-3">
              <span
                style="
                  padding: 8px 12px;
                  background-color: rgb(175, 32, 34);
                  color: white;
                  border-radius: 12px;
                "
                >Company Updates</span
              >
              <h5 class="card-title mt-3">Driving Business</h5>
              <p class="card-text">
                Ready to unleash your business's growth potential? Salesforce
                Solution is the key
              </p>
              <div class="d-flex">
                <div>
                  <img
                    width="50px"
                    height="42px"
                    class="img-fluid"
                    src="images/logo.png"
                    alt=""
                  />
                </div>
                <div style="margin-left: 12px">
                  <div style="font-size: 16px; font-weight: 700">
                    Emily Johnson
                  </div>
                  <div style="color: #555659 !important">Aug 4 2023</div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-2" style="width: 25rem">
            <img src="images/4-400x250.jpg" class="card-img-top" alt="..." />
            <div class="card-body mt-3">
              <span
                style="
                  padding: 8px 12px;
                  background-color: rgb(175, 32, 34);
                  color: white;
                  border-radius: 12px;
                "
                >Company Updates</span
              >
              <h5 class="card-title mt-3">Boost Project</h5>
              <p class="card-text">
                Seeking to elevate your project's achievements and attain
                optimal outcomes?
              </p>
              <div class="d-flex">
                <div>
                  <img
                    width="50px"
                    height="42px"
                    class="img-fluid"
                    src="images/logo.png"
                    alt=""
                  />
                </div>
                <div style="margin-left: 12px">
                  <div style="font-size: 16px; font-weight: 700">
                    Emily Johnson
                  </div>
                  <div style="color: #555659 !important">Aug 4 2023</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="container-fluid"
      style="
        background-image: url(images/Background.png);
        background-size: 100% 100%;
      "
    >
      <div
        class="container-fluid mt-5"
        style="display: flex; justify-content: center; margin-top: 50px"
      >
        <div
          class="row text-center"
          id="CCOLOR"
          style="width: 85%; margin-top: 90px"
        >
          <h4>
            <!-- <SUBHEAD>Curious?</SUBHEAD> -->
          </h4>

          <h1>
            <haeding>Global Internship Program FAQs</haeding>
          </h1>
          <p id="XLARGE">
            Explore the following FAQs to attain relevant information concerning
            different aspects of our company, products, and services. Feel free
            to contact us for further information.
          </p>
        </div>
      </div>

      <!-- -----------------------------------------ACCORDIANS----------------------------------- -->

      <div class="container-fluid mb-5">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div
                class="accordion-item"
                style="border: 1px solid black; margin-top: 10px; width: 100%"
              >
                <h2 class="accordion-header" id="flush-headingOne">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne"
                  >
                    <h5 id="SMALL">What is SSL SOLUTIONS?</h5>
                  </button>
                </h2>
                <div
                  id="flush-collapseOne"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingOne"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body" id="SMALL">
                    SSL SOLUTIONS is an exclusive community comprising elite
                    remote software developers, designers, marketers, project
                    managers, product managers, and other tech professionals.
                    Our platform provides talented software developers with
                    opportunities to collaborate with U.S. companies
                  </div>
                </div>
              </div>
              <div
                class="accordion-item"
                style="border: 1px solid black; margin-top: 10px"
              >
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo"
                    aria-expanded="false"
                    aria-controls="flush-collapseTwo"
                  >
                    <h5 id="SMALL">
                      How many interview rounds are typically involved in the
                      hiring process before selection?
                    </h5>
                  </button>
                </h2>
                <div
                  id="flush-collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingTwo"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body" id="SMALL">
                    After signing up and uploading a resume, you have to clear a
                    few assessments and pass out interviews to make yourself
                    eligible for a wide range of jobs available based on your
                    skills.
                  </div>
                </div>
              </div>
              <div
                class="accordion-item"
                style="border: 1px solid black; margin-top: 10px"
              >
                <h2 class="accordion-header" id="flush-headingThree">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree"
                    aria-expanded="false"
                    aria-controls="flush-collapseThree"
                  >
                    <h5 id="SMALL">
                      "Which categories of tech talent does SSL SOLUTIONS
                      recruit?"
                    </h5>
                  </button>
                </h2>
                <div
                  id="flush-collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingThree"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body" id="SMALL">
                    We don't limit ourselves to a specific set of skills; we're
                    actively recruiting from a pool of over 100 specialized
                    professionals across various domains. These include Python,
                    React/Node, Rails, Angular, Swift, React Native, Android,
                    Java, Golang, PHP, Vue, UI/UX, Design, AI/ML, and many more
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- email section style-email_section.css  -->
      <div class="container-fluid d-flex justify-content-center">
        <%- include('Components/email_section'); %>
      </div>

      <!-- <div style="height: 100px;"></div> -->
    </div>

    <!-- FOOTER -->
    <footer class="bg-dark text-center p-2">
      <%- include('Components/footor'); %>
    </footer>

    <!-- NAVBAR JS -->
    <script src="js/NAVBAR.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
