<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Jobs</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="css/blog.css" type="text/css">
  <!-- STYLE -->
  <link href="css/Jobs.css" rel="stylesheet" type="text/css">
  <!-- HARIS STYLE -->
  <!-- <link href="/css/haris.css" rel="stylesheet"> -->
  <!-- Font style -->
  <link rel="stylesheet" href="css/fontstyle.css" type="text/css">
  <!-- REMIX-ICONS -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
  <!-- NAVBAR LINK -->
  <link rel="stylesheet" href="/css/navbar.css">
  <!-- email_section -->
  <link href="/css/components_css/email_section.css" rel="stylesheet">
  <!-- FOOTER -->
  <link href="css/blog.css" rel="stylesheet" type="text/css">

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/universal.css">
</head>

<body>
  <!-- NAVBAR -->
  <nav class="header">
    <%- include('Components/navbar'); %>
  </nav>
  <br>
  <hr>


  <!-- <div class="container-fluid">
       <div><img class="img-fluid" src="images/Banner.jpg"> </div>
      </div> -->
  <!-- -----------------------WORK REMOTLY------------------- -->


  <div class="container-fluid">
    <div class="row" id="WORKH">
      <div class="col-lg-6 " id="REMOTLY">
        <div id="WORK1">

          <h1 class="HEADING" data-aos="fade-down-right">
            Work Remotely with an Exceptional Team Across the Globe!
          </h1>
        </div>
        <p class="LARGE" data-aos="fade-right"
>Join a team of professionals from all over the world to collaborate on projects in an efficient
          and seamless
          way. With our secure cloud-sharing platform, reliable communication tools, and comprehensive project tracking
          system, you can effectively coordinate with everyone worldwide.</p>
        <div class="mb-5 animated-buttonRed"><a href="/internship" data-aos="fade-right"
><span></span>
  <span></span>
  <span></span>
  <span></span>Join Our Core Team</a></div>
      </div>
      <div class="col-lg-5 mt-5" id="IMG1">
        <img class="img-fluid" src="images/Group.png" data-aos="zoom-in-left">
      </div>
    </div>
  </div>
  <!-- -------------------------BAR----------------------------- -->
  <div class="container-fluid">
    <div class="row" data-aos="fade-up"
     data-aos-duration="1000">
      <div id="BAR">
        <div class="ml-5 mr-5 mt-3"><a class="NONE" href="#WORK">
            <GG class="fromLeft">SSL SOLUTIONS</GG>
          </a></div>
        <div class="ml-5 mr-5 mt-3"><a class="NONE" href="#CULTURE">
            <GG class="fromLeft">Our Culture</GG>
          </a></div>
        <div class="ml-5 mr-5 mt-3"><a class="NONE" href="#UNLOCK">
            <GG class="fromLeft">Career Opportunities</GG>
          </a></div>
        <div class="ml-5 mr-5 mt-3"><a class="NONE" href="#OPPO">
            <GG class="fromLeft">Benefits</GG>
          </a></div>
      </div>
    </div>
  </div>

  <!-- ------------------------------ALIGNED-------------------------------- -->

  <div class="container-fluid mb-5">
    <div class="row mb-5" id="WORK">
      <div class="col-lg-6 " id="REMOTLY">
        <div id="WORK1">
          <h4 style="color: rgb;" class="SUBHEAD" data-aos="fade-down-right">SSL SOLUTIONS<H4>
              <h1 class="HEADING" data-aos="fade-right">
                We are Aligned to Unleash the World’s Untapped Tech Talent
              </h1>
        </div>
        <p class="LARGE" data-aos="fade-right">Join a team of professionals from all over the world to collaborate on projects in an efficient
          and
          seamless way. With our secure cloud-sharing platform, reliable communication tools, and comprehensive project
          tracking system, you can effectively coordinate with everyone worldwide.</p>

      </div>
      <div class="col-lg-5" id="IMG1">
        <img class="img-fluid" width="1298px" height="1080px" src="images/careers-about-image-Recovered-Recovered.png" data-aos="zoom-in-left">
      </div>
    </div>
  </div>

  <!-- -------------------------------------------------------------UNLOCK DOOR-------------------------- -->
  <div class="container-fluid" style="background-color: rgb(248, 249, 254);">

    <div class="d-flex justify-content-center" data-aos="fade-up-right" data-aos-duration="1000">
      <div class="row" id="UNLOCK">
        <div class="col-12 mt-3">
          <h4 class="SUBHEAD" style="color: white;">Freelancer Remote Jobs</h4>
        </div>
        <div class="col-12">
          <h1 class="HEADING">Unlock the door to your dream job!</h1>
        </div>
        <div class="col-11 mt-2 mb-5" id="SMALL">

          SSL SOLUTION s reach our goal of unleashing the world’s untapped tech talent. Apply here!

        </div>
      </div>
    </div>

    <!-- --------------------------------CART-------------------- -->
    <div class="container-fluid mt-5 mb-5 ">
      <div class="row  justify-content-evenly" data-aos="fade-down" data-aos-duration="1000">
        <div class=" card mb-5" style="width: 22rem;">
          <img src="images/web banner-09.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><b>Web Development</b></h5>
            <p class="card-text" id="SMALL">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum
              has been the industry's.</p>
            <!-- <a href="#" id="ALL" class="btn btn-dark"><i class="bi bi-bag-fill"></i> On-Site</a>
        <a href="#" id="ALL" class="btn btn-dark"><i class="bi bi-geo-alt-fill"></i> Remote</a> -->
            <div class="justify-content-center" style="display: flex;">
              <div><a href="#" id="ALL" class="btn btn-dark"><i class="bi bi-bag-fill"></i> On-Site</a></div>
              <div><a href="#" class="btn btn-dark mx-1" id="ALL"><i class="bi bi-geo-alt-fill"></i> Remote</a></div>
            </div>
          </div>
        </div>
        <div class="card mb-5" style="width: 22rem;" data-aos="fade-down" data-aos-duration="1000">
          <img src="images/web banner-10.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><b>App Development</b></h5>
            <p class="card-text" id="SMALL">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum
              has been the industry's.</p>
            <div class="justify-content-center" style="display: flex;">
              <div><a href="#" id="ALL" class="btn btn-dark"><i class="bi bi-bag-fill"></i> On-Site</a></div>
              <div><a href="#" class="btn btn-dark mx-1" id="ALL"><i class="bi bi-geo-alt-fill"></i> Remote</a></div>
            </div>
            <!-- <a href="#" id="ALL" class="btn btn-dark"><i class="bi bi-bag-fill"></i> On-Site</a>
        <a href="#" id="ALL" class="btn btn-dark"><i class="bi bi-geo-alt-fill"></i> Remote</a> -->
          </div>
        </div>
        <div class="card mb-5" style="width: 22rem;" data-aos="fade-down" data-aos-duration="1000">
          <img src="images/web banner-14.png" alt="...">
          <div class="card-body">
            <h5 class="card-title"><b>Word-Press</b></h5>
            <p class="card-text" id="SMALL">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum
              has been the industry's.</p>
            <div class="justify-content-center" style="display: flex;">
              <div><a href="#" id="ALL" class="btn btn-dark"><i class="bi bi-bag-fill"></i> On-Site</a></div>
              <div><a href="#" class="btn btn-dark mx-1" id="ALL"><i class="bi bi-geo-alt-fill"></i> Remote</a></div>
            </div>
          </div>
        </div>


        <div class="card" style="width: 22rem;" data-aos="fade-down" data-aos-duration="1000">
          <img src="images/web banner-17.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><b>Shopify</b></h5>
            <p class="card-text" id="SMALL">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum
              has been the industry's.</p>
            <div class="justify-content-center" style="display: flex;">
              <div><a href="#" id="ALL" class="btn btn-dark"><i class="bi bi-bag-fill"></i> On-Site</a></div>
              <div><a href="#" class="btn btn-dark mx-1" id="ALL"><i class="bi bi-geo-alt-fill"></i> Remote</a></div>
            </div>
          </div>
        </div>
        <div class="card" style="width: 22rem;" data-aos="fade-down" data-aos-duration="1000">
          <img src="images/web banner-11.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><b>Digital Monetization</b></h5>
            <p class="card-text" id="SMALL">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum
              has been the industry's.</p>
            <div class="justify-content-center" style="display: flex;">
              <div><a href="#" id="ALL" class="btn btn-dark"><i class="bi bi-bag-fill"></i> On-Site</a></div>
              <div><a href="#" class="btn btn-dark mx-1" id="ALL"><i class="bi bi-geo-alt-fill"></i> Remote</a></div>
            </div>
          </div>
        </div>
        <div class="card" style="width: 22rem;" data-aos="fade-down" data-aos-duration="1000">
          <img src="images/web banner-07.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><b>SEO</b></h5>
            <p class="card-text" id="SMALL">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum
              has been the industry's.</p>
            <div class="justify-content-center" style="display: flex;">
              <div><a href="#" id="ALL" class="btn btn-dark"><i class="bi bi-bag-fill"></i> On-Site</a></div>
              <div><a href="#" class="btn btn-dark mx-1" id="ALL"><i class="bi bi-geo-alt-fill"></i> Remote</a></div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- ------------------------------ALIGNED-------------------------------- -->
    <div class="container-fluid" id="CULTURE" style="background-color: white;">
      <div class="row mt-5" id="WORK">
        <div class="col-lg-6 col-md-9" id="REMOTLY">
          <div id="WORK1">
            <h3 style="color: rgb;" class="SUBHEAD" data-aos="fade-right" data-aos-duration="1000">Remote Work Opportunities</h3>
            <h1 class="HEADING" data-aos="fade-right" data-aos-duration="1000">
              Our Culture Our Values Our Team
            </h1>
          </div>
          <p class="LARGE" data-aos="fade-right" data-aos-duration="1000">SSL Solutions isn’t just a platform, it’s an opportunity to join a team of passionate
            professionals who are dedicated to making the world a better place. We foster a culture of collaboration and
            innovation where everyone has access to the same resources and can make their mark. Our values deal with
            diversity, excellence, integrity, and respect – guide us in everything we do. We’re growing our team of
            world-class engineers who bring unique perspectives and talents to the table every day. Join us! Apply now!
            Are you ready to join a diverse team that is transforming companies? Visit SSL Solutions</p>

        </div>
        <div class="col-lg-5 col-md-9 my-5" id="IMG1">
          <img class="img-fluid" width="1298px" height="1080px" src="images/Group-3.png" data-aos="zoom-in-left" data-aos-duration="1000">
        </div>
      </div>
    </div>



    <!-- ----------------------------FREELAUNCEER------------------------------ -->

    <div class="container-fluid mt-5 justify-content-center" id="OPPO">
      <div class="row text-center" id="CCOLOR">
        <h4 class="SUBHEAD" data-aos="zoom-in-right">Freelancer Engineer Jobs</h4>
      </div>
      <div class="row text-center ">
        <h1 class="HEADING" data-aos="zoom-in-right"
     data-aos-duration="1000">Opportunities for Everyone!</h1>
      </div>
    </div>

    <!-- ------------------------------------WORK FROM HOME 2---------------------------- -->
    <section class="services" id="services">
      <div class="center-text">

      </div>
      <!-- /hire_talents -->

      <div class="service-content">

        <a href="/hire_talents" style="text-decoration: none; color: black;">
          <div class="box1" id="H1">
            <i id="ICONG1" class="bi bi-cloud-arrow-down-fill"></i>
            <h3 id="W1" class="SUBHEAD">Cloud Computing</h3>
            <p id="K1" class="SMALL">Achieve seamless project collaboration and knowledge sharing through global
              connectivity. Apply now
              for remote software engineer and freelancer remote jobs to join a diverse community!</p>
          </div>
        </a>



        <a href="/hire_talents" style="text-decoration: none; color: black;">
          <div class="box1" id="H2">
            <i id="ICONG2" class="bi bi-globe-central-south-asia"></i>
            <h3 id="W2" class="SUBHEAD">Web Development</h3>
            <p id="K2" class="SMALL">Achieve seamless project collaboration and knowledge sharing through global
              connectivity. Apply now
              for remote software engineer and freelancer remote jobs to join a diverse community!</p>
          </div>
        </a>

        <a href="/hire_talents" style="text-decoration: none; color: black;">
          <div class="box1" id="H3">
            <i id="ICONG3" class="bi bi-lightbulb-fill"></i>
            <h3 id="W3" class="SUBHEAD">Project Manager</h3>
            <p id="K3" class="SMALL">Achieve seamless project collaboration and knowledge sharing through global
              connectivity. Apply now
              for remote software engineer and freelancer remote jobs to join a diverse community!</p>
          </div>
        </a>



        <!-- <div class="box">
      <img src="s-3.svg">
      <h3>UI/UX Design</h3>
      <p>Developer by profession Up for our newletters to recieve update 
          on Track your order for quick update</p>

          <a href="#">
              Dowmload now 
              <i class="bi bi-arrow-right-short"></i>
          </a>
  </div> -->
      </div>
    </section>
    <!-- -----------------------------Trusted------------------------------------------------ -->

    <div class="container-fluid mt-5" style="display: flex; justify-content: center;">
      <div class="row text-center" id="CCOLOR" style="width: 85%;">
        <h4 class="SUBHEAD">Testimonialss</h4>

        <h1 class="HEADING">Trusted by Industry leaders</h1>
        <p class="XLARGE">Our platform enables thousands of companies to run their platforms smoothly. They
          root for us, and they aren’t shy about it.</p>
      </div>
    </div>

  </div>



  <!-- --------------------------------Spotlight----------------------------- -->

  <div class="container-fluid mt-5" id="BLUEIMG">
    <div class="row" style="color: white;">
      <div id="TEXT">
        <h4 class="SUBHEAD" style="color: WHITE;">Spotlight</h4>
        <h1 class="HEADING">Beyond the Headlines</h1>
        <div class="LARGE">Explore our international presence and reputation as we make headlines, getting featured in
          top news sites
          through top remote staffing services and IT support services in California.</div>
      </div>
    </div>
    <!-- ------------------------------------WORK FROM HOME 2---------------------------- -->
    <section class="services" id="services">
      <div class="center-text">

      </div>

      <div class="service-content">
        <div class="box2">
          <div id="YAHOO"><img height="78PX" width="230PX" class="img-fluid" src="images/image-01.jpg"></div>
          <h4>
            <SUBHEAD class="text-black">Simplify Remote Work for Businesses</SUBHEAD>
        </h4>
          <p class="SMALL">A new generation of remote platforms is making it easier for businesses to work from
            home.With features
            like getting connected with clients virtually, sharing files, task tracking, and video conferencing, these
            platforms are becoming an essential tools for companies while working remotely.</p>
          <div style="color: rgb(175, 32, 34);">
            <a href="" class="SMALL">Read more<i id="TEXT" class="bi bi-arrow-right"></i> </a>
          </div>


        </div>

        <div class="box2">
          <!-- <i id="ICONG" class="bi bi-globe-central-south-asia"></i> -->
          <div id="YAHOO"><img height="78PX" width="230PX" class="img-fluid" src="images/img_02-1.jpg"></div>
          <h4 class="SUBHEAD text-black">The Future of Working from Anywhere</h4>
          <p class="SMALL">SSL Solutions is such a platform that offers users the ability to work from anywhere in the
            world.It is
            providing worldwide talent to global clients within 24 hours for ease. With this platform, businesses and
            freelancers alike can enjoy the convenience and flexibility that comes with remote working.</p>
          <div style="color: black;"><a href="" class="SMALL">Read more<i id="TEXT" class="bi bi-arrow-right"></i> </a>
          </div>

        </div>

        <div class="box2" class="justify-content-center">
          <!-- <i id="ICONG" class="bi bi-lightbulb-fill"></i> -->
          <div id="YAHOO"><img height="78PX" width="230PX" class="img-fluid" src="images/img_03.jpg"></div>
          <h4 class="SUBHEAD text-black"> Make Working From Home Easier Than Ever</h4>
          <p class="SMALL">The recent COVID-19 pandemic, SSL Solutions has become increasingly popular, as they enable
            employees to
            work from home more easily than ever before. They allow for easier collaboration and greater productivity,
            giving businesses a way to stay connected even when working remotely With this platform..</p>
          <div style="color: black;"><a href="">Read more<i id="TEXT" class="bi bi-arrow-right"></i> </a></div>


        </div>

      </div>
    </section>

  </div>


  <!-- --------------------------------CART-------------------- -->
  <!-- < class="container-fluid"style="background-color: rgb(248, 249, 254); margin-top:90px; "> -->
  <DIV class="container-fluid" style="background-color: rgb(248, 249, 254); margin-top: 50px; margin-bottom: 40px;">

    <div class="container-fluid" style="display: flex; justify-content: center; ">
      <div class="row text-center" id="CCOLOR" style="width: 85%;">
        <h4 style="margin-top: 100px;" class="SUBHEAD" data-aos="zoom-in-right"
     data-aos-duration="1000"> Remote Work Opportunities</h4>

        <h1 class="HEADING" data-aos="fade-down">Apply Now</h1>
        <p class="XLARGE" data-aos="fade-down">Work with experienced engineers from tech giants like Google, Facebook, Microsoft,
          Amazon, and more to enhance your projects and achieve remarkable outcomes..</p>
      </div>
    </div>
    <!-- ---------------------input field------------------------- -->
    <div class="container-fluid" style="margin-top: 45px; margin-bottom: 90px;">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-8  col-sm-8">
          <div class="form-group">
            <input type="email" class="form-control my-auto mt-3 mb-3" id="exampleInputEmail1" style="height: 50px;;"
              placeholder=" &#xF32C;    Enter email">

          </div>
        </div>
        <div id="COM" class="col-lg-3 col-md-5 col-sm-5  mb-3">Join Community</div>
      </div>


    </div>


    <!-- ----------------------------------------------------SSL -------------------------------- -->

    <!-- <div class="container-fluid" style="margin-top: 150px; margin-bottom: 100px;">
      <div class="row justify-content-around" style="padding-bottom: 80px;">
        <div class="col-lg-7 col-sm-8 text-center mt-5 " style="margin-top: 300px;">
          <h1>SHEIKH SHOAIB LIAQAT<br>
            Founder & CEO</h1>
          <h3> “A Clear Rejection is Better then Fake Promise”</h3>

          <p>The best technology leader with extensive experience in digital marketing services. I am passionate about
            building high-performance technology teams focused on building great digital marketing services</p>
        </div>
        <div class="col-lg-3 col-sm-5 text-center"><img class="img-fluid" src="images/profile image.jpg"></div>
      </div>
    </div> -->

    <!-- --------------------------   IMAGE OF SSL GROUPS ------------------- -->

    <div class="container-fluid">
      <div class="row">
        <dov class="col-12">
          <img class="img-fluid" src="images/profile-image-2.jpg" alt="">
        </dov>
      </div>
    </div>


  </DIV>

  <!-- --------------------------------------- BLOG --------------------------------- -->
  <div class="container-fluid mt-5">
    <div style=" font-weight: 600; margin-left: 6%; margin-top: 100PX;" class=" ml-5 mt-5" id="SUBHEAD">
      Blogs
    </div>
  </div>
  <!-- --------------------------------Explore -------------------- -->
  <div class="container-fluid" style="margin-top: 15px;">
    <div class="row justify-content-between" style="margin-left: 5%;">
      <div class="col-lg-7 col-md-10 col-sm-12 mt-3 mb-3" id="Ex">
        <h1 class="HEADING">
          SSL SOLUTIONS
        </h1>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-8  mt-3 mb-3" id="EXPLORE"><a href="/blogs">Explore more</a>
      </div>
    </div>
  </div>




  <!-- CARDS COMPONENTT -->
  <div class="container-fluid" style="background-color: white;">
    <%- include('Components/cards'); %>
  </div>


  <!-- <div style="margin-bottom: 200px; visibility: hidden;">.</div> -->



  <!-- ---------------------------------------------------------- Curious?-------------------- -->

  <div class="container-fluid" style="background-image:url(images/Background.png); background-size: 100% 100%;">
    <div class="container-fluid mt-5" style="display: flex; justify-content: center; margin-top: 50px;">
      <div class="row text-center" id="CCOLOR" style="width: 85%; margin-top: 90px;" data-aos="zoom-in-right"
     data-aos-duration="1000">
        <h4 class="SUBHEAD">Curious?</h4>

        <h1 class="HEADING">Explore Our FAQs</h1>
        <p class="XLARGE">Our platform enables thousands of companies to run their platforms smoothly. They
          root for us, and they aren’t shy about it.</p>
      </div>
    </div>

    <!-- -----------------------------------------ACCORDIANS----------------------------------- -->


    <div class="container-fluid mb-5">
      <div class="row justify-content-center">
        <div class="col-8">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item" style="border: 1px solid black; margin-top:10px;">
              <h2 class="accordion-header" id="flush-HEADINGOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  <h5 class="para">What are the payment options available for hiring talent on SSL Solutions?</h5>
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-HEADINGOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" id="para">Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                  took a galley of type and scrambled it to make a type specimen book. It has survived not only five
                  centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
                  popularised in the 1960s with the release of Letraset sheets containing</div>
              </div>
            </div>
            <div class="accordion-item" style="border: 1px solid black; margin-top:10px;">
              <h2 class="accordion-header" id="flush-HEADINGTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  <h5 class="para">What are the estimated rounds to clear the hiring before the selection?</h5>
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-HEADINGTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" id="para">Placeholder content for this accordion, which is intended to
                  demonstrate the
                  class. This is the second item's accordion body. Let's imagine this
                  being filled with some actual content.
                </div>
              </div>
            </div>
            <div class="accordion-item" style="border: 1px solid black; margin-top:10px;">
              <h2 class="accordion-header" id="flush-HEADINGThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  <h5 class="para">Do I need to be proficient in English to join SSL Solutions?</h5>
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-HEADINGThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" id="para">Placeholder content for this accordion, which is intended to
                  demonstrate the
                  class. This is the third item's accordion body. Nothing more exciting
                  happening here in terms of content, but just filling up the space to make it look, at least at first
                  glance, a bit more representative of how this would look in a real-world application.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- email section style-email_section.css  -->
    <div class="container-fluid d-flex justify-content-center">
      <%- include('Components/email_section'); %>
    </div>

    <div style="height: 100px;"></div>



  </div>





  <!-- ------------------------------FINAL------------------- -->
  <footer class="text-center p-2" style="background-color: black;">
    <%- include('Components/footor'); %>
  </footer>

  <!-- NAVBAR JS -->
  <script src="js/NAVBAR.js"></script>



  <script>
    console.log('its working');

    // document.getElementById("JOIN").onmouseover(function() {
    //     alert("test");
    //     console.log('HELLO');
    // })

    // var boundary = document.getElementById('H');
    // var mouseOverFunction = function () {
    //     // this.style.color = 'black'; // your colour change
    //     console.log('HELLO')
    //     // alert("hello")
    //     document.getElementById('W').style.color='white'
    //     document.getElementById('K').style.color='white'

    // };
    // boundary.onmouseover = mouseOverFunction;

    const box1 = document.getElementById('H1');

    // 👇️ Change text color on mouseover
    box1.addEventListener('mouseover', function handleMouseOver() {
      box1.style.color = 'red';
      document.getElementById('W1').style.color = 'white';
      document.getElementById('K1').style.color = 'white';
      document.getElementById('ICONG1').style.color = 'white';
    });

    // 👇️ Change text color back on mouseout
    box1.addEventListener('mouseout', function handleMouseOut() {
      box1.style.color = 'black';
      document.getElementById('W1').style.color = 'black'
      document.getElementById('K1').style.color = 'BLACK';
      document.getElementById('ICONG1').style.color = 'black';
    });


    // ---------------------------------------------------------------

    const box2 = document.getElementById('H2');

    // 👇️ Change text color on mouseover
    box2.addEventListener('mouseover', function handleMouseOver() {
      box2.style.color = 'red';
      document.getElementById('W2').style.color = 'white';
      document.getElementById('K2').style.color = 'white';
      document.getElementById('ICONG2').style.color = 'white';
    });

    // 👇️ Change text color back on mouseout
    box2.addEventListener('mouseout', function handleMouseOut() {
      box2.style.color = 'black';
      document.getElementById('W2').style.color = 'black'
      document.getElementById('K2').style.color = 'BLACK';
      document.getElementById('ICONG2').style.color = 'black';
    });

    // --------------------------------------------
    const box3 = document.getElementById('H3');

    // 👇️ Change text color on mouseover
    box3.addEventListener('mouseover', function handleMouseOver() {
      //   box3.style.border = '1px grey';
      document.getElementById('W3').style.color = 'white';
      document.getElementById('K3').style.color = 'white';
      document.getElementById('ICONG3').style.color = 'white';
    });

    // 👇️ Change text color back on mouseout
    box3.addEventListener('mouseout', function handleMouseOut() {
      // box3.style.border = '1px solid black';
      document.getElementById('W3').style.color = 'black'
      document.getElementById('K3').style.color = 'BLACK';
      document.getElementById('ICONG3').style.color = 'black';
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
    <!-- End Script  -->
</body>

</html>