<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="css/login.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/navbar.css">
    <title>Login</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-5 mt-3" id="IMG1">
                <div class="contant-form">
                    <H2 class="text-center">Welcome Back!</H2>
                    <div class="text-center">
                        <P>
                        <h5>Enter your credentials to access your account.</h5>
                        </P>
                    </div>
                    <% if(typeof alert !='undefined' ) { %>
                        <% alert.forEach(function(error) { %>
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <%= error.msg %>
                            </div>
                            <% }) %>
                                <% } %>
                                    <form action="/login" method="post">
                                        <!--  return validate means it take the T/F value of function then give to action it gives F value & action didnt respond -->
                                        <div class="mt-5 mb-4">
                                            <lable style="color: black; font-weight: 600;">Email <span
                                                    style="color: red;">*</span></lable>
                                            <input type="email" class="HH" id="email" name="email"
                                                placeholder="Your Email">
                                            <!-- <span id="NAMEERROR" style="color: red;"></span> -->
                                        </div>


                                        <div class="mb-5">
                                            <lable style="color: black; font-weight: 600;">Password <span
                                                    style="color: red;">*</span></lable>
                                            <!-- <input type="" class="HH" name="" placeholder="&#xF32C;   Your Email"> -->
                                            <input type="password" class="HH" id="password" name="password"
                                                placeholder="Your Password">

                                            <span id="EMAILERROR" style="color: red; align-self: last;"><a
                                                    href="/forgetpassword" data-toggle="modal"
                                                    data-target="#forgotPasswordModal">Forget Password?</a></span>
                                        </div>

                                        <input class="mt-1" type="submit" value="Login">
                                        <div class="text-center mt-3" style="font-weight: 500; font-size: 18px;">New
                                            here ? <a href="signup">SignUp </a> for free
                                        </div>
                                    </form>
                </div>
            </div>
            <div class="col-lg-7" style="background-color:rgb(175, 32, 34);">
                <div class="mt-5"><img class="img-fluid " src="images/about-letsremotify.png"></div>
                <div class="text-center mb-5" style="color: white;">
                    <h3>Unlock a World of Opportunities:<br>

                        Leading Companies Want You on Their Team!</h3>
                </div>
                <div class="row mt-3 mb-3 justify-content-center" id="ONE">
                    <!-- <div class="col-sm-2"><img class="img-fluid"  src="images/google.png" alt=""> </div>
                        <div class="col-sm-2"><img class="img-fluid" src="images/2.png" alt=""> </div>
                        <div class="col-sm-2"><img class="img-fluid" src="images/3.png" alt=""> </div>
                        <div class="col-sm-2"><img class="img-fluid" src="images/4.png" alt=""> </div>
                        <div class="col-sm-2"><img class="img-fluid" src="images/5.png" alt=""> </div>
                        <div class="col-sm-2"><img class="img-fluid" src="images/6.png" alt=""> </div> -->
                    <div class="col-sm-4"><img class="img-fluid" width="150px" height="109px"
                            src="images/SSL Group logo3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ---------------------------------------------- 2 ONE--- ---------------------->
    <!-- ---------------------------------------------       FORM        ------------------------------------->
    <script>
        document
            .getElementById("checkEmail")
            .addEventListener("click", function () {
                var emailInput = document.getElementById("email");
                if (emailInput.checkValidity()) {
                    // Email is valid, redirect to the page for setting the new password
                    window.location.href = "./set_newpwd.html";
                } else {
                    // Email is not in a valid format
                    emailInput.classList.add("is-invalid");
                }
            });

        // Remove the 'is-invalid' class when the user starts typing
        document.getElementById("email").addEventListener("input", function () {
            this.classList.remove("is-invalid");
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>