<!DOCTYPE html>
<html lang="en">
<!--    FONT SIZE IS NOT RESPONSIVE IN THIS SITE -->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>skill-test</title>
    <!-- FOR  LOCAL  -->
    <!-- <link href="detail.css" rel="stylesheet" type="text/css" /> -->
    <!-- FOR SKILL SEC ONLY -->
    <link href="css/skill-test.css" rel="stylesheet" type="text/css">
    <!-- for fix form and Nav -->
    <link href="css/talent-overview.css" rel="stylesheet" type="text/css">
    <!-- for search box -->
    <!-- <link href="css/create_profile.css" rel="stylesheet" type="text/css"> -->
    <!--  -->
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/fontstyle.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- ----------------   CHATGPT     ----------- -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <!--------------------------    CHATGPT------------- -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>

<body>
    <!--  -->
    <!--  -->
    <nav class="navbar navbar-expand-lg bg-dark" id="NAV">
        <div class="container-fluid bg-dark pt-3 pb-3">
            <a class="navbar-brand text-white" href="#"><img width="200px" height="110px" class="img-fluid"
                    src="images/Logo updeted.png" alt=""></a>
            <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" id="HEADING">
                        <a class="nav-link active text-light" aria-current="page" href="#" id="GETNOWNAV">
                            <i class="bi bi-boxes"></i> <span>Overview</span>
                        </a>
                    </li>
                    <li class="nav-item col-">
                        <a class="nav-link  text-light" href="#" id="GETNOWNAV">
                            <i class="fa-solid fa-network-wired"></i> Skill Test
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-light" href="#" id="GETNOWNAV">
                            <i class="fa-solid fa-laptop"></i> Video Screening
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-light" href="#" id="GETNOWNAV">
                            <i class="fa-solid fa-square-check"></i> Final Interview
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-light" href="#" id="GETNOWNAV">
                            <i class="fa-solid fa-people-group"></i>
                            Network
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link  text-light" href="#" id="GETNOWNAV">
                            <div class="col-12 text-center justify-content-center">Valued By:</div>
                            <div class="col-12  mt-2" id="IFLEXNAV">
                                <!-- <span>
                          <img class="img-fluid" width="60px" height="60px" src="images/2.png" alt="" />
                      </span>
                      <span>
                          <img src="images/4.png" width="60px" height="60px" alt="" />
                      </span>
                      <span>
                          <img src="images/3.png" width="60px" height="60px" alt="" />
                      </span> -->
                                <div><img width="100px" height="72px" class="img-fluid" src="images/SSL Group logo3.png"
                                        alt=""></div>
                                <!-- <img width="200px" height="145px" class="img-fluid" src="images/SSL Group logo3.png" alt=""> -->
                            </div>

                        </a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>

    <!-- ----------------------------       bottom   ------------------- -->
    <div class="container-fluid" id="HAR">
        <div class="row justify-content-around">
            <div class="col-lg-3" id="HIDDEN">
                <div class="row">
                    <div class="col-lg-3" id="h">
                        <div class="row justify-content-around">
                            <div class="col-12 mt-3">
                                <img class="img-fluid" width="200px" height="38px" src="images/Logo updeted.png"
                                    alt="" />
                            </div>
                            <div class="col-12 mt-5" id="GETNOW">
                                <i class="bi bi-boxes"></i> <span class="SUBHEAD"> Overview</span>
                            </div>
                            <div class="col-12" id="GETNOW">

                                <i class="fa-solid fa-network-wired"></i> <span class="SUBHEAD">Skill Test</span>
                            </div>
                            <div class="col-12" id="GETNOW">
                                <i class="fa-solid fa-laptop"></i> <span class="SUBHEAD">Video Screening</span>
                            </div>
                            <div class="col-12" id="GETNOW">
                                <i class="fa-solid fa-square-check"></i>
                                <span class="SUBHEAD">Final Interview</span>
                            </div>
                            <div class="col-12" id="GETNOW">
                                <i class="fa-solid fa-people-group"></i>
                                <span class="SUBHEAD">Network</span>
                            </div>
                            <div id="MAR"></div>
                            <div class="col-12 text-center" id="GETNOW"><span class="HEADING">Valued By:</span></div>
                            <div class="col-10" id="IFLEX">
                                <img width="170px" height="122px" class="img-fluid" src="images/SSL Group logo2.png"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!---------------------------- RIGHT  ONE  ----------------------  -->
            <div class="col-lg-8  col-sm-11">

                <div class="row">
                    <div class="col-lg-12 col-11" id="j">
                        <!----------------------------  PART 2----------------------  -->
                        <div class="row mt-5 " style="display: flex; justify-content: end;" id="PART1">





                            <div class="col-sm-1">
                                <h3 style="color: gray;"><i class="bi bi-bell-fill text-center"></i></h3>
                            </div>


                            <div class="col-lg-5 col-sm-6 my-5" id="MAIN" onclick="toggleSecondBox()">
                                <span id="USER" class="mx-1">
                                    <div id="USER-IMG"><img height="50px" width="50px" src="images/1697173271091.png"
                                            alt=""></div>
                                    <span class="XSMALL">Muhammad Haris
                                        <span id="DROP-ICONS"><i class="fa-solid fa-caret-down"></i></span>
                                        <div style="font-size: 12px; color: grey;">Software Developer</div>
                                    </span>
                                </span>

                                <div id="PROFILE">
                                    <div class="SMALL" id="GOTO"><a href=""><i class="fa-solid fa-user"></i>&nbsp;
                                            Go to Profile</a> </div>
                                    <div class="SMALL" id="LOGOUT"><a href=""><i
                                                class="fa-solid fa-arrow-right-from-bracket"></i> &nbsp; Log Out</a>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>


                    <div class="row justify-content-between my-5 pb-5" id="technical">
                        <div class="col-md-6 ml-2 mt-3 text-start">
                            <h4 class="mx-3" id="HEADING"> Technical Tests</h4>

                        </div>

                        <div class="col-md-6 mt-3 mb-3" id="MAIN">
                            <div class="input-container">
                                <i class="fas fa-search"></i>
                                <input type="text" placeholder="SEARCH">
                            </div>
                        </div>
                        <div class="row justify-content-evenly">
                            <!-- BOXES START -->
                            <div class="col-lg-3 col-sm-5 col-10 px-3 pt-1 pb-4 m-4" id="SKILL-BOXES">
                                <div class="flex-end mb-2" id="X-ICON">
                                    <div id="tooltip">
                                        <img src="images/exlimation.svg" alt="">
                                        <div id="tooltiptext">Click to begun the text</div>
                                        <!--  -->




                                    </div>
                                </div>

                                <button type="button" class="btn text-start" id="BUTTON" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    <div class="IMG-TEXT">
                                        <div><img src="images/c++.png" alt=""></div>
                                        <div class="ms-2">
                                            <div class="SMALL">
                                                <div id="tooltip2"> <b>C++</b>
                                                    <div id="tooltiptext2">C++</div>
                                                </div>

                                            </div>
                                            <div class="XSMALL">Start Assesment</div>
                                            <span class="ARROW"><i class="bi bi-arrow-right"></i></span>
                                        </div>
                                    </div>
                                </button>


                            </div>
                            <!--  -->
                            <div class="col-lg-3 col-sm-5 col-10 px-3 pt-1 pb-4 m-4" id="SKILL-BOXES">
                                <div class="flex-end mb-2" id="X-ICON">
                                    <div id="tooltip">
                                        <img src="images/exlimation.svg" alt="">
                                        <div id="tooltiptext">Click to begun the text</div>
                                    </div>
                                </div>

                                <button type="button" class="btn text-start" id="BUTTON" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    <div class="IMG-TEXT">
                                        <div><img
                                                src="https://letsremotify.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbDhTIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--a0da446e1f9c182a165d79899660bcc847dae488/i3acrnqd8nvoipif3rxsp7cgzh3t.png"
                                                alt=""></div>
                                        <div class="ms-2">
                                            <div class="SMALL">
                                                <div id="tooltip2"> <b>Laravel</b>
                                                    <div id="tooltiptext2">Laravel</div>
                                                </div>

                                            </div>
                                            <div class="XSMALL">Start Assesment</div>
                                            <span class="ARROW"><i class="bi bi-arrow-right"></i></span>
                                        </div>
                                    </div>
                                </button>


                            </div>
                            <!--  -->
                            <div class="col-lg-3 col-sm-5 col-10 px-3 pt-1 pb-4 m-4" id="SKILL-BOXES">
                                <div class="flex-end mb-2" id="X-ICON">
                                    <div id="tooltip">
                                        <img src="images/exlimation.svg" alt="">
                                        <div id="tooltiptext">Click to begun the text</div>
                                    </div>
                                </div>

                                <button type="button" class="btn text-start" id="BUTTON" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    <div class="IMG-TEXT">
                                        <div><img
                                                src="https://letsremotify.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbDRTIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--2d9ad0f32e5977053be623ad61f7bff5f5f515ec/vfy87gmmkyjpyc1ojjru4460fc64.png"
                                                alt=""></div>
                                        <div class="ms-2">
                                            <div class="SMALL">
                                                <div id="tooltip2"> <b>Gcp</b>
                                                    <div id="tooltiptext2">Gcp</div>
                                                </div>

                                            </div>
                                            <div class="XSMALL">Start Assesment</div>
                                            <span class="ARROW"><i class="bi bi-arrow-right"></i></span>
                                        </div>
                                    </div>
                                </button>


                            </div>
                            <!--  -->



                            <!--  -->
                            <div class="col-lg-3 col-sm-5 col-10 px-3 pt-1 pb-4 m-4" id="SKILL-BOXES">
                                <div class="flex-end mb-2" id="X-ICON">
                                    <div id="tooltip">
                                        <img src="images/exlimation.svg" alt="">
                                        <div id="tooltiptext">Click to begun the text</div>
                                    </div>
                                </div>

                                <button type="button" class="btn text-start" id="BUTTON" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    <div class="IMG-TEXT">
                                        <div><img
                                                src="https://letsremotify.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbUFTIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f68b33556719fcc5de68526ac6853eeabf23610d/81qwxdhjkx3iiwco7jonj0ab0ebq.png"
                                                alt=""></div>
                                        <div class="ms-2">
                                            <div class="SMALL">
                                                <div id="tooltip2"> <b>Ruby</b>
                                                    <div id="tooltiptext2">Ruby</div>
                                                </div>

                                            </div>
                                            <div class="XSMALL">Start Assesment</div>
                                            <span class="ARROW"><i class="bi bi-arrow-right"></i></span>
                                        </div>
                                    </div>
                                </button>


                            </div>

                            <!--  -->
                            <div class="col-lg-3 col-sm-5 col-10 px-3 pt-1 pb-4 m-4" id="SKILL-BOXES">
                                <div class="flex-end mb-2" id="X-ICON">
                                    <div id="tooltip">
                                        <img src="images/exlimation.svg" alt="">
                                        <div id="tooltiptext">Click to begun the text</div>
                                    </div>
                                </div>

                                <button type="button" class="btn text-start" id="BUTTON" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    <div class="IMG-TEXT">
                                        <div><img
                                                src="https://letsremotify.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbUlTIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--041e292d5eb6d34109ce7bd5d74de7d131966126/2iqxntjj4v2985xcy812cuyfymc8.png"
                                                alt=""></div>
                                        <div class="ms-2">
                                            <div class="SMALL">
                                                <div id="tooltip2"> <b>React</b>
                                                    <div id="tooltiptext2">React</div>
                                                </div>

                                            </div>
                                            <div class="XSMALL">Start Assesment</div>
                                            <span class="ARROW"><i class="bi bi-arrow-right"></i></span>
                                        </div>
                                    </div>
                                </button>


                            </div>


                            <!--  -->
                            <div class="col-lg-3 col-sm-5 col-10 px-3 pt-1 pb-4 m-4" id="SKILL-BOXES">
                                <div class="flex-end mb-2" id="X-ICON">
                                    <div id="tooltip">
                                        <img src="images/exlimation.svg" alt="">
                                        <div id="tooltiptext">Click to begun the text</div>
                                    </div>
                                </div>

                                <button type="button" class="btn text-start" id="BUTTON" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    <div class="IMG-TEXT">
                                        <div><img
                                                src="https://letsremotify.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBbUVTIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--7a2cc7dd5308432cd5f60ae4983d8a4470a2097e/t31o6u6qau48sclqtitkpjtgsfl6.png"
                                                alt=""></div>
                                        <div class="ms-2">
                                            <div class="SMALL">
                                                <div id="tooltip2"> <b>Python</b>
                                                    <div id="tooltiptext2">Python</div>
                                                </div>

                                            </div>
                                            <div class="XSMALL">Start Assesment</div>
                                            <span class="ARROW"><i class="bi bi-arrow-right"></i></span>
                                        </div>
                                    </div>
                                </button>


                            </div>
                            <!--  -->


                            <!--  -->
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Get ready ! You will be
                                                redirected !</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <ul>
                                                <li> Let's get started! Get ready for a challenge - don't let anything
                                                    interrupt you, because the timer won't stop once it starts </li>
                                                <li> Make sure you have a reliable internet connection.</li>
                                                <li> Try our sample test for a few minutes to ensure you're ready for
                                                    the main test!</li>
                                            </ul>

                                        </div>
                                        <div class="modal-footer d-flex justify-content-center">
                                            <button type="button"
                                                style="background-color: rgb(175, 32, 34); color: white;"
                                                class="btn">Start Test </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  -->
                        </div>






                    </div>



                </div>
            </div>
        </div>
    </div>
    </div>

    <!--  -->



    <script>

        // Get all the main-div elements
        const mainDivs = document.querySelectorAll('#SKILL-BOXES');

        // Function to change the color when the mouse enters the div
        function changeColorOnMouseEnter() {
            this.style.backgroundColor = 'rgb(175, 32, 34)';
            // this.style.border='1px solid blue'
            this.querySelector('.SMALL').style.color = 'white';
            this.querySelector('.XSMALL').style.color = 'white';
            this.querySelector('.ARROW').style.color = 'white';
        }

        // Function to change the color when the mouse leaves the div
        function changeColorOnMouseLeave() {
            this.style.backgroundColor = 'white';
            this.querySelector('.SMALL').style.color = 'black';
            this.querySelector('.XSMALL').style.color = 'rgb(175, 32, 34)';
            this.querySelector('.ARROW').style.color = 'rgb(175, 32, 34)';
        }


        mainDivs.forEach((div) => {
            div.addEventListener('mouseenter', changeColorOnMouseEnter);
            div.addEventListener('mouseleave', changeColorOnMouseLeave);
        });

        // =----------------  BOOTSTRAP JS
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        // ========----------------------------------------
        function toggleSecondBox() {
            var profile = document.getElementById('PROFILE');
            if (profile.style.display === 'none' || profile.style.display === '') {
                profile.style.display = 'block';
            }
            else {
                profile.style.display = 'none';
            }

        }
        function overView(val) {
            if (val == 1) {
                var below = document.getElementById('BELOW1');
                if (below.style.display === 'none') {
                    below.style.display = 'block';
                }
                else {
                    below.style.display = 'none';
                }
            }
            if (val == 2) {
                var below = document.getElementById('BELOW2');
                if (below.style.display === 'none') {
                    below.style.display = 'block';
                }
                else {
                    below.style.display = 'none';
                }
            }
            if (val == 3) {
                var below = document.getElementById('BELOW3');
                if (below.style.display === 'none') {
                    below.style.display = 'block';
                }
                else {
                    below.style.display = 'none';
                }
            }
            if (val == 4) {
                var below = document.getElementById('BELOW4');
                if (below.style.display === 'none') {
                    below.style.display = 'block';
                }
                else {
                    below.style.display = 'none';
                }
            }

        }
    </script>





    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <script>






    </script>
</body>

</html>