<!DOCTYPE html>
<html lang="en">
<!--    FONT SIZE IS NOT RESPONSIVE IN THIS SITE -->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>overview</title>
    <!-- FOR  LOCAL  -->
    <!-- <link href="detail.css" rel="stylesheet" type="text/css" /> -->
    <!-- <link href="css/details.css" rel="stylesheet" type="text/css"> -->
    <link href="/css/talent-overview.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/fontstyle.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- ----------------   CHATGPT     ----------- -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <!--------------------------    CHATGPT------------- -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>

<body>
    <!--  -->
    <!--  -->
    <nav class="navbar navbar-expand-lg bg-dark" id="NAV">
        <div class="container-fluid bg-dark pt-3 pb-3">
            <a class="navbar-brand text-white" href="#"><img width="200px" height="110px" class="img-fluid"
                    src="/images/Logo updeted.png" alt=""></a>
            <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" id="HEADING">
                        <a class="nav-link active text-light" aria-current="page" href="#" id="GETNOWNAV">
                            <i class="bi bi-boxes"></i> <span>Overview</span>
                        </a>
                    </li>
                    <li class="nav-item col-">
                        <a class="nav-link  text-light" href="#" id="GETNOWNAV">
                            <i class="fa-solid fa-network-wired"></i> Skill Test
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-light" href="#" id="GETNOWNAV">
                            <i class="fa-solid fa-laptop"></i> Video Screening
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-light" href="#" id="GETNOWNAV">
                            <i class="fa-solid fa-square-check"></i> Final Interview
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-light" href="#" id="GETNOWNAV">
                            <i class="fa-solid fa-people-group"></i>
                            Network
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link  text-light" href="#" id="GETNOWNAV">
                            <div class="col-12 text-center justify-content-center">Valued By:</div>
                            <div class="col-12  mt-2" id="IFLEXNAV">
                                <!-- <span>
                          <img class="img-fluid" width="60px" height="60px" src="/images/2.png" alt="" />
                      </span>
                      <span>
                          <img src="/images/4.png" width="60px" height="60px" alt="" />
                      </span>
                      <span>
                          <img src="/images/3.png" width="60px" height="60px" alt="" />
                      </span> -->
                                <div><img width="100px" height="72px" class="img-fluid" src="/images/SSL Group logo3.png"
                                        alt=""></div>
                                <!-- <img width="200px" height="145px" class="img-fluid" src="/images/SSL Group logo3.png" alt=""> -->
                            </div>

                        </a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>

    <!-- ----------------------------       bottom   ------------------- -->
    <div class="container-fluid" id="HAR">
        <div class="row justify-content-around">
            <div class="col-lg-3" id="HIDDEN">
                <div class="row">
                    <div class="col-lg-3" id="h">
                        <div class="row justify-content-around">
                            <div class="col-12 mt-3">
                                <img class="img-fluid" width="200px" height="38px" src="/images/Logo updeted.png"
                                    alt="" />
                            </div>
                            <div class="col-12 mt-5" id="GETNOW">
                                <i class="bi bi-boxes"></i> <span class="SUBHEAD"> Overview</span>
                            </div>
                            <div class="col-12" id="GETNOW">

                                <i class="fa-solid fa-network-wired"></i> <span class="SUBHEAD">Skill Test</span>
                            </div>
                            <div class="col-12" id="GETNOW">
                                <i class="fa-solid fa-laptop"></i> <span class="SUBHEAD">Video Screening</span>
                            </div>
                            <div class="col-12" id="GETNOW">
                                <i class="fa-solid fa-square-check"></i>
                                <span class="SUBHEAD">Final Interview</span>
                            </div>
                            <div class="col-12" id="GETNOW">
                                <i class="fa-solid fa-people-group"></i>
                                <span class="SUBHEAD">Network</span>
                            </div>
                            <div id="MAR"></div>
                            <div class="col-12 text-center" id="GETNOW"><span class="HEADING">Valued By:</span></div>
                            <div class="col-10" id="IFLEX">
                                <img width="170px" height="122px" class="img-fluid" src="/images/SSL Group logo2.png"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!---------------------------- RIGHT  ONE  ----------------------  -->
            <div class="col-lg-8  col-sm-11">

                <div class="row">
                    <div class="col-lg-12 col-11" id="j">
                        <!----------------------------  PART 2----------------------  -->
                        <div class="row mt-5" id="PART1">


                            <div class="col-sm-3" style="color: gray;">

                                <div>
                                    <h3><i class="bi bi-bell-fill text-center"></i></h3>
                                </div>
                            </div>

                            <div class="col-sm-9 my-5" id="MAIN" onclick="toggleSecondBox()">
                                <div id="USER" class="mx-1">
                                    <div id="USER-IMG"><img height="68px" width="68px" src="/images/1697173271091.png"
                                            alt=""></div>
                                    <span class="SMALL">Muhammad Haris
                                        <span id="DROP-ICONS"><i class="fa-solid fa-caret-down"></i></span>
                                        <div style="font-size: 12px; color: grey;">Software Developer</div>
                                    </span>
                                </div>

                                <div id="PROFILE">
                                    <div class="SMALL" id="GOTO"><a href=""><i class="fa-solid fa-user"></i>&nbsp;
                                            Go to Profile</a> </div>
                                    <div class="SMALL" id="LOGOUT"><a href=""><i
                                                class="fa-solid fa-arrow-right-from-bracket"></i> &nbsp; Log Out</a>
                                    </div>
                                </div>
                            </div>




                        </div>
                        <!----------------------------  PART 3----------------------  -->
                        <div class="col-12 mt-5 justify-content-center" id="PART2">
                            <div class="row justify-content-around">
                                <div class="col-11 mt-3 mb-3 ml-2  " style="color: white;" id="HEADING">
                                    <h1 class="mx-3">
                                        Hi Muhammad! 👋<BR>

                                        Welcome to Dashboard</h6>
                                </div>
                                <div class="col-10 mx-3 text-light" id="XLARGE">
                                    Thanks for joining. Your eligibility for jobs relies on your vetting process
                                    completion.
                                </div>

                                <div class="col-11 justify-content-center mt-5">
                                    <div class="row justify-content-center mb-4">


                                        <div class="col-lg-3 col-sm-5" id="STEP1" onclick="overView(1)">
                                            <div class="SMALL"><b>Personal Info</b>
                                                <span id="DROP-ICON1"><i class="fa-solid fa-caret-down"></i></span>
                                            </div>
                                            <div class="progress my-3">
                                                <div class="progress-bar w-100 bg-white" role="progressbar"
                                                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div id="BELOW1">
                                                <div class="my-1" id="SMALL"><span><i
                                                            class="bi bi-check-circle-fill"></i></span> Sign Up </div>
                                                <div class="mb-3" id="SMALL"><span><i
                                                            class="bi bi-check-circle-fill"></i></span> Basic Form</div>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="col-lg-3 col-sm-5" id="STEP2" onclick="overView(2)">
                                            <div class="SMALL">
                                                <b>Techniqal Assistan</b>
                                                <span id="DROP-ICON2"><i class="fa-solid fa-caret-down"></i></span>
                                            </div>
                                            <div class="progress my-3">
                                                <div class="progress-bar w-100"
                                                    style="background-color:rgb(240, 171, 171);"></div>
                                            </div>
                                            <div id="BELOW2">
                                                <div class="my-1" id="SMALL"><span><i class="bi bi-shield-lock"></i>
                                                        Skill
                                                        test </span></div>
                                                <div class="mb-3" id="SMALL"><span><i
                                                            class="bi bi-shield-lock"></i></span>
                                                    Video Screening</div>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="col-lg-3 col-sm-5" id="STEP3" onclick="overView(3)">
                                            <div class="SMALL"><b>Final Interview</b>
                                                <span><i class="fa-solid fa-caret-down"></i></span>
                                            </div>
                                            <div class="progress my-3">
                                                <div class="progress-bar w-100"
                                                    style="background-color:rgb(240, 171, 171);"></div>
                                            </div>
                                            <div id="BELOW3">
                                                <div class="my-1" id="SMALL"><span><i
                                                            class="bi bi-shield-lock"></i></span>
                                                    Inteerview with Client </div>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="col-lg-3 col-sm-5" id="STEP4" onclick="overView(4)">
                                            <div class="SMALL"><b>Network</b>
                                                <span id="DROP-ICON4"><i class="fa-solid fa-caret-down"></i></span>
                                            </div>
                                            <div class="progress my-3">
                                                <div class="progress-bar w-100"
                                                    style="background-color:rgb(240, 171, 171);"></div>
                                            </div>

                                            <div id="BELOW4">
                                                <div class="my-1" id="SMALL"><span><span><i
                                                                class="bi bi-shield-lock"></i></span> Get Shortlisted
                                                </div>
                                                <div class="my-1" id="SMALL"><span><span><i
                                                                class="bi bi-shield-lock"></i></span> Stay Tuned with Us
                                                </div>
                                                <div class="mb-3" id="SMALL"><span><span><i
                                                                class="bi bi-shield-lock"></i></span> Get hired </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="row justify-content-lg-between justify-content-md-center mt-5">
                            <div class="col-lg-7 col-sm-10 mt-3">
                                <div class="my-4" id="HEADING">
                                    <h1>Ready to take your tech career to new heights? Look no further!</h1>
                                </div>
                                <div class="my-2" id="SMALL">By joining the letsremotify Talent Network, you gain access
                                    to a world of extraordinary benefits and exclusive opportunities.</div>
                                <div class="mt-5" id="SUBHEAD">Why join SSL SOLUTIONS?</div>
                                <div class="col-xxl-11 col-xl-11 col-lg-12">
                                    <div class="row justify-content-start my-4">
                                        <div class="col-xl-7 col-lg-7">
                                            <span><img height="20px" width="20px" class="img-fluid"
                                                    src="/images/tick_red.svg" alt=""> </span><span class="SMALL"> Expert
                                                Suppor</span>
                                        </div>
                                        <div class="col-xl-5 col-lg-5">
                                            <span><img height="20px" width="20px" class="img-fluid"
                                                    src="/images/tick_red.svg" alt=""> </span><span class="SMALL"> Elite
                                                Network</span>
                                        </div>
                                        <div class="col-xl-7 col-lg-8">
                                            <span><img height="20px" width="20px" class="img-fluid"
                                                    src="/images/tick_red.svg" alt=""> </span><span class="SMALL">
                                                Personalized Matchmaking</span>
                                        </div>
                                        <div class="col-xl-5 col-lg-6">
                                            <span><img height="20px" width="20px" class="img-fluid"
                                                    src="/images/tick_red.svg" alt=""> </span><span class="SMALL"> Career
                                                Growth</span>
                                        </div>
                                        <div class="col-xl-7 col-lg-7">
                                            <span><img height="20px" width="20px" class="img-fluid"
                                                    src="/images/tick_red.svg" alt=""> </span><span class="SMALL">
                                                Diverse Job Opportunities</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-9 mt-5 mb-5"><img class="img-fluid"
                                    src="/images/overview_poster-a9cb46fc486b66e8ddf55bdfacd18fb7a5d2f9c9e716169a6eb12b8db437a51d.png"
                                    alt=""></div>

                            <div class="row justify-content-center">
                                <div class="col-sm-10 text-center mt-5 mb-2">
                                    <h1>Discover Elite Talent: Your Key to Success</h1>
                                </div>
                                <div id="LARGE" class="col-lg-10 text-center">
                                    Connecting with elite talent is key to success. With our platform, you’ll find
                                    professionals from all over the world who can help you reach your goals.
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-evenly">
                            <div class="col-md-4 col-9  justify-content-center" id="FIELDS">
                                <div><img class="img-fluid" height="100px" width="100px" src="/images/1697173107163.png"
                                        alt=""></div>
                                <div class="LARGE">Gulam Qadir</div>
                                <div class="SMALL">Shopify Engineer</div>
                                <div id="FIELDS-BOXES" class="mt-3">
                                    <div class="MINI-BOXES">
                                        <img class="img-fluid" src="/images/angular.png" alt=""> <span
                                            class="XXSMALL">Angular</span>
                                    </div>
                                    <div class="MINI-BOXES">
                                        <img class="img-fluid" src="/images/angular.png" alt=""> <span
                                            class="XXSMALL">Angular</span>
                                    </div>
                                    <div class="MINI-BOXES">
                                        <img class="img-fluid" src="/images/angular.png" alt=""> <span
                                            class="XXSMALL">Angular</span>
                                    </div>
                                </div>
                                <div id="XSMALL" class="mt-4">
                                    Zac Christian is experienced in developing, testing, and deploying applications
                                    using a range of technologies such as HTML/CSS, JavaScript, Angular, Node.js, SQL,
                                    Rails, and Ruby.
                                </div>

                            </div>
                            <!-- 2nd box -->
                            <div class="col-md-4 col-9  justify-content-center" id="FIELDS">
                                <div><img class="img-fluid" height="100px" width="100px" src="/images/16971731837789.png"
                                        alt=""></div>
                                <div class="LARGE">Fahad Shahbaz</div>
                                <div class="SMALL">UI/UX Designer</div>
                                <div id="FIELDS-BOXES" class="mt-3">
                                    <div class="MINI-BOXES">
                                        <img class="img-fluid" src="/images/angular.png" alt=""> <span
                                            class="XXSMALL">Angular</span>
                                    </div>
                                    <div class="MINI-BOXES">
                                        <img class="img-fluid" src="/images/angular.png" alt=""> <span
                                            class="XXSMALL">Angular</span>
                                    </div>
                                    <div class="MINI-BOXES">
                                        <img class="img-fluid" src="/images/angular.png" alt=""> <span
                                            class="XXSMALL">Angular</span>
                                    </div>
                                </div>
                                <div id="XSMALL" class="mt-4">
                                    Zac Christian is experienced in developing, testing, and deploying applications
                                    using a range of technologies such as HTML/CSS, JavaScript, Angular, Node.js, SQL,
                                    Rails, and Ruby.
                                </div>

                            </div>
                            <!-- 3rd box -->
                            <div class="col-md-4 col-9  justify-content-center" id="FIELDS">
                                <div><img class="img-fluid" height="100px" width="100px" src="/images/1697176097615.png" alt="">
                                </div>
                                <div class="LARGE">Mughira Khalid</div>
                                <div class="SMALL">Back-End Developer</div>
                                <div id="FIELDS-BOXES" class="mt-3">
                                    <div class="MINI-BOXES">
                                        <img class="img-fluid" src="/images/angular.png" alt=""> <span
                                            class="XXSMALL">Angular</span>
                                    </div>
                                    <div class="MINI-BOXES">
                                        <img class="img-fluid" src="/images/angular.png" alt=""> <span
                                            class="XXSMALL">Angular</span>
                                    </div>
                                    <div class="MINI-BOXES">
                                        <img class="img-fluid" src="/images/angular.png" alt=""> <span
                                            class="XXSMALL">Angular</span>
                                    </div>
                                </div>
                                <div id="XSMALL" class="mt-4">
                                    Zac Christian is experienced in developing, testing, and deploying applications
                                    using a range of technologies such as HTML/CSS, JavaScript, Angular, Node.js, SQL,
                                    Rails, and Ruby.
                                </div>

                            </div>
                            <!-- 4nd box -->
                            <div class="col-md-4 col-9 justify-content-center" id="FIELDS">
                                <div><img class="img-fluid" height="100px" width="100px" src="/images/1697172871018.png" alt="">
                                </div>
                                <div class="LARGE">Abdul Sattar</div>
                                <div class="SMALL">Full Stack Engineer</div>
                                <div id="FIELDS-BOXES" class="mt-3">
                                    <div class="MINI-BOXES">
                                        <img class="img-fluid" src="/images/angular.png" alt=""> <span
                                            class="XXSMALL">Angular</span>
                                    </div>
                                    <div class="MINI-BOXES">
                                        <img class="img-fluid" src="/images/angular.png" alt=""> <span
                                            class="XXSMALL">Angular</span>
                                    </div>
                                    <div class="MINI-BOXES">
                                        <img class="img-fluid" src="/images/angular.png" alt=""> <span
                                            class="XXSMALL">Angular</span>
                                    </div>
                                </div>
                                <div id="XSMALL" class="mt-4">
                                    Zac Christian is experienced in developing, testing, and deploying applications
                                    using a range of technologies such as HTML/CSS, JavaScript, Angular, Node.js, SQL,
                                    Rails, and Ruby.
                                </div>

                            </div>
                            <!-- 3rd box -->

                        </div>
                        <div class="row justify-content-start  mt-5 text-center">
                            <div class="col-sm-11 justify-content-center my-4" id="FAQ-ACCORDIANS">
                                <h1 class="my-5" id="HEADING">Curious? Explore Our FAQs</h1>
                                <div id="LARGE" class="mb-3">Explore the following frequently asked questions to find relevant
                                    information about our company, products, and services. If you need further details,
                                    don't hesitate to reach out to us. We're here to help!</div>
                                    <div class="row justify-content-center">
                                        
                <div class="col-md-10 justify-content-center mb-5">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item" style="border: 1px solid black; margin-top:10px; width: 100%;">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    <h5 id="SMALL">What is SSL SOLUTIONS?</h5>
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body" id="SMALL">SSL SOLUTIONS is an exclusive community
                                    comprising elite
                                    remote software developers, designers, marketers, project managers, product
                                    managers, and other tech professionals. Our platform provides talented
                                    software
                                    developers with opportunities to collaborate with U.S. companies</div>
                            </div>
                        </div>
                        <div class="accordion-item" style="border: 1px solid black; margin-top:10px;">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                    <h5 id="SMALL">How many interview rounds are typically involved in the
                                        hiring
                                        process
                                        before
                                        selection?</h5>
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body" id="SMALL">After signing up and uploading a resume,
                                    you have
                                    to
                                    clear a
                                    few assessments and pass out interviews to make yourself eligible for a wide
                                    range
                                    of jobs available based on your skills.</div>
                            </div>
                        </div>
                        <div class="accordion-item" style="border: 1px solid black; margin-top:10px;">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                    <h5 id="SMALL">"Which categories of tech talent does SSL SOLUTIONS recruit?"
                                    </h5>
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body" id="SMALL">We don't limit ourselves to a specific
                                    set of
                                    skills;
                                    we're
                                    actively recruiting from a pool of over 100 specialized professionals across
                                    various
                                    domains. These include Python, React/Node, Rails, Angular, Swift, React
                                    Native,
                                    Android, Java, Golang, PHP, Vue, UI/UX, Design, AI/ML, and many more</div>
                            </div>
                        </div>
                    </div>
                </div>
                                    </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  -->



    <script>
        function toggleSecondBox() {
            var profile = document.getElementById('PROFILE');
            if (profile.style.display === 'none' || profile.style.display === '') {
                profile.style.display = 'block';
            }
            else {
                profile.style.display = 'none';
            }

        }
        function overView(val) {
            if (val == 1) {
                var below = document.getElementById('BELOW1');
                if (below.style.display === 'none') {
                    below.style.display = 'block';
                }
                else {
                    below.style.display = 'none';
                }
            }
            if (val == 2) {
                var below = document.getElementById('BELOW2');
                if (below.style.display === 'none') {
                    below.style.display = 'block';
                }
                else {
                    below.style.display = 'none';
                }
            }
            if (val == 3) {
                var below = document.getElementById('BELOW3');
                if (below.style.display === 'none') {
                    below.style.display = 'block';
                }
                else {
                    below.style.display = 'none';
                }
            }
            if (val == 4) {
                var below = document.getElementById('BELOW4');
                if (below.style.display === 'none') {
                    below.style.display = 'block';
                }
                else {
                    below.style.display = 'none';
                }
            }

        }
    </script>








    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <script>






    </script>
</body>

</html>