<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @font-face {
    font-family: Gorditas;
    src: url(/public/fonts/Gorditas.zip/Gorditas-Regular.ttf);
    font-family: Gordita;
    src: url(/public/fonts/Gorditas.zip/Gorditas-Bold.ttf);

    src: url(/public/fonts/Helvetica.ttf);
    font-family: Helvetica Rounded;
    src: url(/public/fonts/Helvetica.ttf);

    font-family: Helvetica;
    src: url(Helvetica.ttf);

}
        :root{
            --Goditas--bold : Gorditas;
            --Godita--bold : Gordita;
            --Helvetica--Round:Helvetica Rounded;
            --subbold--font: Helvetica;
            
    
        }
    </style>
</head>
<body>
<H1>
    <gordita style="font-family: var(--Goditas--bold);">this is go gordita </gordita><br>
    <gordita style="font-family: var(--Godita--bold);">this is go gordita </gordita><br>
    <helaine style="font-family: var(--Helvetica--Round);">this is --round--hel text </helaine><br>
    <helaine style="font-family: var(--subbold--font);">this is random text </helaine><br>
  
</H1>
</body>
</html>