.started-container {
  width: 90%;
  margin: 8rem auto;
  text-align: center;
}
.started-steps {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  justify-content: space-between;
}
.startedStepsCont p {
  width: 80%;
  margin: 0 auto;
}
.step-1,
.step-2,
.step-3 {
  background-color: #AF2022;

  padding: 1rem 1.65rem;

  border-radius: 50%;
  font-size: 1.85rem;
  font-weight: 900;
  color: white;
}

@media screen and (max-width: 850px) {
  .started-steps {
    display: flex;
    flex-direction: column;
  }
  .startedStepsCont {
    margin-top: 2rem;
  }
}
