<<<<<<< HEAD

nav {
    background-color: rgb(175, 32, 34);
}

.btn-color {
    background-color: rgb(243, 230, 230);
    border: 1px solid rgb(175, 32, 34);
    color: rgb(175, 32, 34);
    height: 36px;
    width: 140px;
    outline: none;
    border-radius: 5px;
    font-weight: 600;
}

.tech-btn {
    font-weight: 600;
    width: 120px;
    border-radius: 4px;
    color: gray;
    height: 40px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 6px grey;
    background: none;
}

.seeking-job button {
=======
header{
    /* margin-top:  -12px; */
    /* position: fixed; */
    /* width: 100%; */
}

nav{
    background-color: rgb(175, 32, 34);
}


.seeking-job{
    /* height: 50px; */
    /* padding: 12px; */
}
.seeking-job button{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    margin-top: 10px;
    border: 1px solid grey;
}


<<<<<<< HEAD
.model-image {
=======
.model-image{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

<<<<<<< HEAD
.histroy-img {
=======
.histroy-img{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    width: 25px;
    height: 25px;
    margin-top: 48px;
}

<<<<<<< HEAD
.taxt-dark {
    color: rgb(108, 103, 103);
}

.profile-image {
=======
.taxt-dark{
    color: rgb(108, 103, 103);
}

.profile-image{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    width: 124px;
    border-radius: 100px;
    margin-top: -94px;
    border: 10px solid beige;
}

<<<<<<< HEAD
.main {
    background-color: #dbe4f580;
}

.left-side {
=======
.main{
    background-color: #dbe4f580;
}
.left-side{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    background-color: rgb(175, 32, 34);
    height: 95vh;
    border-radius: 10px;
    color: white;
    position: fixed;
    width: 24%;
}



<<<<<<< HEAD
.mobile-side {
    background-color: rgb(175, 32, 34);
=======
.mobile-side{
    background-color: rgb(175, 32, 34);
    /* height: 90vh; */
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    border-radius: 10px;
    color: white;
    width: 100%;
    z-index: 1;
}

<<<<<<< HEAD
.navbar-color {
    background-color: rgb(175, 32, 34);
}

.toggle-icon {
    font-size: 1.3rem;
}

.bg {
=======
.navbar-color{
    background-color: rgb(175, 32, 34);
}
.toggle-icon{
    font-size: 1.3rem;
}
.bg{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    background: white;
    border-radius: 20px;
    padding-bottom: 60px;
    box-shadow: 0 4px 8px 0 rgba(110, 107, 107, 0.2), 0 6px 20px 0 rgba(98, 95, 95, 0.19);
    margin-top: 15px;
}

<<<<<<< HEAD
.Overview-font {
    font-size: 1.3rem;
}

.mobile-logo {
=======
.Overview-font{
    font-size: 1.3rem;
}

.mobile-logo{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    width: 150px;
    height: 40px;
}

<<<<<<< HEAD
.overview span {
=======
.overview span{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    font-weight: 700;
    font-size: 1.3rem;
    margin-left: 10px;
}

<<<<<<< HEAD
.overview {
=======
.overview{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 5px;
    padding: 9px;
    margin-bottom: 22px;
}

<<<<<<< HEAD
.left-logo {
    width: 90%;
}

.overview:hover {
=======
.left-logo{
    width: 90%;
}

.overview:hover{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    background-color: white;
    color: rgb(175, 32, 34);
}

<<<<<<< HEAD
.value {
    text-align: center;
}

.value img {
=======
.value{
    text-align: center;
}

.value img{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    margin-left: 5px;
    width: 100px;
}

<<<<<<< HEAD
.overview-disabeld {
=======
.overview-disabeld{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    color: grey;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 5px;
    padding: 9px;
    margin-bottom: 22px;
}

<<<<<<< HEAD
.overview-disabeld span {
=======
.overview-disabeld span{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    font-weight: 700;
    font-size: 1.3rem;
    margin-left: 12px;
}


<<<<<<< HEAD
.right-section {
    overflow: auto;
}

.dropdown {
    text-align: end;
}

.profile {
=======
/* Right Section Start */
.right-section{
    overflow: auto;
}
.dropdown{
    text-align: end;
}

.profile{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    border-radius: 100px;
    width: 50px;
    border: none;
    outline: none;
}

<<<<<<< HEAD
.profile-btn {
=======
.profile-btn{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    border: none;
    outline: none;
}

<<<<<<< HEAD
.dropdown i {
    font-size: 1.4rem;
    color: grey;
    margin-right: 40px;
}

.profile-detail img {
=======
.dropdown i{
    font-size: 1.4rem;
    color: grey;
    margin-right: 40px;    
}

.profile-detail img{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    width: 100%;
    border-radius: 25px 25px 0 0;

}

<<<<<<< HEAD
.add-profile img {
=======
.add-profile img{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    width: 35%;
    margin-top: -40px;
    margin-left: 40px;
    border: 8px solid white;
}

<<<<<<< HEAD
.add-name h3 {
=======
.add-name h3{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    margin-left: 15px;
    margin-top: 10px;
}

<<<<<<< HEAD
.add-name img {
=======
.add-name img{    
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    width: 30px;
    margin-left: 15px;
}

<<<<<<< HEAD
.add-des {
=======
.add-des{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    text-decoration: none;
    color: gray;
    position: relative;
    top: -8px;
    margin-left: 15px;
}

<<<<<<< HEAD
.add-des:hover {
=======
.add-des:hover{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    text-decoration: underline;
    color: rgb(175, 32, 34);
}

<<<<<<< HEAD
.add-data input {
    padding: 15px;
    border-radius: 10px;
}

.country {
=======
.add-data label{
    /* margin-left: 60px; */
}

.add-data input{
   padding: 15px;
   border-radius: 10px;
}

.country{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
}

<<<<<<< HEAD
.experties img {
    width: 30px;
}

.select-experience {
=======
.experties img{
    width: 30px;
}

.select-experience{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    width: 48%;
    padding: 8px;
    border: 1px solid gray;

}

<<<<<<< HEAD
.basic-card {
    border: 1px solid gray;
    padding: 20px;

}

.basic-card:hover {
    background-color: rgb(204, 196, 196);
}

.profile-box .row {
    margin: 40px;
}



.web-dev button {
=======
.basic-card{
    border: 1px solid gray;
    /* margin-right: 20px; */
    /* margin: auto; */
    padding: 20px;
    /* margin-left: 20px; */

}

.basic-card:hover{
    background-color: rgb(204, 196, 196);
}

.profile-box .row{
    margin: 40px;
}

.web-dev{
    /* height: 35px;
    border: 1px solid rgb(175, 32, 34);
    width: 15%;
    float: left; */
}

.web-dev button{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    color: rgb(175, 32, 34);
    width: max-content;
    padding: 8px;
    outline: none;
    border: 1px solid rgb(175, 32, 34);
<<<<<<< HEAD
    background-color: white;
}

.non-active {
=======
    background-color: white;    
}

.non-active{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    color: rgb(110, 107, 107);
    font-weight: 700;
    position: relative;
    top: -10px;
}

<<<<<<< HEAD
.profile-experties {
    margin-top: -16px;
}

.get-skill {
=======
.profile-experties{
    margin-top: -16px;
}

.get-skill{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    border: 1px;
    width: 100%;
    text-align: center;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(91, 90, 90, 0.2), 0 6px 20px 0 rgba(105, 105, 105, 0.19);
    color: gray;
    font-weight: 700;

}

<<<<<<< HEAD
.tech-stack img {
    width: 30px;
}

.work-bg {
=======
.tech-stack{
    /* display: flex; */
}

.tech-stack img{
    width: 30px;
}

.work-bg{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    border-radius: 20px;
    margin-top: 20px;
    padding: 50px;
    background-color: white;
    padding-bottom: 60px;
    box-shadow: 0 4px 8px 0 rgba(110, 107, 107, 0.2), 0 6px 20px 0 rgba(98, 95, 95, 0.19);
}

<<<<<<< HEAD
.seeking-last {
=======
.seeking-last{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    margin-left: 10px;
    margin-right: -10px;
}

<<<<<<< HEAD


.seeking-first {
=======
.seeking-center{
}

.seeking-first{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    margin-left: -10px;
    margin-right: 10px;
}

<<<<<<< HEAD
.seeking-icon {
=======
.seeking-icon{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    font-size: 1.3rem;
    margin-right: 8px;
    color: #ced4da;
}

<<<<<<< HEAD
.work-update h3 {
=======
.work-update h3{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    font-weight: 700;
    color: rgb(108, 103, 103);
}

<<<<<<< HEAD
.active {
    outline: 1px solid black;
}

.add-detail img {
=======
.active{
    outline: 1px solid black;
}

.add-detail img{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    width: 30px;
    float: right;
}

<<<<<<< HEAD
.date input {
    width: 30%;
}

.histroy-bag {
=======
.date input{
    width: 30%;
}

.histroy-bag{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
    color: rgb(175, 32, 34);
}

@media only screen and (max-width: 767px) {
<<<<<<< HEAD
    .bg-light {
        margin-top: 15px;

    }

    .seeking-last,
    .seeking-first {
=======
    .bg-light{
        margin-top: 15px;
           
    }
    .seeking-last, .seeking-first{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
    }
<<<<<<< HEAD

    .seeking-center {
        margin-top: 10px;
        margin-bottom: 10px;
    }

}


@media only screen and (max-width: 575px) {
    .english-media {
        margin: auto;
        position: relative;
        bottom: 60px;
    }

    .experience-media {
        margin: auto;
=======
    .seeking-center{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
  }

  
@media only screen and (max-width: 575px) {
    .english-media{
        margin: auto;
        /* text-align: center; */
        position: relative;
        bottom: 60px;
    }
    .experience-media{
        margin: auto;
        /* text-align: center; */
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
        position: relative;
        bottom: 150px;
        left: 20px;
    }
<<<<<<< HEAD

    .bg {
        padding-bottom: 30px;
    }

    .add-profile img {
        margin-top: -35px;
        margin-left: 0;
    }

    .left-side {
        width: 100%;
        position: relative;
    }

    .set-skill {
        position: relative;
        bottom: 326px;
    }

    .web-dev {
        margin-top: 15px;
    }

    .profile-image {
        width: 90px;
    }

   


    .detail-design h4 {
        font-size: 13px;
    }
    .exp select{
        width: 100%;
    }

}

@media only screen and (max-width: 996px) {
    .value img {
=======
    .bg{
        /* height: 980px; */
        padding-bottom: 30px;
    }
    .add-profile img{
        margin-top: -35px;
        margin-left: 0;
    }
    .left-side{
        width: 100%;
        position: relative;
    }
    .set-skill{
        position: relative;
        bottom: 326px;
    }
    .web-dev{
        margin-top: 15px;
    }
    .profile-image{
        width: 90px;
    }
    .overview, .overview-disabeld{
        /* margin-bottom: 10px; */
    }
    
  }

@media only screen and (max-width: 996px) {
    .value img{
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
        width: 100px;
    }
}

<<<<<<< HEAD


.exp select {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(239, 232, 232);
    outline: none;
    margin-top: 15px;
    margin-bottom: 15px;
}


.update-btn {
    float: right;
    padding: 40px;
}

.update-btn button {
    width: 115px;
    height: 50px;
    border: none;
    outline: none;
    background: rgb(175, 32, 34);
    color: white;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 700;
}









:root {
    --primary-color: #07afd9;
}

.radio-tile-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input-container {
    position: relative;
    height: 15rem;
    width: 20rem;
    margin: 0.5rem;
}

.input-container input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

.input-container .radio-tile {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 2px solid rgb(206, 199, 199);
    border-radius: 8px;
    transition: all 300ms ease;
}

.radio-tile,
p,
h3 {
    margin-left: 15px;
}

.radio-tile h3 {
    margin-top: 22px;
}

input:checked+.radio-tile {
    border: 2px solid rgb(175, 32, 34);
}

input:checked+.radio-tile ion-icon,
input:checked+.radio-tile label {
    color: white;
}















ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}

ul.ks-cboxtags li {
    display: inline;
}

ul.ks-cboxtags li label {
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 8px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label {
    border: 2px solid rgb(175, 32, 34);
    background-color: rgb(175, 32, 34);
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
    display: absolute;
}

ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

ul.ks-cboxtags li input[type="checkbox"]:focus+label {
    border: 2px solid #e9a1ff;
}
=======
>>>>>>> 3b1fe814d2ede77af73168688b71ddf62ebecf15
