
nav {
    background-color: rgb(175, 32, 34);
}

.btn-color {
    background-color: rgb(243, 230, 230);
    border: 1px solid rgb(175, 32, 34);
    color: rgb(175, 32, 34);
    height: 36px;
    width: 140px;
    outline: none;
    border-radius: 5px;
    font-weight: 600;
}

.tech-btn {
    font-weight: 600;
    width: 120px;
    border-radius: 4px;
    color: gray;
    height: 40px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 6px grey;
    background: none;
}

.seeking-job button {
    margin-top: 10px;
    border: 1px solid grey;
}


.model-image {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.histroy-img {
    width: 25px;
    height: 25px;
    margin-top: 48px;
}

.taxt-dark {
    color: rgb(108, 103, 103);
}

.profile-image {
    width: 124px;
    border-radius: 100px;
    margin-top: -94px;
    border: 10px solid beige;
}

.main {
    background-color: #dbe4f580;
}

.left-side {
    background-color: rgb(175, 32, 34);
    height: 95vh;
    border-radius: 10px;
    color: white;
    position: fixed;
    width: 24%;
}



.mobile-side {
    background-color: rgb(175, 32, 34);
    border-radius: 10px;
    color: white;
    width: 100%;
    z-index: 1;
}

.navbar-color {
    background-color: rgb(175, 32, 34);
}

.toggle-icon {
    font-size: 1.3rem;
}

.bg {
    background: white;
    border-radius: 20px;
    padding-bottom: 60px;
    box-shadow: 0 4px 8px 0 rgba(110, 107, 107, 0.2), 0 6px 20px 0 rgba(98, 95, 95, 0.19);
    margin-top: 15px;
}

.Overview-font {
    font-size: 1.3rem;
}

.mobile-logo {
    width: 150px;
    height: 40px;
}

.overview span {
    font-weight: 700;
    font-size: 1.3rem;
    margin-left: 10px;
}

.overview {
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 5px;
    padding: 9px;
    margin-bottom: 22px;
}

.left-logo {
    width: 90%;
}

.overview:hover {
    background-color: white;
    color: rgb(175, 32, 34);
}

.value {
    text-align: center;
}

.value img {
    margin-left: 5px;
    width: 100px;
}

.overview-disabeld {
    color: grey;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 5px;
    padding: 9px;
    margin-bottom: 22px;
}

.overview-disabeld span {
    font-weight: 700;
    font-size: 1.3rem;
    margin-left: 12px;
}


.right-section {
    overflow: auto;
}

.dropdown {
    text-align: end;
}

.profile {
    border-radius: 100px;
    width: 50px;
    border: none;
    outline: none;
}

.profile-btn {
    border: none;
    outline: none;
}

.dropdown i {
    font-size: 1.4rem;
    color: grey;
    margin-right: 40px;
}

.profile-detail img {
    width: 100%;
    border-radius: 25px 25px 0 0;

}

.add-profile img {
    width: 35%;
    margin-top: -40px;
    margin-left: 40px;
    border: 8px solid white;
}

.add-name h3 {
    margin-left: 15px;
    margin-top: 10px;
}

.add-name img {
    width: 30px;
    margin-left: 15px;
}

.add-des {
    text-decoration: none;
    color: gray;
    position: relative;
    top: -8px;
    margin-left: 15px;
}

.add-des:hover {
    text-decoration: underline;
    color: rgb(175, 32, 34);
}

.add-data input {
    padding: 15px;
    border-radius: 10px;
}

.country {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
}

.experties img {
    width: 30px;
}

.select-experience {
    width: 48%;
    padding: 8px;
    border: 1px solid gray;

}

.basic-card {
    border: 1px solid gray;
    padding: 20px;

}

.basic-card:hover {
    background-color: rgb(204, 196, 196);
}

.profile-box .row {
    margin: 40px;
}



.web-dev button {
    color: rgb(175, 32, 34);
    width: max-content;
    padding: 8px;
    outline: none;
    border: 1px solid rgb(175, 32, 34);
    background-color: white;
}

.non-active {
    color: rgb(110, 107, 107);
    font-weight: 700;
    position: relative;
    top: -10px;
}

.profile-experties {
    margin-top: -16px;
}

.get-skill {
    border: 1px;
    width: 100%;
    text-align: center;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(91, 90, 90, 0.2), 0 6px 20px 0 rgba(105, 105, 105, 0.19);
    color: gray;
    font-weight: 700;

}

.tech-stack img {
    width: 30px;
}

.work-bg {
    border-radius: 20px;
    margin-top: 20px;
    padding: 50px;
    background-color: white;
    padding-bottom: 60px;
    box-shadow: 0 4px 8px 0 rgba(110, 107, 107, 0.2), 0 6px 20px 0 rgba(98, 95, 95, 0.19);
}

.seeking-last {
    margin-left: 10px;
    margin-right: -10px;
}



.seeking-first {
    margin-left: -10px;
    margin-right: 10px;
}

.seeking-icon {
    font-size: 1.3rem;
    margin-right: 8px;
    color: #ced4da;
}

.work-update h3 {
    font-weight: 700;
    color: rgb(108, 103, 103);
}

.active {
    outline: 1px solid black;
}

.add-detail img {
    width: 30px;
    float: right;
}

.date input {
    width: 30%;
}

.histroy-bag {
    color: rgb(175, 32, 34);
}

@media only screen and (max-width: 767px) {
    .bg-light {
        margin-top: 15px;

    }

    .seeking-last,
    .seeking-first {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .seeking-center {
        margin-top: 10px;
        margin-bottom: 10px;
    }

}


@media only screen and (max-width: 575px) {
    .english-media {
        margin: auto;
        position: relative;
        bottom: 60px;
    }

    .experience-media {
        margin: auto;
        position: relative;
        bottom: 150px;
        left: 20px;
    }

    .bg {
        padding-bottom: 30px;
    }

    .add-profile img {
        margin-top: -35px;
        margin-left: 0;
    }

    .left-side {
        width: 100%;
        position: relative;
    }

    .set-skill {
        position: relative;
        bottom: 326px;
    }

    .web-dev {
        margin-top: 15px;
    }

    .profile-image {
        width: 90px;
    }

   


    .detail-design h4 {
        font-size: 13px;
    }
    .exp select{
        width: 100%;
    }

}

@media only screen and (max-width: 996px) {
    .value img {
        width: 100px;
    }
}



.exp select {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(239, 232, 232);
    outline: none;
    margin-top: 15px;
    margin-bottom: 15px;
}


.update-btn {
    float: right;
    padding: 40px;
}

.update-btn button {
    width: 115px;
    height: 50px;
    border: none;
    outline: none;
    background: rgb(175, 32, 34);
    color: white;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 700;
}









:root {
    --primary-color: #07afd9;
}

.radio-tile-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input-container {
    position: relative;
    height: 15rem;
    width: 20rem;
    margin: 0.5rem;
}

.input-container input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

.input-container .radio-tile {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 2px solid rgb(206, 199, 199);
    border-radius: 8px;
    transition: all 300ms ease;
}

.radio-tile,
p,
h3 {
    margin-left: 15px;
}

.radio-tile h3 {
    margin-top: 22px;
}

input:checked+.radio-tile {
    border: 2px solid rgb(175, 32, 34);
}

input:checked+.radio-tile ion-icon,
input:checked+.radio-tile label {
    color: white;
}















ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}

ul.ks-cboxtags li {
    display: inline;
}

ul.ks-cboxtags li label {
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 8px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label {
    border: 2px solid rgb(175, 32, 34);
    background-color: rgb(175, 32, 34);
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
    display: absolute;
}

ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

ul.ks-cboxtags li input[type="checkbox"]:focus+label {
    border: 2px solid #e9a1ff;
}