/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/* start slider section  */

.slide-container {
    max-height: 1120px;
    width: 100%;
    padding: 40px 40px;
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.swiper-slide {
    width: 300px;
    margin-right: 15px;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 16px;
}

.card-image {
    position: relative;
    height: 240px;
    width: 220px;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #3e3e3f;
}

.description {

    font-size: 12;
    color: #6c6c6c;
    text-align: center;
    white-space: nowrap;
}

.swiper-navBtn {
    color: rgb(175, 32, 34);
    transition: all 0.4s;
}

.swiper-navBtn:hover {
    color: rgb(123, 31, 40);
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 30px;
}

@media screen and(max-width : 768px) {
    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none;
    }
}

/* End Slider Section  */

/* Start Table section */
.table-info tr th {
    color: #000;
}

.table-info td:not(:first-child),
.heading.hiremotetalent-bg {
    text-align: center;
}

.table-details {
    color: #777777;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.heading {
    background-color: #ebeced;
    text-align: center;
    padding: 2.2%;
    /* You can adjust this as needed */
}

.hiremotetalent-bg {
    background-color: #edf1fd !important;
}

.table-details.details {
    background-color: #f6f7fa;
}

.align-left {
    text-align: right;
    color: #3e3e3f;
    font-weight: 600;
    background: #F6F7FA !important;

}

.green {
    background-color: #C2E5DF;
}

.red {
    background-color: #EDC9CF;
}

.red-icon {
    color: #F05359;
}

.green-icon {
    color: #00CC83;
}

.circle-icon {
    padding: 5px 12px;
    background: #ffffff;
    border-radius: 50%;
}

.after-table .title {
    padding: 50px 24px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #455065;
}

.after-table__details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.after-table__details .col-title {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    padding-bottom: 20px;
}

.after-table .col-description {
    font-size: 16px;
    color: #555659;
}

.after-table-content {
    position: relative;
    margin: 0 50px;
}

.custom-table table {
    margin: 0 !important;
    width: 100%;
    padding: 40px;
}

.after-table:before {
    content: '';
    left: 37px;
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 3px dotted #912CC6;
    width: 2px;
    z-index: -10;
}

.custom-table {
    background-color: #f7f8ff;
}

.table-info th:first-child,
.table-info td:first-child {
    width: 33%;
    padding: 1.7%;
}

.tablee {
    margin: 20px;
}

.table-7 {
    margin-left: 31px;
}

@media (max-width: 768px) {
    .after-table__details {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

    }

    .custom-table {
        font-size: 10px;
    }

    .tablee {
        margin: 18px;
    }

    .table-7 {
        margin-left: 20px;
    }

    .after-table-content {
        margin: 20px;
    }
}

@media (max-width: 375px) {
    .custom-table {
        max-width: 100%;
        font-size: 8px;
    }

    .tablee {
        font-size: 10px;
        max-width: 100%;
        padding: 0px;
        margin: 10px;
    }

    .circle-icon {
        padding: 2px 4px;

    }

    .after-table-content {
        margin: 0%;
    }

    .table-7 {
        font-size: 10px;
        margin-left: 0%;
    }
}

/* End Slider section */