/* Custom styles for the testimonial carousel */
#testimonialCarousel {
  width: 90%;
  margin: 4rem auto;
}
.carousel-inner > h1 {
  text-align: center;
}
.carousel-item {
  background: aliceblue;
  padding: 4rem;
  width: 100%;
}
.carousel-item img {
  width: 136px;
  height: 136px;
  margin: auto;
  display: block;
  border-radius: 50%;
  box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}

.carousel-item p {
  color: black;
  font-size: 20px;
  line-height: 1.4;
  margin: 40px 0 20px 0;
}

.carousel-item h4 {
  color: black;
  font-size: 22px;
}

/* Adjust carousel control button styles as needed */
.carousel-control-prev,
.carousel-control-next {
  font-size: 20px;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 50%;
}

/* Optional: Add hover styles for carousel control buttons */
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: black;
  color: white;
}
