#technical{
    background-color: white;
    border-radius: 12px;
    flex-wrap: wrap;
}

#SKILL-BOXES{
    border: 1PX solid grey;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: yellow; */
}

.XSMALL{
    color: rgb(175, 32, 34);
}

.IMG-TEXT{
    display: flex;
}
#X-ICON{
    /* align-items: end; */
    align-self: flex-end;
}
.ARROW{
    
    font-size: 19px;
    color: rgb(175, 32, 34);
}
#BUTTON{
    width: 220PX;
    display: flex;
    /* border: 2PX solid BLUE; */
}

@media (max-width: 1024px) {
    .IMG-TEXT{
        flex-direction: column;
    }
    #BUTTON{
        width: 155px;
        justify-content: center;
        align-items: center;
    }

}
@media (max-width: 992px) {
    .IMG-TEXT{
        flex-direction: row;
    }
    #BUTTON{
        width: 220px;
        justify-content: center;
        align-items: center;
    }

}
/* -------------------      toolips     --------------------------- */
/* Tooltip container */
#tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Tooltip text (hidden by default) */
#tooltip #tooltiptext {
    display: none;
    position: absolute;
    background-color: white;
    color:  rgb(175, 32, 34);
    text-align: center;
    border-radius: 8px;
    padding: 3px;
    z-index: 1;
    width: 180px;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    border: 1px solid rgb(175, 32, 34);
}

/* Show the tooltip text when hovering over the tooltip container */
#tooltip:hover #tooltiptext {
    display: block;
    top: -45px;
    opacity: 1;
        
}

                    /* ---------------    LAGUAGE HOVER EFFECT  ------------------ */
                    #tooltip2 {
                        position: relative;
                        display: inline-block;
                        cursor: pointer;
                    }
                    
                    /* Tooltip text (hidden by default) */
                    #tooltip2 #tooltiptext2 {
                        display: none;
                        position: absolute;
                        background-color: white;
                        color:  rgb(175, 32, 34);
                        text-align: center;
                        border-radius: 8px;
                        padding: 3px;
                        z-index: 1;
                        width: 150px;
                        top: -40px;
                        left: 50%;
                        transform: translateX(-50%);
                        opacity: 0;
                        border: 1px solid rgb(175, 32, 34);
                    }
                    
                    /* Show the tooltip text when hovering over the tooltip container */
                    #tooltip2:hover #tooltiptext2 {
                        display: block;
                        top: -45px;
                        opacity: 1;
                    }

/* ------------------       CHAT        ------------------------ */
.input-container {
    
    background-color: rgb(214, 34, 34);
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    /* width: 300px; */
    /* height: 100px; */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-container i {
    font-size: 20px;
    margin-right: 10px;
    color: #333;
}

input[type="text"] {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
}
.form-select{
   background-color: rgb(250, 250, 250);
    border: none;
    outline: none;
    font-size: 16px;
    width: 90%;
    color:  rgb(124, 113, 107);
    /* height: 100%; */
    /* height: 30pxs; */

}
#MAIN div{
    background-color: rgb(250, 250, 250);
}
#MAIN input{
    background-color: rgb(250, 250, 250);
}
.LABLES div{
    background-color: rgb(250, 250, 250);
}

