*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
   
}

@media (max-width:1200px) {
  #h{
    margin-top: 25px;
    border-radius: 12px;
    /* border: 2px solid black; */
    height: 600px;
    position: fixed;
    background: rgb(175, 32, 34);
  
}
}
/* ----------- */
@media (max-width:576px) {
    #PROFILE-IMG{
       justify-content: space-between;
    }
   
  
   #MAIN{
    flex-direction: column;
   }
   #PROFILE{
    margin-top: 10PX;
   }
   #PROFILE{
    top: 25px;
    border: 4px solid red;
}



 

 

}
#MAR{
    margin-top: 50PX;
}

/* @media (max-width:992px) {
  
}
@media (max-width:786px) {
  

} */
/* @media (max-width:575px) {
     
} */
/* @media (max-width:440px) {  
} */
/* -----------------  NAVBAR----------------------- */

#IFLEXNAV{
    display: flex;
    justify-content: space-evenly;
}
#GETNOWNAV{
    margin-top: 15px;
   padding: 5px 15px;
    font-size: 16PX;
    font-weight: 600;
    color: white;

}
#GETNOWNAV:hover{
    background-color: white;
    color: rgb(175, 32, 34) ;
}
#GETNOWNAV-DISABLED{
    margin-top: 15px;
    padding: 5px 15px;
     font-size: 16PX;
     font-weight: 600;
     color: lightgray;
}
#GETNOWNAV-TEXT{
    margin-top: 15px;
    padding: 5px 15px;
     font-size: 18PX;
     font-weight: 600;
     color: white;
}
#NAV{
  display: none;
}



@media (max-width:992px) {
    #NAV{
      display: block;
    }
      #HIDDEN{
          display: none;
      }
  }











/* ---------------------- */
#HAR{
    background-color: rgb(244, 248, 255);
}



#j{
    width: 100%;
    margin-bottom: 50px;
  
}

#h{
    margin-top: 15px;
    border-radius: 12px;
    height: 622px;
    position: fixed;
    background: rgb(175, 32, 34);
  
}
#GETNOW{
    margin: 8px 0px;
    padding: 5px;
    
    font-size: 20PX;
    color: white;
    font-weight: 700;
}
#GETNOW:hover{
    background-color: white;
    color: rgb(175, 32, 34);
}

#GETNOW i{
    margin-right: 18px;
    font-size: 22px;
}
#GETNOW-DISABLE{
    margin: 8px 0px;
    padding: 5px;
    font-size: 20PX;
    color: lightgrey;
    font-weight: 700;
}
#VALUE-TEXT{
    /* font-size: 26PX; */
    color: white;
    /* font-weight: 500; */
}
#MAR{
    margin-top: 30PX;
}
#IFLEX{
    display: flex;
    justify-content: space-evenly;
}
/* --------------------------------------------------------------       RIGHT  SIDE     -------------------------------------------- */
#PART1{
  padding: 22PX 10PX;
  background-color: WHITE;
  border-radius: 12PX;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
#PROFILE-IMG{
    background-color: WHITE;
    border-radius: 12PX;
    align-items: center;
    padding: 20PX;
    display: flex;
     justify-content: end;
  
  }
#PART2{
    background-color: rgb(175, 32, 34);
    border-radius: 12px;
}
/* ----------------------  UPDATIONS  ------------------------------ */
#MAIN{
    display: flex;
    justify-content:center;
     align-items: center;
     position: relative;
     /* border: 2px solid green; */
}
#USER{
    /* height: 80PX ; */
    width: 220PX;
    /* border: 1PX solid grey; */
    border-radius: 25PX;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(241, 246, 252);
    position: absolute;
}
#USER-IMG{
        border: 3PX solid  white;
        /* height: 70PX; */
        /* width: 70PX; */
        border-radius: 50%;
        background-image: url(images/Section_04-01-01.png);
    background-size: 100% 100%;
}
#DROP-ICONS{
    color: GREY;
}
#PROFILE{
    display: none;
    border: 1PX solid gray;
    background-color: white;
    border-radius: 8px;
    position: absolute;
    top: 45px;
    left: 39%;
}
#PROFILE i{
    color:  rgb(175, 32, 34);
}
#PROFILE a{
    text-decoration: none;
    color: grey;
}
#GOTO{
    padding: 1PX 14PX;
    margin: 2PX 5PX;
    border-radius: 8PX;
}

#LOGOUT{
    padding: 1PX 14PX;
    margin: 2PX 5PX;
    border-radius: 8PX;
    color: gray;
}
#LOGOUT:hover, #LOGOUT a:hover, #GOTO:hover, #GOTO a:hover{
    background-color: rgb(244, 248, 255);
    color: black;

}
#STEP1,#STEP2,#STEP3,#STEP4{
    /* color: white; */
    color:rgb(240, 171, 171);
    cursor: pointer;
}
#STEP1 b,#STEP2 b,#STEP3 b,#STEP4 b{
    color: white;
}

#BELOW1{
    color: white;
    display: block;
}

#BELOW1,#BELOW2,#BELOW3,#BELOW4{
    display: none;
}
#FIELDS{
    /* border: 1PX solid black; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 5px;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    margin: 15px 8px;
    border: 1px solid white;
}
#FIELDS:hover{
    border: 1px solid black;
}
#FIELDS-BOXES{
    width: 99%; 
    /* border: 1PX solid RED; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.MINI-BOXES{
    display: flex;
    /* border: 1PX solid black; */
    text-align: center;
    padding: 2PX 2PX;
    border-radius: 8PX;
    margin: 4PX 1PX;
    border: 1PX solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}
.MINI-BOXES:hover{
    background-color: rgb(249, 249, 249);
    border: 1PX solid lightslategray;
}
.MINI-BOXES img{
    height: 20PX;
    width: 20PX;
}

#FAQ-ACCORDIANS{
    background-image: url('/images/Background.png');
    background-size: 100% 100%;
    /* border: 1px solid black; */
}




