#BEST {
    background-image: url('/images/Newsletter_img.png');
    background-size: 100% 100%;
    width: 1100PX;
    height: 452PX;
    display: flex;
    justify-content: center;

}

.input-container {
    
    background-color: rgb(214, 34, 34);
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    /* height: 100px; */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-container i {
    font-size: 24px;
    /* margin-right: 10px; */
    /* width: 80%; */
    color: #333;
}

#MAIN lable{
    color: black; 
    font-weight: 600
}
#MAIN i{
    color: black; 
    font-weight: 600;
    font-size: 30px;
}
#MAIN g{
    color: red;
}
#MAIN div{
    background-color: rgb(250, 250, 250);
}
#MAIN input{
    background-color: rgb(250, 250, 250);
}
.LABLES div{
    background-color: rgb(250, 250, 250);
}
#INNER{
    border: none;
    outline: none;

}

#COM{
    font-size: 20PX;
    font-size: 500;
    height: 50px;
    /* border: 2px solid red; */
    padding: 10px;
    text-align: center; 
    text-decoration: none;
    background:  rgb(175, 32, 34);
    border-radius: 12PX;
    /* font-size: 18px; */
    color: white;
 }
 #COM:hover{
    background: black; 
    cursor: pointer;
 }

 .HH{
    width:100%;
    padding:12px 20px;
    margin:8px 0px;
    display:inline-block;
    border-radius:4px;
    border:1px solid rgb(233, 233, 233);
    box-sizing:border-box;
    cursor:pointer;
        }